# [dbo].[appointments]

In [0]:
USE [SqlQueries]
GO

In [0]:
/****** Object:  Table [dbo].[appointments]    Script Date: 4.05.2025 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[appointment_id] [int] NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL,
	[appointment_date] [date] NULL,
	[diagnosis] [text] NULL,
	[treatment_outcome] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[doctors]

In [0]:
/****** Object:  Table [dbo].[doctors]    Script Date: 4.05.2025 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[doctor_id] [int] NOT NULL,
	[name] [varchar](100) NULL,
	[specialty] [varchar](50) NULL,
	[hire_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[patients]

In [0]:
/****** Object:  Table [dbo].[patients]    Script Date: 4.05.2025 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[patient_id] [int] NOT NULL,
	[name] [varchar](100) NULL,
	[gender] [varchar](10) NULL,
	[birth_date] [date] NULL,
	[registration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[treatments]

In [0]:
/****** Object:  Table [dbo].[treatments]    Script Date: 4.05.2025 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatments](
	[treatment_id] [int] NOT NULL,
	[appointment_id] [int] NULL,
	[treatment_description] [text] NULL,
	[treatment_duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[treatment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[appointments]

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1, 130, 52, CAST(N'2021-03-20' AS Date), N'Build measure cold recently population miss site.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (2, 107, 96, CAST(N'2022-11-28' AS Date), N'Benefit late born share yeah edge method.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (3, 71, 84, CAST(N'2021-07-06' AS Date), N'Free source someone.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (4, 372, 70, CAST(N'2021-03-21' AS Date), N'Maybe large little either.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (5, 865, 93, CAST(N'2023-09-10' AS Date), N'Officer attack business his budget environment system.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (6, 702, 75, CAST(N'2020-06-17' AS Date), N'Avoid with like look prove vote.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (7, 634, 40, CAST(N'2020-10-13' AS Date), N'End push history.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (8, 699, 17, CAST(N'2020-01-29' AS Date), N'Mr available identify blue sign.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (9, 77, 75, CAST(N'2024-07-21' AS Date), N'Cultural play itself song against analysis science.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (10, 693, 28, CAST(N'2020-08-26' AS Date), N'Compare country heavy exist us well natural including.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (11, 862, 99, CAST(N'2020-09-23' AS Date), N'Father practice one all.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (12, 374, 38, CAST(N'2022-08-13' AS Date), N'All beautiful clear plan quality.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (13, 160, 49, CAST(N'2022-12-23' AS Date), N'Manage sport site information far thing get garden.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (14, 416, 16, CAST(N'2021-03-23' AS Date), N'Student behind choice firm.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (15, 149, 35, CAST(N'2022-12-17' AS Date), N'Listen his name doctor moment nearly true individual.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (16, 683, 88, CAST(N'2021-12-05' AS Date), N'Across talk number none first soldier third.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (17, 619, 2, CAST(N'2024-05-11' AS Date), N'Program car stand body both sport compare goal.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (18, 976, 2, CAST(N'2022-06-27' AS Date), N'Civil open environment red enough respond meeting.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (19, 136, 49, CAST(N'2021-03-23' AS Date), N'News enjoy training PM capital leg can time.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (20, 576, 13, CAST(N'2021-03-29' AS Date), N'Interesting manage that.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (21, 32, 100, CAST(N'2020-04-06' AS Date), N'Her project then president fine everything group.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (22, 613, 87, CAST(N'2024-03-25' AS Date), N'Start serious investment drug within guy.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (23, 283, 48, CAST(N'2024-09-06' AS Date), N'Drug at wear move price financial.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (24, 416, 78, CAST(N'2024-06-30' AS Date), N'Two million his benefit able able.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (25, 55, 13, CAST(N'2020-11-22' AS Date), N'Describe at case contain.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (26, 798, 5, CAST(N'2024-03-30' AS Date), N'Middle evening look consider.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (27, 722, 90, CAST(N'2023-04-17' AS Date), N'Possible back view claim.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (28, 832, 6, CAST(N'2021-02-13' AS Date), N'Spring task blood various design.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (29, 602, 18, CAST(N'2022-12-22' AS Date), N'Actually treatment kind court heavy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (30, 521, 98, CAST(N'2020-09-29' AS Date), N'Head her this particularly create account.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (31, 565, 35, CAST(N'2022-03-26' AS Date), N'Close may life thing bar.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (32, 931, 84, CAST(N'2021-01-27' AS Date), N'Rich truth smile resource nation minute affect message.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (33, 822, 61, CAST(N'2022-04-01' AS Date), N'Company campaign pull magazine.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (34, 252, 80, CAST(N'2024-07-27' AS Date), N'Argue college society professor issue.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (35, 109, 72, CAST(N'2022-09-10' AS Date), N'Get share play out data.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (36, 893, 21, CAST(N'2022-12-18' AS Date), N'Nation form news science.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (37, 796, 6, CAST(N'2022-01-24' AS Date), N'Expect statement age position easy fish anything.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (38, 322, 55, CAST(N'2021-12-30' AS Date), N'Report something if much dark since.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (39, 355, 33, CAST(N'2020-07-14' AS Date), N'Seven structure compare election religious.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (40, 641, 99, CAST(N'2021-04-24' AS Date), N'Speech property hit source.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (41, 632, 56, CAST(N'2022-07-11' AS Date), N'Pm day local challenge among.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (42, 386, 46, CAST(N'2022-07-20' AS Date), N'Area art government road least like.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (43, 773, 44, CAST(N'2020-03-09' AS Date), N'Course focus tree federal visit run eat.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (44, 818, 90, CAST(N'2023-07-05' AS Date), N'Technology everyone entire near.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (45, 651, 79, CAST(N'2022-12-03' AS Date), N'Price growth media later.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (46, 148, 8, CAST(N'2022-05-24' AS Date), N'Computer other per level.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (47, 690, 15, CAST(N'2020-07-06' AS Date), N'Your human entire pressure man prove.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (48, 177, 70, CAST(N'2023-05-15' AS Date), N'Heart media both actually major enjoy success be.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (49, 641, 63, CAST(N'2021-12-20' AS Date), N'Six deep general conference.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (50, 776, 91, CAST(N'2024-12-24' AS Date), N'Nor doctor they sign industry.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (51, 999, 75, CAST(N'2020-10-13' AS Date), N'Card foreign couple free management fine record always.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (52, 492, 27, CAST(N'2024-02-25' AS Date), N'Computer probably couple western through.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (53, 647, 23, CAST(N'2020-07-21' AS Date), N'Nothing region condition send read stock me him.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (54, 734, 30, CAST(N'2021-12-05' AS Date), N'First care thing parent.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (55, 255, 43, CAST(N'2020-10-18' AS Date), N'Course light should report next either finally.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (56, 673, 32, CAST(N'2022-01-19' AS Date), N'Sea fear ground record prove.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (57, 473, 96, CAST(N'2024-03-17' AS Date), N'Much poor statement issue energy.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (58, 379, 64, CAST(N'2022-09-02' AS Date), N'Television car threat nor attention front science knowledge.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (59, 792, 85, CAST(N'2021-04-02' AS Date), N'Whom think page early.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (60, 960, 25, CAST(N'2023-09-18' AS Date), N'College Congress could speech.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (61, 452, 52, CAST(N'2023-03-23' AS Date), N'Measure table response.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (62, 124, 74, CAST(N'2022-08-01' AS Date), N'Quickly management physical.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (63, 950, 35, CAST(N'2022-09-15' AS Date), N'Miss unit product staff international.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (64, 154, 2, CAST(N'2020-02-28' AS Date), N'Pay fight air least history material great.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (65, 425, 14, CAST(N'2023-04-11' AS Date), N'Article reflect forget notice all child.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (66, 669, 10, CAST(N'2020-12-24' AS Date), N'Particular level difficult arrive past clearly law.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (67, 470, 99, CAST(N'2022-11-28' AS Date), N'Cup note however.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (68, 684, 65, CAST(N'2024-09-20' AS Date), N'I through society read star fund bill.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (69, 940, 20, CAST(N'2021-12-11' AS Date), N'Allow baby glass we goal amount.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (70, 996, 68, CAST(N'2022-02-19' AS Date), N'Itself practice yeah see social.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (71, 970, 33, CAST(N'2022-07-27' AS Date), N'Price real now job.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (72, 476, 51, CAST(N'2023-12-19' AS Date), N'Benefit job near might left school.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (73, 722, 95, CAST(N'2023-05-01' AS Date), N'Of court word remain technology first way brother.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (74, 551, 90, CAST(N'2020-08-04' AS Date), N'Small himself nice.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (75, 6, 70, CAST(N'2020-04-10' AS Date), N'Thus around foreign join start leader camera.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (76, 434, 21, CAST(N'2022-08-28' AS Date), N'Small business positive student.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (77, 184, 44, CAST(N'2022-02-25' AS Date), N'Institution nice only red.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (78, 245, 10, CAST(N'2022-06-18' AS Date), N'Meet share until seem level decade six court.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (79, 958, 72, CAST(N'2020-04-23' AS Date), N'Same share wrong white compare.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (80, 180, 49, CAST(N'2021-06-12' AS Date), N'Few be state most process color collection.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (81, 23, 66, CAST(N'2021-01-24' AS Date), N'Speak fund process subject discussion increase.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (82, 438, 31, CAST(N'2023-09-21' AS Date), N'Similar see discuss.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (83, 959, 67, CAST(N'2023-02-28' AS Date), N'Born person air opportunity.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (84, 195, 90, CAST(N'2022-08-03' AS Date), N'Rate own soon keep.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (85, 708, 79, CAST(N'2023-09-03' AS Date), N'Chair hair take serious none strong within next.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (86, 550, 10, CAST(N'2021-05-25' AS Date), N'Security age plan seven experience begin green.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (87, 408, 100, CAST(N'2023-05-05' AS Date), N'Ever report argue word full give should.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (88, 122, 73, CAST(N'2024-11-16' AS Date), N'Enough senior director herself class pass leader.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (89, 50, 50, CAST(N'2021-02-08' AS Date), N'Plan save house country thought card phone.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (90, 574, 13, CAST(N'2022-04-14' AS Date), N'Good song will task somebody behind.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (91, 835, 62, CAST(N'2024-04-08' AS Date), N'Floor finally they effort lawyer.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (92, 531, 31, CAST(N'2023-04-05' AS Date), N'Region actually value recognize.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (93, 22, 40, CAST(N'2020-10-09' AS Date), N'Still strategy he peace share.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (94, 285, 93, CAST(N'2021-03-07' AS Date), N'Develop build white court.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (95, 171, 77, CAST(N'2020-06-21' AS Date), N'When amount thing garden reveal actually plant word.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (96, 576, 91, CAST(N'2021-01-30' AS Date), N'Watch song represent beyond.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (97, 790, 69, CAST(N'2020-12-08' AS Date), N'Heavy others quite window.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (98, 460, 65, CAST(N'2021-06-15' AS Date), N'Factor evidence think direction budget way central upon.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (99, 568, 22, CAST(N'2021-10-04' AS Date), N'Money green apply arm teacher those still ground.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (100, 405, 90, CAST(N'2021-03-15' AS Date), N'Mind experience might follow chance.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (101, 828, 26, CAST(N'2020-07-01' AS Date), N'Charge development few instead town enjoy pick person.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (102, 837, 36, CAST(N'2024-05-03' AS Date), N'Upon kind argue night a walk.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (103, 951, 20, CAST(N'2021-06-27' AS Date), N'Consider authority dream large production face everyone.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (104, 581, 36, CAST(N'2023-11-12' AS Date), N'Rock space major where.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (105, 800, 93, CAST(N'2022-09-26' AS Date), N'Also world contain lawyer meet image.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (106, 86, 94, CAST(N'2022-11-13' AS Date), N'Authority action organization without.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (107, 345, 19, CAST(N'2023-01-26' AS Date), N'Democratic candidate oil car suggest.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (108, 262, 33, CAST(N'2020-09-29' AS Date), N'Pull such argue ahead type professor.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (109, 394, 36, CAST(N'2022-04-05' AS Date), N'Reach large case.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (110, 479, 2, CAST(N'2024-09-20' AS Date), N'Short also modern contain party.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (111, 977, 17, CAST(N'2021-05-30' AS Date), N'Service figure along blue.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (112, 232, 26, CAST(N'2020-09-28' AS Date), N'Through boy sit base forget.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (113, 821, 75, CAST(N'2024-01-10' AS Date), N'From key give short research.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (114, 634, 26, CAST(N'2020-01-21' AS Date), N'Run number subject address.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (115, 440, 92, CAST(N'2022-09-25' AS Date), N'Time family week person worry necessary.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (116, 592, 18, CAST(N'2024-07-07' AS Date), N'Skin task half shake investment town travel.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (117, 472, 51, CAST(N'2024-03-30' AS Date), N'Quickly better start southern.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (118, 201, 11, CAST(N'2021-01-11' AS Date), N'Today report or goal sign series particularly individual.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (119, 958, 10, CAST(N'2024-07-03' AS Date), N'Item speech rich.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (120, 806, 86, CAST(N'2022-12-12' AS Date), N'Produce whom heart available forget.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (121, 31, 96, CAST(N'2020-11-23' AS Date), N'Level role information relate time very.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (122, 392, 54, CAST(N'2020-02-18' AS Date), N'Tend project contain ball.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (123, 141, 76, CAST(N'2022-12-27' AS Date), N'People become laugh election six value station your.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (124, 133, 87, CAST(N'2023-09-22' AS Date), N'Later attorney debate air in.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (125, 560, 10, CAST(N'2024-03-12' AS Date), N'Former push inside high hair beat.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (126, 871, 49, CAST(N'2022-08-02' AS Date), N'Morning newspaper account everything grow agreement yard.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (127, 293, 26, CAST(N'2022-02-15' AS Date), N'Watch paper key too walk rest.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (128, 737, 51, CAST(N'2024-05-05' AS Date), N'Several there decide garden issue relate simply.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (129, 768, 23, CAST(N'2020-04-15' AS Date), N'Table nor challenge involve.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (130, 305, 91, CAST(N'2022-08-02' AS Date), N'Authority long dream ability ahead.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (131, 357, 63, CAST(N'2024-01-11' AS Date), N'Foreign our old improve yet.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (132, 299, 12, CAST(N'2023-04-12' AS Date), N'Project garden just method year couple.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (133, 848, 39, CAST(N'2024-09-28' AS Date), N'Fear technology believe maintain go how standard produce.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (134, 723, 60, CAST(N'2020-06-04' AS Date), N'Hotel win say case.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (135, 298, 80, CAST(N'2022-07-26' AS Date), N'Next minute should receive increase under.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (136, 106, 79, CAST(N'2022-12-19' AS Date), N'Do scientist heart particularly account.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (137, 773, 57, CAST(N'2023-12-30' AS Date), N'Explain share environment turn day.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (138, 634, 8, CAST(N'2023-10-25' AS Date), N'Somebody even reveal.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (139, 849, 41, CAST(N'2020-06-09' AS Date), N'Marriage main pattern difficult.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (140, 832, 17, CAST(N'2023-05-28' AS Date), N'College trip fact lawyer choice toward.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (141, 842, 14, CAST(N'2023-03-30' AS Date), N'Physical claim degree affect pick.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (142, 875, 56, CAST(N'2024-12-01' AS Date), N'Partner guess task focus mother fund.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (143, 601, 32, CAST(N'2020-04-17' AS Date), N'She shake behavior address ago reach sport.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (144, 213, 65, CAST(N'2020-07-08' AS Date), N'Perform in story body might analysis.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (145, 407, 16, CAST(N'2023-10-03' AS Date), N'Analysis able rock fall as.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (146, 218, 50, CAST(N'2021-09-22' AS Date), N'Husband throw tree especially take actually land apply.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (147, 946, 67, CAST(N'2022-11-01' AS Date), N'Reason necessary allow collection weight product.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (148, 834, 92, CAST(N'2022-04-21' AS Date), N'System across cell.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (149, 261, 93, CAST(N'2020-01-06' AS Date), N'Member popular option.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (150, 735, 16, CAST(N'2024-02-21' AS Date), N'Region represent maintain free return defense each pretty.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (151, 782, 73, CAST(N'2024-06-19' AS Date), N'Real begin reason can.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (152, 679, 62, CAST(N'2023-09-22' AS Date), N'Send simple election guess cell once dream.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (153, 629, 30, CAST(N'2020-05-16' AS Date), N'Mouth show similar question evidence according second.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (154, 39, 82, CAST(N'2024-06-28' AS Date), N'Court skill good friend may option.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (155, 688, 86, CAST(N'2023-01-05' AS Date), N'Clearly official take training maintain.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (156, 515, 30, CAST(N'2021-08-14' AS Date), N'Into answer thank as past inside hit foreign.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (157, 991, 36, CAST(N'2020-06-12' AS Date), N'Yourself than throw yourself.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (158, 432, 52, CAST(N'2023-09-21' AS Date), N'Individual never situation score from find among.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (159, 506, 13, CAST(N'2024-08-22' AS Date), N'Just rise serve word.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (160, 851, 17, CAST(N'2021-09-29' AS Date), N'Yes high business mind.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (161, 573, 3, CAST(N'2022-08-31' AS Date), N'Team marriage nor focus better better during.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (162, 772, 6, CAST(N'2021-03-18' AS Date), N'And stuff article worry range fight.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (163, 220, 51, CAST(N'2023-02-10' AS Date), N'Store certainly two see turn.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (164, 552, 44, CAST(N'2020-05-09' AS Date), N'Single computer short remember job.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (165, 97, 10, CAST(N'2023-05-26' AS Date), N'Decide decide series money company.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (166, 765, 6, CAST(N'2024-02-19' AS Date), N'Past under particular example.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (167, 854, 57, CAST(N'2021-08-14' AS Date), N'Usually off example suffer crime to.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (168, 980, 23, CAST(N'2021-05-29' AS Date), N'Candidate under appear sure.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (169, 515, 25, CAST(N'2022-03-30' AS Date), N'Into very yet group.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (170, 395, 67, CAST(N'2020-11-14' AS Date), N'Responsibility he answer million.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (171, 202, 30, CAST(N'2023-06-04' AS Date), N'Lose appear under place indicate staff adult wind.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (172, 675, 76, CAST(N'2020-03-20' AS Date), N'Significant hard trial.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (173, 350, 7, CAST(N'2020-03-21' AS Date), N'Develop fear next.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (174, 46, 79, CAST(N'2020-11-22' AS Date), N'Stock he Democrat career report beyond civil.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (175, 913, 19, CAST(N'2024-01-08' AS Date), N'Two produce age long actually floor total.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (176, 481, 6, CAST(N'2021-10-17' AS Date), N'Word century buy leg theory specific.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (177, 514, 9, CAST(N'2021-08-17' AS Date), N'Positive his without know.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (178, 406, 12, CAST(N'2023-04-29' AS Date), N'Care social fight live article change a other.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (179, 816, 66, CAST(N'2020-03-08' AS Date), N'Role public Mrs agreement.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (180, 662, 39, CAST(N'2024-06-06' AS Date), N'Step drop their.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (181, 275, 46, CAST(N'2023-07-30' AS Date), N'Everything hair when degree top investment.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (182, 985, 7, CAST(N'2023-08-11' AS Date), N'Shoulder these tend must establish alone summer.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (183, 971, 62, CAST(N'2020-06-26' AS Date), N'War manager out change.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (184, 438, 39, CAST(N'2023-07-02' AS Date), N'Consider board let consumer front.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (185, 767, 41, CAST(N'2022-04-30' AS Date), N'Church maintain hear thousand shake father tax.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (186, 611, 76, CAST(N'2020-11-10' AS Date), N'Mission computer bit home building.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (187, 872, 36, CAST(N'2023-12-18' AS Date), N'Effect production community rather.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (188, 886, 78, CAST(N'2020-07-14' AS Date), N'Follow national land its.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (189, 426, 51, CAST(N'2022-08-18' AS Date), N'Life line high list.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (190, 810, 4, CAST(N'2021-12-01' AS Date), N'Free personal action community true issue.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (191, 596, 15, CAST(N'2020-02-24' AS Date), N'Rate our always yourself agree president.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (192, 588, 68, CAST(N'2022-04-03' AS Date), N'Compare few image media past daughter fish.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (193, 104, 43, CAST(N'2023-11-18' AS Date), N'Program air remain more newspaper commercial.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (194, 956, 48, CAST(N'2022-01-09' AS Date), N'Week effort manager case.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (195, 36, 82, CAST(N'2023-08-14' AS Date), N'Police billion other position manage very also.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (196, 597, 10, CAST(N'2023-04-21' AS Date), N'Especially result in edge.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (197, 918, 82, CAST(N'2021-06-22' AS Date), N'Control opportunity degree perhaps much.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (198, 868, 70, CAST(N'2020-07-17' AS Date), N'Edge dark rate case.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (199, 343, 65, CAST(N'2023-10-02' AS Date), N'Traditional seven place rest law political trouble music.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (200, 4, 21, CAST(N'2023-10-17' AS Date), N'Individual outside coach foreign.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (201, 370, 28, CAST(N'2023-12-27' AS Date), N'Sense color happy tax take produce.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (202, 918, 75, CAST(N'2024-07-05' AS Date), N'Sure prevent for Democrat during example.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (203, 604, 14, CAST(N'2022-12-05' AS Date), N'Measure nothing senior may lot send the.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (204, 325, 66, CAST(N'2023-10-11' AS Date), N'Remember word economic catch.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (205, 842, 47, CAST(N'2020-11-02' AS Date), N'Scene alone success step.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (206, 873, 34, CAST(N'2023-01-22' AS Date), N'Rise your energy every high budget because.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (207, 378, 5, CAST(N'2024-06-17' AS Date), N'Table want dog year attorney whose.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (208, 65, 99, CAST(N'2023-08-04' AS Date), N'Deal type glass especially determine.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (209, 253, 34, CAST(N'2021-10-03' AS Date), N'Bit young culture dog.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (210, 564, 37, CAST(N'2023-03-03' AS Date), N'Walk own rule.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (211, 805, 80, CAST(N'2021-01-24' AS Date), N'Range baby learn forward fall quite miss this.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (212, 77, 91, CAST(N'2020-06-06' AS Date), N'After store easy seem.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (213, 927, 35, CAST(N'2024-11-29' AS Date), N'Young police whose heart together modern.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (214, 86, 17, CAST(N'2024-12-04' AS Date), N'At civil data skin first.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (215, 565, 93, CAST(N'2021-02-22' AS Date), N'Hot fish still customer race leave.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (216, 270, 31, CAST(N'2020-10-10' AS Date), N'Debate fund many human what above.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (217, 102, 36, CAST(N'2022-04-30' AS Date), N'Front kind put recent pull maintain reach.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (218, 492, 7, CAST(N'2020-04-19' AS Date), N'Discussion poor few positive late environment must.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (219, 525, 39, CAST(N'2023-08-16' AS Date), N'Could our add.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (220, 842, 70, CAST(N'2023-03-05' AS Date), N'Someone employee training senior another.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (221, 564, 41, CAST(N'2022-10-05' AS Date), N'Where receive try.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (222, 949, 38, CAST(N'2023-10-24' AS Date), N'Food main mention report enjoy claim.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (223, 137, 5, CAST(N'2022-01-07' AS Date), N'Difficult image land resource hit ability couple.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (224, 834, 47, CAST(N'2021-10-04' AS Date), N'Recently there statement approach.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (225, 39, 4, CAST(N'2020-11-22' AS Date), N'Protect measure deal.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (226, 428, 96, CAST(N'2024-01-05' AS Date), N'Assume conference and station support responsibility sport.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (227, 909, 72, CAST(N'2020-04-17' AS Date), N'Democratic company cell common identify often ability.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (228, 724, 76, CAST(N'2022-11-25' AS Date), N'Spring until seven Democrat bag school.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (229, 680, 81, CAST(N'2022-04-27' AS Date), N'Especially million still society.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (230, 435, 24, CAST(N'2024-12-29' AS Date), N'On once Congress better off.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (231, 239, 15, CAST(N'2024-02-01' AS Date), N'Customer million activity start vote.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (232, 134, 76, CAST(N'2023-10-17' AS Date), N'Trial tend fish small lot yeah bit.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (233, 126, 93, CAST(N'2020-05-16' AS Date), N'Little arrive forward reality east.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (234, 470, 26, CAST(N'2020-08-17' AS Date), N'Benefit apply pattern bill benefit exactly.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (235, 370, 59, CAST(N'2024-05-24' AS Date), N'Much paper local in resource.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (236, 950, 79, CAST(N'2020-01-23' AS Date), N'Its maintain return five picture collection guy attack.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (237, 364, 29, CAST(N'2023-01-22' AS Date), N'House my reflect sense she happen.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (238, 10, 2, CAST(N'2022-06-10' AS Date), N'Decide Democrat sell under tough play again lawyer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (239, 34, 22, CAST(N'2024-02-18' AS Date), N'Control month news town.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (240, 921, 71, CAST(N'2020-11-30' AS Date), N'Away board able side half run.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (241, 10, 30, CAST(N'2022-12-02' AS Date), N'Out hope country social.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (242, 537, 23, CAST(N'2024-07-25' AS Date), N'Between final deal rather law eight white.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (243, 969, 68, CAST(N'2020-10-25' AS Date), N'Thousand much amount picture local theory statement.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (244, 215, 57, CAST(N'2022-01-28' AS Date), N'Sit bag stuff somebody owner.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (245, 249, 63, CAST(N'2021-01-28' AS Date), N'Hour media better collection range.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (246, 381, 42, CAST(N'2021-07-19' AS Date), N'Sign plan early impact always.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (247, 968, 84, CAST(N'2023-08-16' AS Date), N'If shake everybody remember compare receive.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (248, 200, 77, CAST(N'2021-09-29' AS Date), N'World official health itself happy but.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (249, 193, 88, CAST(N'2020-04-07' AS Date), N'Season use condition seven road.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (250, 305, 75, CAST(N'2024-03-10' AS Date), N'Nice institution them he then coach consumer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (251, 629, 61, CAST(N'2021-10-17' AS Date), N'With land music business prevent tree administration.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (252, 24, 63, CAST(N'2021-02-10' AS Date), N'Final every news laugh point single.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (253, 953, 14, CAST(N'2023-06-20' AS Date), N'Sing total dream painting prove daughter story.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (254, 641, 74, CAST(N'2020-02-22' AS Date), N'Person reduce card last wish.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (255, 635, 56, CAST(N'2021-08-24' AS Date), N'Meet base development not.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (256, 597, 44, CAST(N'2022-12-05' AS Date), N'Fall open of expert exactly necessary week.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (257, 76, 83, CAST(N'2024-06-14' AS Date), N'Concern see coach investment.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (258, 200, 90, CAST(N'2023-06-16' AS Date), N'Huge training include no spend form.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (259, 824, 64, CAST(N'2024-08-18' AS Date), N'Explain provide plant away.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (260, 578, 85, CAST(N'2021-03-13' AS Date), N'Seem car how wide plant.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (261, 963, 65, CAST(N'2020-08-15' AS Date), N'Capital house themselves.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (262, 615, 88, CAST(N'2021-03-11' AS Date), N'Doctor once paper economy share southern often.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (263, 590, 99, CAST(N'2023-07-06' AS Date), N'Pm message speak top.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (264, 619, 61, CAST(N'2020-08-26' AS Date), N'Child act education nature responsibility get lose.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (265, 853, 35, CAST(N'2024-01-16' AS Date), N'Yet foot thought plant.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (266, 840, 68, CAST(N'2023-07-14' AS Date), N'Them not professional scene.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (267, 577, 98, CAST(N'2020-08-16' AS Date), N'Method speak identify.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (268, 622, 70, CAST(N'2023-08-04' AS Date), N'Bring beautiful experience anyone.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (269, 262, 40, CAST(N'2023-02-24' AS Date), N'He value dream either couple fund television process.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (270, 620, 97, CAST(N'2021-08-13' AS Date), N'Back suddenly hour.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (271, 801, 59, CAST(N'2022-04-16' AS Date), N'Actually however west reach thought stuff own possible.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (272, 914, 46, CAST(N'2023-10-01' AS Date), N'Trouble imagine health relationship.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (273, 521, 57, CAST(N'2020-12-03' AS Date), N'Shoulder bed fight interesting state.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (274, 717, 61, CAST(N'2020-01-11' AS Date), N'Nation street skin stock out.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (275, 713, 81, CAST(N'2023-09-23' AS Date), N'Range cause shake reduce six.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (276, 394, 56, CAST(N'2023-02-22' AS Date), N'Along face place ago interesting body.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (277, 658, 15, CAST(N'2020-11-12' AS Date), N'Affect try young know sing.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (278, 893, 2, CAST(N'2021-01-27' AS Date), N'None us receive sure happen return.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (279, 770, 70, CAST(N'2021-02-06' AS Date), N'Camera us everybody word.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (280, 56, 40, CAST(N'2023-07-13' AS Date), N'Interesting include produce avoid speak picture.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (281, 16, 42, CAST(N'2023-03-02' AS Date), N'Out five country white grow put hear.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (282, 317, 76, CAST(N'2020-12-26' AS Date), N'Follow need trouble we bed course.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (283, 214, 92, CAST(N'2022-03-30' AS Date), N'Staff describe look above answer call hope.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (284, 337, 16, CAST(N'2021-06-20' AS Date), N'Campaign focus hit training prove certainly either east.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (285, 841, 83, CAST(N'2023-07-22' AS Date), N'Past movie anyone leg understand recognize.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (286, 132, 100, CAST(N'2023-03-24' AS Date), N'Change marriage stage.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (287, 302, 53, CAST(N'2020-02-29' AS Date), N'Pretty understand same student daughter range.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (288, 349, 30, CAST(N'2023-08-06' AS Date), N'Issue his as consumer reach degree.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (289, 986, 83, CAST(N'2020-12-05' AS Date), N'Size detail his reason green our.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (290, 707, 24, CAST(N'2020-09-14' AS Date), N'Wall sort either easy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (291, 768, 74, CAST(N'2023-12-27' AS Date), N'Sound bad none man.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (292, 375, 39, CAST(N'2024-08-23' AS Date), N'Focus wall involve.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (293, 388, 54, CAST(N'2020-06-03' AS Date), N'Special local wide scientist.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (294, 997, 60, CAST(N'2022-12-16' AS Date), N'Specific cold laugh significant seem.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (295, 963, 26, CAST(N'2024-11-21' AS Date), N'Bill move six.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (296, 961, 30, CAST(N'2023-08-06' AS Date), N'Dark leg different agreement single.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (297, 44, 80, CAST(N'2024-03-09' AS Date), N'Later nice development everybody out story off.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (298, 645, 29, CAST(N'2021-12-30' AS Date), N'Beyond half state those go live.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (299, 731, 51, CAST(N'2024-08-04' AS Date), N'Poor state cell debate save.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (300, 216, 80, CAST(N'2020-01-26' AS Date), N'Main gas these become.', N'Recovered')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (301, 738, 39, CAST(N'2021-01-18' AS Date), N'Short cell process wide draw notice federal mission.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (302, 737, 47, CAST(N'2021-08-10' AS Date), N'New choice learn direction fine network season campaign.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (303, 730, 91, CAST(N'2022-09-18' AS Date), N'Wind strong sport woman example ahead.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (304, 315, 57, CAST(N'2024-02-28' AS Date), N'Way happen amount leave right lay.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (305, 175, 87, CAST(N'2022-07-09' AS Date), N'Human quality form main after window change.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (306, 32, 48, CAST(N'2020-04-28' AS Date), N'Area PM focus democratic investment do.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (307, 568, 44, CAST(N'2021-06-01' AS Date), N'Different enter wear.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (308, 502, 41, CAST(N'2022-05-09' AS Date), N'Single letter enough letter lawyer month seek.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (309, 115, 75, CAST(N'2023-02-11' AS Date), N'Hand join wear prevent speak need performance age.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (310, 300, 71, CAST(N'2021-01-27' AS Date), N'Health American religious assume.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (311, 283, 55, CAST(N'2023-02-21' AS Date), N'Mind half reduce four.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (312, 863, 40, CAST(N'2021-03-20' AS Date), N'Environment meeting ok address shake.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (313, 655, 63, CAST(N'2021-05-26' AS Date), N'Main include benefit article.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (314, 514, 29, CAST(N'2021-09-20' AS Date), N'Mr over customer rise college note.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (315, 766, 83, CAST(N'2024-12-14' AS Date), N'Attorney stuff example throughout upon dark.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (316, 997, 34, CAST(N'2021-12-03' AS Date), N'Color knowledge economy return determine tell.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (317, 382, 30, CAST(N'2021-08-29' AS Date), N'Buy then capital.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (318, 105, 77, CAST(N'2022-07-13' AS Date), N'Serious can line benefit home here.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (319, 527, 66, CAST(N'2023-09-25' AS Date), N'Three be employee character start scientist wind rather.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (320, 133, 38, CAST(N'2020-07-02' AS Date), N'Beat short practice tree cover sign.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (321, 906, 9, CAST(N'2024-09-09' AS Date), N'Boy country only agency range new.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (322, 4, 87, CAST(N'2024-04-23' AS Date), N'Piece again two nearly stage.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (323, 434, 94, CAST(N'2022-12-27' AS Date), N'Rest compare another nor could.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (324, 873, 3, CAST(N'2023-08-25' AS Date), N'Player answer report production.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (325, 57, 2, CAST(N'2020-07-20' AS Date), N'Describe anything do instead.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (326, 551, 44, CAST(N'2021-03-03' AS Date), N'Visit memory your all.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (327, 804, 3, CAST(N'2024-02-08' AS Date), N'Thousand less single reason onto parent professional.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (328, 10, 72, CAST(N'2022-01-30' AS Date), N'Letter management could court summer letter.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (329, 481, 26, CAST(N'2023-10-27' AS Date), N'End natural language it.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (330, 303, 75, CAST(N'2023-11-19' AS Date), N'Option always now fine.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (331, 535, 33, CAST(N'2022-06-01' AS Date), N'Need toward more within west.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (332, 188, 27, CAST(N'2022-08-11' AS Date), N'Gas final number office end.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (333, 909, 8, CAST(N'2022-12-29' AS Date), N'Pretty close statement special.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (334, 994, 72, CAST(N'2023-10-23' AS Date), N'Provide city themselves bank kind rather hair.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (335, 464, 5, CAST(N'2020-05-16' AS Date), N'Military develop treatment trouble great music memory.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (336, 335, 53, CAST(N'2020-11-09' AS Date), N'Play set only deal.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (337, 17, 73, CAST(N'2020-02-27' AS Date), N'Could least former success firm condition.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (338, 518, 82, CAST(N'2021-02-26' AS Date), N'Network community brother statement better people.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (339, 780, 24, CAST(N'2020-11-21' AS Date), N'Nation cause actually impact.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (340, 231, 23, CAST(N'2024-01-24' AS Date), N'Course subject president top side.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (341, 928, 13, CAST(N'2023-12-06' AS Date), N'Management place occur bill future lead raise hold.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (342, 814, 41, CAST(N'2021-12-21' AS Date), N'Few employee protect chair.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (343, 150, 9, CAST(N'2020-12-07' AS Date), N'Team type identify research generation more.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (344, 154, 30, CAST(N'2021-12-27' AS Date), N'Until herself direction big.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (345, 766, 37, CAST(N'2023-06-09' AS Date), N'Back now great break party close.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (346, 60, 76, CAST(N'2021-01-18' AS Date), N'Morning leave machine hot affect.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (347, 454, 26, CAST(N'2020-08-14' AS Date), N'Anyone yourself firm town.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (348, 681, 24, CAST(N'2020-07-14' AS Date), N'Catch point evening ground decide garden wrong.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (349, 59, 26, CAST(N'2021-05-31' AS Date), N'Well yourself technology agreement world.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (350, 765, 94, CAST(N'2023-12-08' AS Date), N'Write nice national Congress machine.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (351, 90, 96, CAST(N'2022-09-30' AS Date), N'But thousand accept car today.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (352, 961, 37, CAST(N'2020-09-27' AS Date), N'Cultural subject station.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (353, 259, 68, CAST(N'2024-05-11' AS Date), N'Move traditional economic score expert.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (354, 893, 32, CAST(N'2022-08-01' AS Date), N'Do result change only quality one.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (355, 34, 93, CAST(N'2020-08-17' AS Date), N'Hit me whose process.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (356, 784, 25, CAST(N'2022-11-04' AS Date), N'My professional coach discuss.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (357, 359, 46, CAST(N'2020-04-30' AS Date), N'Today market land measure suffer movement.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (358, 783, 85, CAST(N'2024-03-05' AS Date), N'Usually year this clearly.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (359, 392, 87, CAST(N'2020-12-22' AS Date), N'Eat person everything already knowledge political simply.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (360, 92, 55, CAST(N'2022-02-27' AS Date), N'Tend deep per ability.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (361, 852, 63, CAST(N'2023-09-28' AS Date), N'Charge tax pull of popular.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (362, 933, 23, CAST(N'2022-07-05' AS Date), N'Everybody hope wrong south heart.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (363, 665, 15, CAST(N'2020-05-11' AS Date), N'Say fast federal wife list grow development.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (364, 75, 99, CAST(N'2024-06-16' AS Date), N'Particular who his official.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (365, 907, 36, CAST(N'2020-10-16' AS Date), N'Toward world effect painting wide return carry.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (366, 312, 43, CAST(N'2021-10-19' AS Date), N'Partner exactly control large position create house.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (367, 420, 59, CAST(N'2020-05-08' AS Date), N'Control anything any that time central.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (368, 361, 41, CAST(N'2024-12-04' AS Date), N'Hospital between job site state will serious official.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (369, 982, 61, CAST(N'2021-06-02' AS Date), N'Inside allow force help family.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (370, 18, 48, CAST(N'2021-08-16' AS Date), N'Center base consumer make institution American three.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (371, 310, 22, CAST(N'2024-06-29' AS Date), N'Effect help involve school hand serve better.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (372, 581, 17, CAST(N'2022-05-08' AS Date), N'Force pressure whether seek PM director.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (373, 729, 94, CAST(N'2020-05-21' AS Date), N'Occur item natural room.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (374, 171, 59, CAST(N'2024-10-27' AS Date), N'Film sense performance most.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (375, 643, 20, CAST(N'2024-11-15' AS Date), N'Sell space late.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (376, 165, 11, CAST(N'2020-03-31' AS Date), N'Present should difference.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (377, 260, 31, CAST(N'2022-09-26' AS Date), N'During director certainly arm near itself alone.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (378, 661, 41, CAST(N'2024-07-19' AS Date), N'Determine number wind.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (379, 284, 61, CAST(N'2023-06-15' AS Date), N'College system practice thus according.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (380, 80, 55, CAST(N'2022-11-30' AS Date), N'Hundred newspaper organization team physical born result.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (381, 564, 46, CAST(N'2021-05-23' AS Date), N'And sound create player picture stay.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (382, 939, 14, CAST(N'2024-10-29' AS Date), N'Child anything choose.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (383, 701, 41, CAST(N'2020-09-12' AS Date), N'Trade change television note.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (384, 702, 24, CAST(N'2021-07-27' AS Date), N'Door buy education yourself compare approach throughout.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (385, 548, 5, CAST(N'2023-06-29' AS Date), N'Feel national reach.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (386, 744, 25, CAST(N'2020-11-14' AS Date), N'All actually conference always and long wear.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (387, 365, 95, CAST(N'2022-04-01' AS Date), N'Season new big meet raise.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (388, 520, 46, CAST(N'2023-12-23' AS Date), N'Development shake including against simply.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (389, 643, 86, CAST(N'2023-07-29' AS Date), N'Dark project standard traditional space at.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (390, 351, 84, CAST(N'2024-02-21' AS Date), N'Really better science trip ahead try first.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (391, 190, 49, CAST(N'2023-05-03' AS Date), N'Cut moment decision tell.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (392, 278, 79, CAST(N'2021-09-03' AS Date), N'Student reason hotel health fight crime.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (393, 989, 27, CAST(N'2024-07-18' AS Date), N'Break party recent same challenge spring.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (394, 253, 39, CAST(N'2024-09-15' AS Date), N'Energy each plan deal purpose quickly pressure.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (395, 577, 52, CAST(N'2023-05-05' AS Date), N'Until woman financial pretty most high.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (396, 369, 99, CAST(N'2022-01-16' AS Date), N'Record want wrong town race.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (397, 238, 38, CAST(N'2024-12-04' AS Date), N'Off perform several staff.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (398, 583, 1, CAST(N'2021-02-12' AS Date), N'Detail hard indeed natural.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (399, 100, 18, CAST(N'2022-03-10' AS Date), N'Trip mouth understand.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (400, 378, 65, CAST(N'2023-07-11' AS Date), N'Remain write author ok plant glass executive.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (401, 145, 21, CAST(N'2022-02-09' AS Date), N'Skill loss least country statement.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (402, 78, 40, CAST(N'2021-11-14' AS Date), N'Hundred military all moment baby.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (403, 523, 66, CAST(N'2023-02-09' AS Date), N'Address machine finish step television.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (404, 615, 70, CAST(N'2020-11-11' AS Date), N'Rise such simple subject be alone.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (405, 884, 57, CAST(N'2020-01-10' AS Date), N'Detail five painting benefit explain enter player.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (406, 525, 61, CAST(N'2023-12-09' AS Date), N'Party test first popular.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (407, 525, 46, CAST(N'2020-11-15' AS Date), N'Among sound admit never would.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (408, 444, 10, CAST(N'2020-09-09' AS Date), N'Year movie law enough.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (409, 211, 30, CAST(N'2021-09-02' AS Date), N'Ground rock know history.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (410, 137, 99, CAST(N'2024-12-07' AS Date), N'Fund whatever couple dog would who long.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (411, 22, 21, CAST(N'2023-05-29' AS Date), N'Kid job be operation father factor.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (412, 372, 24, CAST(N'2020-05-01' AS Date), N'Bill quickly rise most.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (413, 803, 47, CAST(N'2023-10-23' AS Date), N'Simply consumer talk wear mission admit.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (414, 625, 31, CAST(N'2023-12-13' AS Date), N'Nothing minute before leader Democrat happy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (415, 713, 28, CAST(N'2020-07-22' AS Date), N'Plan act machine man executive.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (416, 452, 83, CAST(N'2022-11-06' AS Date), N'Nor law feel avoid theory machine half maintain.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (417, 202, 78, CAST(N'2020-02-03' AS Date), N'Real sound authority baby fine.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (418, 169, 74, CAST(N'2022-01-13' AS Date), N'Enough question project but different scene.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (419, 859, 86, CAST(N'2022-05-15' AS Date), N'Condition themselves must draw.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (420, 952, 3, CAST(N'2020-06-16' AS Date), N'Kid service kind how.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (421, 324, 62, CAST(N'2021-06-12' AS Date), N'Four contain exist.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (422, 38, 7, CAST(N'2023-01-14' AS Date), N'Face fear serve water term top.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (423, 512, 72, CAST(N'2024-12-20' AS Date), N'Room weight democratic deep federal.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (424, 139, 63, CAST(N'2020-03-08' AS Date), N'Newspaper born hold.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (425, 524, 41, CAST(N'2023-11-03' AS Date), N'Provide save director moment new.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (426, 760, 73, CAST(N'2021-11-13' AS Date), N'Red window stop father serve either.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (427, 320, 78, CAST(N'2023-04-11' AS Date), N'North sign next particularly small purpose thing money.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (428, 912, 74, CAST(N'2023-06-01' AS Date), N'There role quite fund law.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (429, 493, 44, CAST(N'2024-12-18' AS Date), N'Fear two yet minute serious could.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (430, 872, 10, CAST(N'2020-10-26' AS Date), N'Kitchen administration international all whom five could.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (431, 65, 85, CAST(N'2024-01-12' AS Date), N'Listen local probably present similar research.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (432, 880, 42, CAST(N'2020-11-05' AS Date), N'My though board write attention anything card daughter.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (433, 185, 42, CAST(N'2021-08-22' AS Date), N'Letter financial action significant.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (434, 321, 34, CAST(N'2020-09-24' AS Date), N'Natural phone prove score western idea way.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (435, 891, 40, CAST(N'2020-05-27' AS Date), N'Near possible force story able but west.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (436, 426, 2, CAST(N'2021-04-01' AS Date), N'Science him save.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (437, 167, 82, CAST(N'2023-09-09' AS Date), N'Career yard structure.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (438, 50, 15, CAST(N'2021-01-19' AS Date), N'Order hit people get last.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (439, 441, 79, CAST(N'2021-11-01' AS Date), N'But than specific.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (440, 285, 46, CAST(N'2020-05-04' AS Date), N'Where smile action.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (441, 737, 73, CAST(N'2024-01-29' AS Date), N'Only during moment doctor year later.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (442, 590, 37, CAST(N'2022-03-12' AS Date), N'Area thus feel.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (443, 263, 87, CAST(N'2021-06-11' AS Date), N'Television five effect sure production.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (444, 331, 19, CAST(N'2024-12-01' AS Date), N'Authority Mrs sport city involve would.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (445, 97, 51, CAST(N'2021-02-10' AS Date), N'Food wonder read.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (446, 535, 96, CAST(N'2024-06-15' AS Date), N'Budget market look top community note tell enjoy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (447, 714, 25, CAST(N'2021-07-25' AS Date), N'News share his born direction.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (448, 461, 20, CAST(N'2021-04-13' AS Date), N'Note space everyone court writer save computer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (449, 995, 90, CAST(N'2022-09-11' AS Date), N'Finally skin avoid assume energy.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (450, 39, 94, CAST(N'2021-01-18' AS Date), N'Culture character check hospital this moment.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (451, 254, 11, CAST(N'2020-10-08' AS Date), N'Listen central town area southern.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (452, 73, 5, CAST(N'2021-01-13' AS Date), N'Decade prevent service capital.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (453, 520, 61, CAST(N'2023-12-13' AS Date), N'Spring and firm discover because event age.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (454, 496, 90, CAST(N'2022-08-06' AS Date), N'Foreign listen else leave.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (455, 940, 67, CAST(N'2024-05-26' AS Date), N'More indeed rest senior subject fact.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (456, 577, 91, CAST(N'2021-02-17' AS Date), N'Seven who body sure deal investment.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (457, 408, 2, CAST(N'2024-09-28' AS Date), N'Politics five under.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (458, 566, 93, CAST(N'2023-07-23' AS Date), N'Responsibility benefit almost trade spring film suggest.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (459, 851, 95, CAST(N'2022-11-03' AS Date), N'Appear trouble free land across lead record medical.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (460, 170, 76, CAST(N'2023-03-21' AS Date), N'Idea sometimes present rather.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (461, 383, 7, CAST(N'2024-12-18' AS Date), N'Product give involve big.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (462, 378, 46, CAST(N'2021-07-02' AS Date), N'Talk her pattern provide open.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (463, 244, 89, CAST(N'2023-04-09' AS Date), N'Little turn close picture quite despite article.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (464, 679, 70, CAST(N'2021-11-01' AS Date), N'Open power whole or argue.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (465, 872, 12, CAST(N'2022-01-30' AS Date), N'Head often nothing stage report decision marriage.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (466, 777, 46, CAST(N'2021-02-10' AS Date), N'Teach by condition season compare such.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (467, 166, 18, CAST(N'2024-09-06' AS Date), N'Middle production sign speak identify whom.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (468, 953, 6, CAST(N'2020-05-22' AS Date), N'Keep race trade paper soon work.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (469, 581, 44, CAST(N'2022-03-17' AS Date), N'Prevent already arrive question support laugh future.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (470, 583, 63, CAST(N'2022-12-14' AS Date), N'Matter truth investment role recent collection.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (471, 9, 74, CAST(N'2022-11-10' AS Date), N'Camera fly put voice.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (472, 906, 79, CAST(N'2021-03-13' AS Date), N'Eat pay produce.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (473, 455, 84, CAST(N'2024-05-30' AS Date), N'Road when measure but evening phone.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (474, 522, 27, CAST(N'2022-02-05' AS Date), N'Under easy southern environment door.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (475, 478, 16, CAST(N'2024-10-30' AS Date), N'Range animal travel property.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (476, 269, 18, CAST(N'2022-08-08' AS Date), N'Perform project three other.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (477, 338, 17, CAST(N'2022-11-25' AS Date), N'Other difficult very probably.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (478, 825, 95, CAST(N'2024-04-15' AS Date), N'Stuff cost present economic.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (479, 543, 40, CAST(N'2020-09-17' AS Date), N'Life protect tree production act.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (480, 568, 91, CAST(N'2021-09-13' AS Date), N'Have drive share.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (481, 480, 59, CAST(N'2020-02-13' AS Date), N'Mind ask view western central apply.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (482, 566, 40, CAST(N'2024-08-23' AS Date), N'Recent enjoy choose might population huge.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (483, 533, 79, CAST(N'2023-04-09' AS Date), N'Marriage former spend indeed.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (484, 979, 40, CAST(N'2021-05-21' AS Date), N'Kid several according stage participant allow.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (485, 863, 27, CAST(N'2023-01-06' AS Date), N'Manager popular interest gun score draw military compare.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (486, 690, 20, CAST(N'2024-04-07' AS Date), N'Cost direction buy idea military reflect fly.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (487, 7, 44, CAST(N'2024-07-08' AS Date), N'Think save nothing avoid challenge.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (488, 436, 49, CAST(N'2023-05-29' AS Date), N'This machine must newspaper respond.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (489, 671, 66, CAST(N'2024-12-27' AS Date), N'Enjoy staff member soon try whom.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (490, 184, 80, CAST(N'2022-08-10' AS Date), N'West dog say discover.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (491, 461, 69, CAST(N'2024-01-22' AS Date), N'By food own card establish just.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (492, 373, 27, CAST(N'2023-11-05' AS Date), N'Town analysis score energy performance along.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (493, 88, 93, CAST(N'2023-10-17' AS Date), N'Feel soldier say worker politics might.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (494, 100, 69, CAST(N'2020-12-24' AS Date), N'Decade billion main single theory.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (495, 141, 57, CAST(N'2020-01-30' AS Date), N'Sport image defense support consumer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (496, 187, 61, CAST(N'2020-06-23' AS Date), N'Discussion opportunity able ahead American.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (497, 535, 76, CAST(N'2020-06-04' AS Date), N'Mr along produce again wait.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (498, 602, 25, CAST(N'2024-05-17' AS Date), N'Type cause unit of.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (499, 461, 63, CAST(N'2023-11-21' AS Date), N'Main former base way out office himself glass.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (500, 298, 45, CAST(N'2024-04-22' AS Date), N'Street information process range support house discuss.', N'Recovered')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (501, 863, 77, CAST(N'2024-03-14' AS Date), N'Scientist forget work fill.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (502, 185, 100, CAST(N'2024-08-21' AS Date), N'Just fear suffer low approach would.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (503, 570, 8, CAST(N'2021-11-06' AS Date), N'System executive executive those money every hope.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (504, 67, 71, CAST(N'2021-01-19' AS Date), N'Room student between.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (505, 457, 41, CAST(N'2020-03-07' AS Date), N'Security financial imagine listen wall simply.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (506, 344, 96, CAST(N'2024-11-22' AS Date), N'Audience pass young according.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (507, 398, 7, CAST(N'2024-10-07' AS Date), N'Newspaper race suffer by concern born.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (508, 480, 36, CAST(N'2023-11-14' AS Date), N'Check culture together international serve foreign.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (509, 477, 43, CAST(N'2020-10-12' AS Date), N'Reality record buy wrong and ask military.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (510, 99, 22, CAST(N'2024-02-19' AS Date), N'Face really condition drop color.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (511, 555, 55, CAST(N'2023-07-07' AS Date), N'Either art role month ground pretty as.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (512, 759, 62, CAST(N'2023-02-14' AS Date), N'Per student minute memory might citizen herself level.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (513, 153, 41, CAST(N'2024-06-11' AS Date), N'Bag action state stand method family clearly.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (514, 359, 18, CAST(N'2021-03-27' AS Date), N'Add suddenly court difficult radio order although.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (515, 199, 29, CAST(N'2022-12-31' AS Date), N'As between fish wish within.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (516, 909, 59, CAST(N'2023-01-13' AS Date), N'Newspaper item action.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (517, 899, 20, CAST(N'2023-03-17' AS Date), N'Natural today toward her collection road citizen.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (518, 716, 14, CAST(N'2021-06-04' AS Date), N'Radio hotel people machine month popular less.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (519, 54, 59, CAST(N'2023-11-16' AS Date), N'About small evening.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (520, 384, 72, CAST(N'2023-12-14' AS Date), N'Imagine little method movie east drive.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (521, 961, 36, CAST(N'2021-03-08' AS Date), N'Write one individual necessary.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (522, 15, 50, CAST(N'2023-04-14' AS Date), N'Protect trade Mr four politics.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (523, 734, 58, CAST(N'2021-12-25' AS Date), N'Many you politics game fine remember hospital.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (524, 759, 92, CAST(N'2024-04-09' AS Date), N'President mission his second role yeah.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (525, 660, 75, CAST(N'2020-05-17' AS Date), N'Necessary response section.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (526, 321, 97, CAST(N'2021-08-10' AS Date), N'Source bad policy act entire.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (527, 179, 13, CAST(N'2023-01-14' AS Date), N'Within model too.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (528, 185, 58, CAST(N'2021-08-31' AS Date), N'Daughter edge imagine what if indicate particularly.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (529, 470, 14, CAST(N'2023-12-10' AS Date), N'Beautiful tax different adult.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (530, 127, 69, CAST(N'2022-10-17' AS Date), N'Direction support whether once since.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (531, 324, 64, CAST(N'2024-08-13' AS Date), N'Night learn season growth friend.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (532, 573, 82, CAST(N'2020-12-09' AS Date), N'Let American total animal occur break card head.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (533, 742, 75, CAST(N'2020-10-29' AS Date), N'Bed cup pull half.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (534, 576, 76, CAST(N'2024-02-11' AS Date), N'Write resource sense strategy.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (535, 332, 63, CAST(N'2020-10-26' AS Date), N'Attorney black process purpose.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (536, 404, 69, CAST(N'2022-01-26' AS Date), N'Alone meet land western clear black.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (537, 171, 31, CAST(N'2021-07-06' AS Date), N'Want professor there whom generation on.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (538, 205, 77, CAST(N'2024-09-08' AS Date), N'Check authority happy political morning voice level so.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (539, 53, 100, CAST(N'2023-11-23' AS Date), N'Sometimes personal industry article.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (540, 928, 80, CAST(N'2020-12-29' AS Date), N'Family force probably room admit hour job.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (541, 337, 54, CAST(N'2022-03-20' AS Date), N'Himself now become speech drug who fine bar.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (542, 353, 47, CAST(N'2024-10-26' AS Date), N'Your common mention medical.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (543, 615, 77, CAST(N'2022-07-22' AS Date), N'Specific believe forward everything point.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (544, 894, 53, CAST(N'2023-11-05' AS Date), N'Skill pattern assume oil really environmental cell.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (545, 806, 37, CAST(N'2020-09-17' AS Date), N'Population build would though character want.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (546, 322, 51, CAST(N'2022-10-25' AS Date), N'Resource citizen behavior entire capital list.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (547, 394, 86, CAST(N'2020-11-20' AS Date), N'Fear age base sort of then.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (548, 9, 50, CAST(N'2024-03-29' AS Date), N'Then sound condition strategy available.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (549, 924, 45, CAST(N'2020-01-12' AS Date), N'Project stop growth mention prevent spring.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (550, 803, 100, CAST(N'2020-07-21' AS Date), N'Wide everybody physical value decide.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (551, 860, 29, CAST(N'2024-01-24' AS Date), N'Avoid image it spring upon learn step.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (552, 68, 79, CAST(N'2022-06-25' AS Date), N'Blue cut benefit writer financial.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (553, 394, 27, CAST(N'2020-06-15' AS Date), N'Five party late hundred significant.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (554, 893, 38, CAST(N'2020-12-30' AS Date), N'Interview campaign everybody growth two war.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (555, 445, 1, CAST(N'2023-08-02' AS Date), N'Relationship man simply floor page early.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (556, 96, 53, CAST(N'2024-04-27' AS Date), N'Indicate often reach while perhaps movie human.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (557, 115, 69, CAST(N'2020-08-26' AS Date), N'Cover seem get card fly.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (558, 838, 23, CAST(N'2020-05-28' AS Date), N'Anyone red medical.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (559, 148, 49, CAST(N'2020-12-08' AS Date), N'Free middle officer design bank.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (560, 334, 70, CAST(N'2020-08-10' AS Date), N'Wind week result six.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (561, 968, 90, CAST(N'2022-10-27' AS Date), N'Camera young bed produce realize first throw.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (562, 997, 36, CAST(N'2021-10-02' AS Date), N'Defense then protect always.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (563, 199, 21, CAST(N'2024-06-27' AS Date), N'Show turn down maybe adult lay yet.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (564, 994, 69, CAST(N'2022-03-14' AS Date), N'Almost candidate local machine piece population near.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (565, 988, 19, CAST(N'2020-03-05' AS Date), N'East author actually soldier century this movie.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (566, 453, 75, CAST(N'2021-08-11' AS Date), N'Able care speech year voice.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (567, 134, 56, CAST(N'2020-12-31' AS Date), N'Company seat leg century through first will.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (568, 871, 43, CAST(N'2024-09-08' AS Date), N'Fear others produce trip effect.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (569, 813, 94, CAST(N'2022-03-11' AS Date), N'Work choose image foot.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (570, 698, 41, CAST(N'2023-02-01' AS Date), N'Enter yes worker power.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (571, 141, 3, CAST(N'2023-04-19' AS Date), N'Type sometimes evening.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (572, 798, 23, CAST(N'2024-08-28' AS Date), N'Good security movement and term realize agency.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (573, 241, 89, CAST(N'2020-04-28' AS Date), N'Office account much.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (574, 607, 63, CAST(N'2022-02-25' AS Date), N'Side tonight area happy year possible religious wear.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (575, 945, 84, CAST(N'2020-08-11' AS Date), N'Stop view eight number.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (576, 137, 69, CAST(N'2022-10-30' AS Date), N'Quality audience image would same.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (577, 579, 19, CAST(N'2021-12-03' AS Date), N'Environmental necessary rich society herself.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (578, 370, 91, CAST(N'2020-07-01' AS Date), N'Identify dream myself he.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (579, 287, 95, CAST(N'2024-12-20' AS Date), N'Debate fly people.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (580, 67, 50, CAST(N'2020-06-30' AS Date), N'Stock research national data.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (581, 31, 68, CAST(N'2021-05-22' AS Date), N'Book heavy it deal.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (582, 909, 26, CAST(N'2021-05-31' AS Date), N'Maybe dinner word rich that foot offer.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (583, 247, 27, CAST(N'2024-03-20' AS Date), N'Successful war later miss source call.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (584, 931, 1, CAST(N'2024-09-09' AS Date), N'Thus capital new deal technology toward.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (585, 714, 39, CAST(N'2023-11-20' AS Date), N'Development huge give before difference seat believe.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (586, 274, 67, CAST(N'2021-05-24' AS Date), N'Finally issue majority technology exactly side young.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (587, 74, 14, CAST(N'2021-01-16' AS Date), N'Audience move land film goal type.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (588, 888, 52, CAST(N'2020-02-22' AS Date), N'Those security door thousand.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (589, 108, 58, CAST(N'2022-07-30' AS Date), N'Cell over the war cold economy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (590, 953, 74, CAST(N'2024-09-01' AS Date), N'Republican arrive per feel front subject.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (591, 728, 84, CAST(N'2021-09-19' AS Date), N'Science amount still upon stand between once body.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (592, 684, 36, CAST(N'2020-03-17' AS Date), N'Television site local.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (593, 442, 48, CAST(N'2020-04-04' AS Date), N'Task scene answer give well.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (594, 358, 97, CAST(N'2021-11-11' AS Date), N'Fly man up option song.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (595, 422, 56, CAST(N'2020-08-22' AS Date), N'Pressure research type alone course.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (596, 989, 71, CAST(N'2021-10-17' AS Date), N'Vote yet similar health.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (597, 201, 9, CAST(N'2021-03-19' AS Date), N'Instead tend nature.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (598, 244, 31, CAST(N'2021-12-05' AS Date), N'Product yet statement behind sense rule.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (599, 247, 86, CAST(N'2024-01-19' AS Date), N'Beyond sport player win operation reach hope letter.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (600, 468, 79, CAST(N'2021-07-10' AS Date), N'Argue return win for consider community improve.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (601, 582, 13, CAST(N'2024-12-21' AS Date), N'Type reality rise that participant identify pattern.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (602, 177, 68, CAST(N'2024-11-22' AS Date), N'Rise side run choose though their wall even.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (603, 46, 56, CAST(N'2020-11-15' AS Date), N'Alone his pay learn garden particular building.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (604, 426, 17, CAST(N'2023-11-19' AS Date), N'Drop accept build particularly many wall.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (605, 712, 99, CAST(N'2021-01-19' AS Date), N'Your seem move including fire place create.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (606, 384, 54, CAST(N'2023-09-13' AS Date), N'Any its common prevent.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (607, 600, 96, CAST(N'2020-03-14' AS Date), N'Notice girl month those ground little series.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (608, 519, 59, CAST(N'2020-06-17' AS Date), N'Simply him drop bag.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (609, 706, 67, CAST(N'2021-04-16' AS Date), N'All improve should entire detail it next democratic.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (610, 599, 8, CAST(N'2022-09-22' AS Date), N'Civil statement high born season though investment.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (611, 121, 32, CAST(N'2024-06-17' AS Date), N'Pay recent spring stuff agency author.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (612, 655, 16, CAST(N'2024-07-03' AS Date), N'Fish interest writer machine.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (613, 974, 20, CAST(N'2023-07-10' AS Date), N'Administration tend public light.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (614, 375, 17, CAST(N'2023-02-08' AS Date), N'Than go six sing soon.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (615, 296, 4, CAST(N'2021-01-14' AS Date), N'Article whole two position professional next movie.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (616, 654, 4, CAST(N'2020-08-10' AS Date), N'West computer face.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (617, 69, 97, CAST(N'2024-02-06' AS Date), N'Base there own west.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (618, 442, 12, CAST(N'2020-01-16' AS Date), N'Would degree clear room guy.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (619, 558, 78, CAST(N'2023-10-16' AS Date), N'Do suffer perhaps.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (620, 100, 17, CAST(N'2020-10-30' AS Date), N'Down television certain possible.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (621, 869, 87, CAST(N'2020-04-04' AS Date), N'Expect any source agreement mind some.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (622, 967, 51, CAST(N'2022-06-29' AS Date), N'Pick adult three policy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (623, 617, 70, CAST(N'2023-11-05' AS Date), N'Boy administration a either big edge.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (624, 248, 67, CAST(N'2020-10-22' AS Date), N'Approach Mr from meet include nation.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (625, 490, 94, CAST(N'2022-09-07' AS Date), N'Story better apply anyone.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (626, 449, 15, CAST(N'2020-05-11' AS Date), N'Center customer quite.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (627, 216, 76, CAST(N'2023-02-19' AS Date), N'Since despite population moment peace mention simple.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (628, 887, 90, CAST(N'2023-11-03' AS Date), N'Evening want easy ahead blood color protect southern.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (629, 107, 13, CAST(N'2020-10-04' AS Date), N'Law performance painting increase.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (630, 109, 26, CAST(N'2021-08-19' AS Date), N'White official admit actually be car red.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (631, 707, 84, CAST(N'2023-07-01' AS Date), N'Bit suddenly beyond spring can.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (632, 90, 1, CAST(N'2021-07-04' AS Date), N'Certain camera value black require local.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (633, 443, 31, CAST(N'2021-02-14' AS Date), N'Despite nearly since measure structure design feel.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (634, 315, 63, CAST(N'2023-11-30' AS Date), N'Right play side lot more.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (635, 64, 74, CAST(N'2024-12-25' AS Date), N'Shake notice project really week question kind wear.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (636, 574, 39, CAST(N'2022-12-14' AS Date), N'Land into notice.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (637, 644, 6, CAST(N'2023-10-28' AS Date), N'Common movie talk court avoid let.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (638, 610, 4, CAST(N'2023-05-24' AS Date), N'Follow run share serious expect buy against.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (639, 931, 80, CAST(N'2021-01-17' AS Date), N'New hotel up under draw better.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (640, 449, 29, CAST(N'2021-06-05' AS Date), N'Student technology most dream follow.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (641, 932, 42, CAST(N'2021-03-02' AS Date), N'Edge measure top.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (642, 453, 69, CAST(N'2020-08-06' AS Date), N'Set talk travel approach entire hot condition.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (643, 276, 66, CAST(N'2024-07-06' AS Date), N'Summer ability sure sell dinner board.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (644, 764, 91, CAST(N'2021-12-03' AS Date), N'Happen environmental democratic poor throw station upon.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (645, 467, 38, CAST(N'2022-01-16' AS Date), N'Live budget page least section special.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (646, 605, 24, CAST(N'2022-08-23' AS Date), N'Case a protect up know.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (647, 523, 85, CAST(N'2020-01-08' AS Date), N'Ago newspaper any pass.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (648, 778, 86, CAST(N'2023-03-04' AS Date), N'Tough hold industry crime cold start carry.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (649, 424, 88, CAST(N'2020-05-23' AS Date), N'Draw little draw way open.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (650, 612, 51, CAST(N'2022-01-12' AS Date), N'Property worker treatment election sure practice example.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (651, 771, 81, CAST(N'2021-02-08' AS Date), N'Song agree even half.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (652, 314, 3, CAST(N'2023-07-03' AS Date), N'Think top important truth some difficult.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (653, 152, 64, CAST(N'2024-10-30' AS Date), N'Democrat cell treatment.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (654, 847, 47, CAST(N'2024-05-17' AS Date), N'Produce alone create respond drop.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (655, 866, 40, CAST(N'2024-12-02' AS Date), N'Mouth establish bad long memory human book.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (656, 901, 39, CAST(N'2024-07-05' AS Date), N'Image once successful health first shake.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (657, 110, 65, CAST(N'2024-09-16' AS Date), N'Mention size somebody take no.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (658, 467, 5, CAST(N'2020-10-22' AS Date), N'Interest same attorney relate.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (659, 481, 94, CAST(N'2021-12-26' AS Date), N'Reason exist program anyone Congress cup.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (660, 933, 42, CAST(N'2021-09-05' AS Date), N'Least out change however charge.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (661, 381, 17, CAST(N'2023-07-14' AS Date), N'Oil data test her about vote.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (662, 1000, 2, CAST(N'2024-03-04' AS Date), N'Carry seven nothing future watch.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (663, 207, 99, CAST(N'2024-09-05' AS Date), N'Ago available image.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (664, 638, 9, CAST(N'2024-09-07' AS Date), N'Might no start month.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (665, 291, 2, CAST(N'2023-03-30' AS Date), N'Wind gas surface approach poor.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (666, 273, 93, CAST(N'2024-02-06' AS Date), N'Keep us form school spend accept week exist.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (667, 709, 3, CAST(N'2022-03-03' AS Date), N'Certainly reveal phone ability machine.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (668, 412, 15, CAST(N'2024-11-11' AS Date), N'Dark budget plant join.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (669, 702, 42, CAST(N'2023-10-18' AS Date), N'Government student back person thousand business.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (670, 635, 82, CAST(N'2024-05-29' AS Date), N'Word card history issue look perhaps.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (671, 705, 74, CAST(N'2023-01-28' AS Date), N'Number easy team at fly dinner.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (672, 94, 79, CAST(N'2023-03-03' AS Date), N'Project general cover recognize man color.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (673, 543, 44, CAST(N'2023-06-01' AS Date), N'Technology white sell writer full smile have.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (674, 895, 87, CAST(N'2023-08-20' AS Date), N'Like the themselves middle beyond.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (675, 193, 22, CAST(N'2023-05-19' AS Date), N'Character ok camera improve physical.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (676, 632, 15, CAST(N'2022-05-04' AS Date), N'About side material not store.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (677, 121, 72, CAST(N'2023-02-21' AS Date), N'Color federal help owner executive town color.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (678, 313, 97, CAST(N'2024-10-22' AS Date), N'Young look family movement first.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (679, 166, 69, CAST(N'2020-05-26' AS Date), N'Company product court station rather exactly real.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (680, 234, 28, CAST(N'2024-10-27' AS Date), N'Front test be music resource kitchen.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (681, 516, 46, CAST(N'2021-09-23' AS Date), N'Expect today federal ability answer center ahead.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (682, 861, 73, CAST(N'2020-10-17' AS Date), N'Sense record join in fish mean describe.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (683, 274, 79, CAST(N'2022-12-30' AS Date), N'Protect threat information game husband president door will.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (684, 293, 74, CAST(N'2022-06-09' AS Date), N'Front consumer computer professional it really protect.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (685, 72, 77, CAST(N'2023-01-21' AS Date), N'Too man rate mention other.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (686, 59, 3, CAST(N'2022-08-01' AS Date), N'Their style film service over thing thank believe.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (687, 626, 37, CAST(N'2021-08-22' AS Date), N'Instead dinner civil sign than myself lawyer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (688, 433, 56, CAST(N'2024-03-10' AS Date), N'Property face watch interesting large.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (689, 190, 28, CAST(N'2020-01-10' AS Date), N'Wall itself edge pass field two.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (690, 35, 82, CAST(N'2024-01-02' AS Date), N'Official blue war between child spring professional miss.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (691, 977, 54, CAST(N'2023-08-01' AS Date), N'Beautiful serve market painting.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (692, 964, 46, CAST(N'2024-02-13' AS Date), N'Much point shoulder network guy feel list.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (693, 933, 19, CAST(N'2023-09-03' AS Date), N'Feeling live early despite process Mr into.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (694, 809, 29, CAST(N'2024-02-06' AS Date), N'Animal history ten likely specific but wide.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (695, 830, 8, CAST(N'2021-09-02' AS Date), N'Artist data whatever bag half surface.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (696, 69, 58, CAST(N'2021-08-28' AS Date), N'Success use sell sometimes system.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (697, 834, 28, CAST(N'2023-10-24' AS Date), N'Rich little brother grow early lose job.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (698, 264, 20, CAST(N'2020-03-22' AS Date), N'Believe real billion.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (699, 913, 91, CAST(N'2024-06-02' AS Date), N'Offer writer message much be.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (700, 391, 14, CAST(N'2023-01-25' AS Date), N'Safe leave control scene.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (701, 702, 94, CAST(N'2023-02-23' AS Date), N'Couple skill north pretty past.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (702, 2, 61, CAST(N'2020-06-14' AS Date), N'Long general end end.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (703, 269, 100, CAST(N'2024-06-27' AS Date), N'Concern no class church suggest realize chance.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (704, 299, 27, CAST(N'2024-08-29' AS Date), N'A nothing almost arrive I.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (705, 707, 82, CAST(N'2020-09-19' AS Date), N'Performance rock ten cup camera then product.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (706, 679, 5, CAST(N'2021-06-25' AS Date), N'Vote public green.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (707, 469, 69, CAST(N'2021-07-31' AS Date), N'Teach together modern view affect.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (708, 135, 30, CAST(N'2021-12-05' AS Date), N'Quality page democratic according.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (709, 661, 13, CAST(N'2024-11-16' AS Date), N'Sea chair usually approach hope.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (710, 719, 80, CAST(N'2020-11-11' AS Date), N'Seven city moment voice strong less relate.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (711, 206, 67, CAST(N'2020-07-30' AS Date), N'Weight decision notice agree wrong trial finish.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (712, 101, 32, CAST(N'2024-01-06' AS Date), N'Listen their effort stage poor list major tough.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (713, 504, 74, CAST(N'2024-08-25' AS Date), N'Rather popular learn discussion life feeling capital movement.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (714, 183, 64, CAST(N'2024-12-17' AS Date), N'Believe material specific all.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (715, 724, 83, CAST(N'2021-07-03' AS Date), N'Your right PM door.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (716, 650, 80, CAST(N'2021-10-19' AS Date), N'Nothing rate front instead area position.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (717, 410, 71, CAST(N'2022-10-20' AS Date), N'Clear officer strategy describe grow.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (718, 858, 97, CAST(N'2020-06-03' AS Date), N'Need such member poor campaign.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (719, 641, 52, CAST(N'2022-10-14' AS Date), N'Institution blue manager focus pretty music.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (720, 436, 17, CAST(N'2021-04-09' AS Date), N'Happen executive floor check front staff reflect.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (721, 300, 50, CAST(N'2024-12-05' AS Date), N'Heavy anything much actually medical management production.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (722, 441, 82, CAST(N'2024-02-22' AS Date), N'Six section bit gas culture can use rather.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (723, 207, 77, CAST(N'2021-05-16' AS Date), N'Choice study find fall writer bad return white.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (724, 491, 77, CAST(N'2020-07-09' AS Date), N'Arrive see decade poor analysis.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (725, 271, 66, CAST(N'2022-05-06' AS Date), N'Yeah direction room.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (726, 334, 20, CAST(N'2022-04-27' AS Date), N'Window look shoulder risk center.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (727, 732, 69, CAST(N'2021-09-20' AS Date), N'Voice way professional.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (728, 967, 87, CAST(N'2020-10-08' AS Date), N'Everyone whose order ten seem.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (729, 26, 72, CAST(N'2020-04-05' AS Date), N'Church big say recently surface relationship site.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (730, 751, 13, CAST(N'2023-02-12' AS Date), N'System husband sister.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (731, 466, 34, CAST(N'2024-09-08' AS Date), N'Store fall father head baby dream.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (732, 291, 18, CAST(N'2024-12-03' AS Date), N'Enter occur wall.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (733, 417, 91, CAST(N'2022-03-26' AS Date), N'Effort create much also culture over member.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (734, 29, 62, CAST(N'2022-02-26' AS Date), N'Music discuss right between direction break.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (735, 737, 17, CAST(N'2022-02-05' AS Date), N'Health grow level reach industry month official operation.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (736, 994, 51, CAST(N'2024-01-18' AS Date), N'College region bar cover.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (737, 821, 99, CAST(N'2022-02-18' AS Date), N'Black view crime within.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (738, 522, 4, CAST(N'2024-07-18' AS Date), N'Try method some heavy have style.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (739, 823, 8, CAST(N'2020-10-14' AS Date), N'Skill interest history no.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (740, 616, 11, CAST(N'2024-10-21' AS Date), N'Computer really language science cover here center.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (741, 689, 6, CAST(N'2024-04-06' AS Date), N'Nation friend peace thus worry word but.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (742, 86, 38, CAST(N'2023-07-19' AS Date), N'Article either case common.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (743, 41, 45, CAST(N'2020-01-22' AS Date), N'Watch to trouble safe face stage room.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (744, 70, 10, CAST(N'2024-12-05' AS Date), N'From man indeed day me answer direction.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (745, 599, 40, CAST(N'2021-10-17' AS Date), N'After member number do same.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (746, 316, 12, CAST(N'2022-06-15' AS Date), N'Others apply myself huge heart.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (747, 482, 80, CAST(N'2023-11-13' AS Date), N'Whom name score animal eye music large.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (748, 871, 42, CAST(N'2020-01-12' AS Date), N'Experience conference like ever outside road political.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (749, 910, 81, CAST(N'2021-06-27' AS Date), N'Oil music language military offer challenge fish figure.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (750, 898, 68, CAST(N'2021-08-28' AS Date), N'Surface develop whether.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (751, 336, 78, CAST(N'2024-08-03' AS Date), N'Test become mouth send.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (752, 255, 82, CAST(N'2022-10-04' AS Date), N'Painting relate inside day traditional police front.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (753, 223, 40, CAST(N'2022-04-28' AS Date), N'Attack especially realize bed forget shoulder enter.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (754, 852, 69, CAST(N'2021-09-09' AS Date), N'Occur hit sign one since.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (755, 732, 39, CAST(N'2024-05-21' AS Date), N'Specific measure from wait serve serious.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (756, 5, 85, CAST(N'2023-04-16' AS Date), N'Mean chance training young market.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (757, 259, 85, CAST(N'2021-08-28' AS Date), N'Follow left so.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (758, 152, 31, CAST(N'2022-01-17' AS Date), N'Just religious claim.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (759, 87, 34, CAST(N'2023-03-13' AS Date), N'Other beyond check tonight prevent.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (760, 208, 18, CAST(N'2024-03-16' AS Date), N'Through them situation.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (761, 835, 71, CAST(N'2022-05-01' AS Date), N'Together light second condition himself next action.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (762, 76, 41, CAST(N'2023-06-05' AS Date), N'Week bar plant simple safe tough.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (763, 931, 91, CAST(N'2020-09-07' AS Date), N'Record drug affect inside challenge energy various.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (764, 163, 5, CAST(N'2022-10-14' AS Date), N'Beat field card food hear reflect.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (765, 222, 52, CAST(N'2020-12-06' AS Date), N'View force another hear explain.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (766, 718, 40, CAST(N'2020-03-24' AS Date), N'Your little sense during.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (767, 739, 82, CAST(N'2023-06-02' AS Date), N'Popular set church standard author.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (768, 524, 84, CAST(N'2022-10-28' AS Date), N'Full second serious right develop later coach.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (769, 345, 11, CAST(N'2023-02-20' AS Date), N'Success approach among order guess put reduce.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (770, 73, 30, CAST(N'2024-02-08' AS Date), N'Thank station product stop different feeling institution foot.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (771, 537, 60, CAST(N'2022-07-02' AS Date), N'Different surface occur general.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (772, 848, 72, CAST(N'2020-09-26' AS Date), N'Some total minute teach parent.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (773, 11, 77, CAST(N'2023-06-04' AS Date), N'Sure sometimes which.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (774, 470, 56, CAST(N'2023-03-14' AS Date), N'Increase painting perhaps check middle suddenly.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (775, 113, 25, CAST(N'2022-11-10' AS Date), N'Large hair between itself.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (776, 250, 40, CAST(N'2023-02-06' AS Date), N'Which message American good better give among notice.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (777, 532, 78, CAST(N'2023-03-20' AS Date), N'Shake son program affect sport my lay.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (778, 931, 40, CAST(N'2023-03-28' AS Date), N'His best any brother firm.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (779, 943, 45, CAST(N'2022-07-07' AS Date), N'Support chance then wife book despite respond.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (780, 295, 7, CAST(N'2024-12-13' AS Date), N'History run win always.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (781, 896, 2, CAST(N'2024-09-14' AS Date), N'Between conference subject piece minute.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (782, 800, 57, CAST(N'2020-12-29' AS Date), N'Oil sell time network.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (783, 212, 10, CAST(N'2022-09-03' AS Date), N'Worry political ahead suddenly son.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (784, 464, 85, CAST(N'2023-08-20' AS Date), N'Director same give way.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (785, 118, 32, CAST(N'2023-07-13' AS Date), N'Old ok order wall bank.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (786, 891, 15, CAST(N'2021-09-25' AS Date), N'Hour open condition back hot strong full determine.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (787, 31, 25, CAST(N'2023-12-15' AS Date), N'Century policy four direction reason.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (788, 928, 18, CAST(N'2021-12-19' AS Date), N'Fly election mission crime also idea.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (789, 611, 88, CAST(N'2023-05-27' AS Date), N'Sport none special now million guy laugh consider.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (790, 998, 4, CAST(N'2021-12-10' AS Date), N'Everything summer pressure level relationship.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (791, 747, 4, CAST(N'2021-10-07' AS Date), N'Example participant feel realize individual beyond.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (792, 233, 61, CAST(N'2024-05-24' AS Date), N'Run spend president wrong together offer laugh unit.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (793, 858, 69, CAST(N'2024-08-28' AS Date), N'Meet whether member current where.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (794, 230, 18, CAST(N'2023-05-14' AS Date), N'Consumer draw politics car.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (795, 17, 18, CAST(N'2020-04-28' AS Date), N'Simply toward positive night industry agreement candidate.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (796, 936, 74, CAST(N'2023-11-29' AS Date), N'Soon defense leave.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (797, 530, 70, CAST(N'2022-12-17' AS Date), N'Be reveal sister source drug authority seem.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (798, 200, 51, CAST(N'2023-01-02' AS Date), N'Rock sort truth total article.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (799, 557, 36, CAST(N'2022-10-01' AS Date), N'Blue with third military wall fact.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (800, 266, 70, CAST(N'2024-02-04' AS Date), N'Evidence article day.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (801, 895, 52, CAST(N'2024-07-26' AS Date), N'Item hand become believe data paper.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (802, 542, 69, CAST(N'2024-10-14' AS Date), N'Federal support join interest partner nation.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (803, 286, 12, CAST(N'2022-12-31' AS Date), N'Yeah push light rock.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (804, 778, 62, CAST(N'2020-02-08' AS Date), N'Answer me fish society.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (805, 404, 18, CAST(N'2021-08-19' AS Date), N'Season necessary debate worker religious care near.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (806, 214, 68, CAST(N'2024-08-14' AS Date), N'Authority home move piece.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (807, 530, 7, CAST(N'2022-11-27' AS Date), N'Music plan factor call woman.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (808, 149, 29, CAST(N'2024-01-22' AS Date), N'Themselves them fire finish especially ball maybe.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (809, 407, 6, CAST(N'2020-04-14' AS Date), N'Though voice standard.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (810, 746, 76, CAST(N'2024-04-10' AS Date), N'Machine trade live little name.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (811, 852, 65, CAST(N'2022-06-14' AS Date), N'Available might so election summer carry effort player.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (812, 818, 89, CAST(N'2023-07-10' AS Date), N'Edge thing make then show growth.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (813, 135, 72, CAST(N'2024-11-26' AS Date), N'Away white purpose five see quality.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (814, 560, 50, CAST(N'2021-07-16' AS Date), N'Before minute science five place officer.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (815, 279, 76, CAST(N'2022-08-02' AS Date), N'Skill memory one cup.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (816, 223, 25, CAST(N'2021-01-27' AS Date), N'Fly as while prevent college.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (817, 724, 49, CAST(N'2023-02-03' AS Date), N'Picture technology character.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (818, 932, 67, CAST(N'2024-10-02' AS Date), N'Easy movie behavior.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (819, 955, 73, CAST(N'2023-01-15' AS Date), N'Record determine career scene role.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (820, 196, 69, CAST(N'2020-07-04' AS Date), N'Style play affect feel.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (821, 759, 69, CAST(N'2021-04-11' AS Date), N'Walk until serious game soon lot real.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (822, 236, 12, CAST(N'2020-08-11' AS Date), N'Amount wife little deep.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (823, 492, 22, CAST(N'2022-11-09' AS Date), N'Ahead mean economy shoulder couple even.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (824, 674, 52, CAST(N'2023-03-20' AS Date), N'Mr maybe far act exactly miss business it.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (825, 16, 20, CAST(N'2021-03-13' AS Date), N'Later note outside pretty think.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (826, 859, 6, CAST(N'2023-02-06' AS Date), N'Letter positive indicate media two girl.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (827, 602, 56, CAST(N'2023-11-23' AS Date), N'However one model.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (828, 979, 23, CAST(N'2021-02-22' AS Date), N'Author few property suffer own seek support.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (829, 580, 60, CAST(N'2021-12-04' AS Date), N'Subject heavy population such partner majority record.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (830, 958, 14, CAST(N'2024-04-11' AS Date), N'Attention from card sometimes movie strategy.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (831, 415, 29, CAST(N'2020-11-27' AS Date), N'Word well public sport discussion able series.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (832, 131, 44, CAST(N'2023-02-03' AS Date), N'East above view myself carry dinner.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (833, 487, 64, CAST(N'2024-10-28' AS Date), N'Help the interesting executive simple yes.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (834, 677, 48, CAST(N'2021-10-28' AS Date), N'Network tree television lot look.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (835, 837, 75, CAST(N'2024-07-15' AS Date), N'System year could company pick likely sister middle.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (836, 867, 57, CAST(N'2023-01-30' AS Date), N'Receive feeling movement institution.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (837, 965, 52, CAST(N'2022-04-09' AS Date), N'Whether pattern gun I car.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (838, 396, 73, CAST(N'2022-09-28' AS Date), N'Stand table form see institution good song society.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (839, 387, 80, CAST(N'2021-10-28' AS Date), N'Argue camera plant class.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (840, 186, 88, CAST(N'2021-01-18' AS Date), N'Toward world set true.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (841, 646, 45, CAST(N'2021-09-01' AS Date), N'Its only woman pretty worker certainly road.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (842, 27, 54, CAST(N'2020-08-09' AS Date), N'Plan why him show room member.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (843, 506, 8, CAST(N'2020-11-22' AS Date), N'Family dinner within choice seven.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (844, 923, 15, CAST(N'2021-09-30' AS Date), N'Or establish letter child year fall special behind.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (845, 664, 98, CAST(N'2022-11-04' AS Date), N'Bank share time tax.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (846, 466, 45, CAST(N'2023-02-01' AS Date), N'Every tree former information according.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (847, 94, 43, CAST(N'2023-06-17' AS Date), N'Amount political case family bring.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (848, 38, 36, CAST(N'2022-02-09' AS Date), N'Wife majority seem well range of.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (849, 537, 99, CAST(N'2022-04-02' AS Date), N'Need win especially agreement well.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (850, 865, 43, CAST(N'2021-06-17' AS Date), N'Central expert pick clear feel project remain.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (851, 586, 22, CAST(N'2021-01-08' AS Date), N'Raise budget wish majority.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (852, 704, 40, CAST(N'2020-10-01' AS Date), N'Your someone happen toward nature later.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (853, 454, 94, CAST(N'2020-08-19' AS Date), N'Yard team indicate speech wear western traditional.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (854, 502, 96, CAST(N'2020-09-17' AS Date), N'Size maybe experience food stand thought.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (855, 29, 65, CAST(N'2024-03-17' AS Date), N'Training father rock own camera.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (856, 124, 37, CAST(N'2020-12-07' AS Date), N'Compare recent such cover sense population teach.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (857, 26, 73, CAST(N'2020-08-02' AS Date), N'Painting room western right.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (858, 333, 81, CAST(N'2022-09-29' AS Date), N'Head describe many stand marriage front.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (859, 679, 24, CAST(N'2024-05-07' AS Date), N'Focus increase bed.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (860, 301, 95, CAST(N'2021-10-05' AS Date), N'Really under everyone size if necessary.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (861, 175, 59, CAST(N'2021-07-08' AS Date), N'North thus or decide visit list professional.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (862, 409, 82, CAST(N'2023-06-27' AS Date), N'Around while community may material thank themselves who.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (863, 887, 87, CAST(N'2024-10-04' AS Date), N'Upon situation tax keep water thing back.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (864, 681, 85, CAST(N'2022-04-24' AS Date), N'Myself bed finally station risk.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (865, 577, 63, CAST(N'2022-03-14' AS Date), N'Walk perform partner fact choose look discussion risk.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (866, 86, 86, CAST(N'2020-03-18' AS Date), N'Film military off fund usually large.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (867, 61, 3, CAST(N'2021-04-18' AS Date), N'Though discussion discussion race we control.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (868, 38, 35, CAST(N'2024-06-08' AS Date), N'Right myself page military common.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (869, 181, 69, CAST(N'2021-06-25' AS Date), N'Plant task true agency we foot key.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (870, 633, 92, CAST(N'2023-06-11' AS Date), N'Experience method raise around surface.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (871, 346, 3, CAST(N'2024-02-17' AS Date), N'Black avoid religious measure ground or she.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (872, 895, 44, CAST(N'2023-06-30' AS Date), N'Pressure card owner American.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (873, 869, 29, CAST(N'2024-06-22' AS Date), N'Television ability ok parent.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (874, 753, 92, CAST(N'2020-03-31' AS Date), N'Arrive some wish next east environment six.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (875, 24, 57, CAST(N'2021-09-02' AS Date), N'North risk up operation magazine unit.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (876, 203, 51, CAST(N'2020-06-28' AS Date), N'Real north buy organization if guy.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (877, 184, 30, CAST(N'2024-06-02' AS Date), N'Community stage author agree.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (878, 405, 6, CAST(N'2020-11-23' AS Date), N'Successful name food trouble.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (879, 328, 1, CAST(N'2020-09-06' AS Date), N'Reach like by drop.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (880, 552, 80, CAST(N'2021-12-23' AS Date), N'Building visit game she national.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (881, 167, 5, CAST(N'2023-12-09' AS Date), N'Pick network candidate democratic scientist.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (882, 228, 33, CAST(N'2022-07-07' AS Date), N'Threat street knowledge show operation morning.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (883, 532, 57, CAST(N'2022-12-19' AS Date), N'Here leg shake design enough especially.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (884, 859, 6, CAST(N'2023-07-04' AS Date), N'Firm section war.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (885, 864, 92, CAST(N'2024-02-15' AS Date), N'Middle popular artist nothing science suggest.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (886, 421, 52, CAST(N'2020-07-15' AS Date), N'Certain sea able of everything.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (887, 437, 35, CAST(N'2020-01-04' AS Date), N'Quality past official contain.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (888, 346, 73, CAST(N'2021-04-08' AS Date), N'Image common worry.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (889, 81, 61, CAST(N'2023-06-21' AS Date), N'Rich green either require.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (890, 768, 54, CAST(N'2021-02-17' AS Date), N'Leader answer sort generation market.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (891, 919, 56, CAST(N'2020-12-26' AS Date), N'Window send food loss society trouble.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (892, 856, 70, CAST(N'2024-08-26' AS Date), N'Will cut game kind final religious.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (893, 797, 65, CAST(N'2022-02-10' AS Date), N'Couple bag culture work way.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (894, 516, 80, CAST(N'2021-10-20' AS Date), N'Which deal key member smile.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (895, 274, 53, CAST(N'2021-06-17' AS Date), N'Miss term stock difficult positive because civil relationship.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (896, 493, 37, CAST(N'2022-01-30' AS Date), N'Now than mission final.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (897, 959, 91, CAST(N'2022-02-08' AS Date), N'Rise nor economy somebody throw check hold.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (898, 892, 51, CAST(N'2020-11-25' AS Date), N'Food call responsibility their list order.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (899, 386, 37, CAST(N'2022-01-06' AS Date), N'Small event leave full.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (900, 368, 70, CAST(N'2023-06-11' AS Date), N'Have organization against son.', N'Not Recovered')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (901, 832, 92, CAST(N'2021-03-02' AS Date), N'Cut reveal run occur how.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (902, 544, 29, CAST(N'2024-04-17' AS Date), N'Last fine organization single.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (903, 21, 85, CAST(N'2020-10-15' AS Date), N'Those vote possible boy.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (904, 270, 91, CAST(N'2020-07-16' AS Date), N'Thus top right should.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (905, 165, 34, CAST(N'2022-11-06' AS Date), N'Responsibility three generation cell.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (906, 259, 63, CAST(N'2020-01-31' AS Date), N'Foreign seven control.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (907, 164, 62, CAST(N'2020-10-12' AS Date), N'Thousand similar from prepare.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (908, 225, 20, CAST(N'2021-10-04' AS Date), N'Believe wish clearly end argue participant sister.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (909, 394, 8, CAST(N'2020-07-20' AS Date), N'Music writer fire eye guess woman without class.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (910, 70, 13, CAST(N'2024-08-11' AS Date), N'Rock word her region successful place relationship ask.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (911, 563, 94, CAST(N'2024-08-03' AS Date), N'Letter financial near.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (912, 480, 4, CAST(N'2021-05-14' AS Date), N'Enjoy let would program star according traditional.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (913, 278, 7, CAST(N'2023-11-24' AS Date), N'Smile already investment drop what.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (914, 484, 95, CAST(N'2023-05-27' AS Date), N'Forget imagine minute ability control according.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (915, 213, 46, CAST(N'2020-05-09' AS Date), N'Same once billion event.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (916, 449, 15, CAST(N'2023-02-10' AS Date), N'Budget open bring well author east.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (917, 921, 41, CAST(N'2022-09-28' AS Date), N'People western poor water own such watch development.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (918, 959, 84, CAST(N'2024-04-27' AS Date), N'By bring cause live.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (919, 298, 11, CAST(N'2021-12-24' AS Date), N'Player more gas nor day share.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (920, 838, 93, CAST(N'2020-12-18' AS Date), N'Concern type source local age challenge identify.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (921, 575, 45, CAST(N'2023-08-17' AS Date), N'Story entire our body doctor.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (922, 442, 91, CAST(N'2020-02-19' AS Date), N'Say five up citizen protect win to compare.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (923, 764, 56, CAST(N'2020-09-17' AS Date), N'State glass speech PM where pull.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (924, 273, 24, CAST(N'2024-03-24' AS Date), N'Guy through bank forward wait popular beat.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (925, 878, 7, CAST(N'2021-05-08' AS Date), N'Movement environment movie bank.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (926, 986, 46, CAST(N'2021-09-18' AS Date), N'Key international onto she behavior.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (927, 69, 81, CAST(N'2021-04-08' AS Date), N'Heart reflect throw eat old indeed prevent.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (928, 813, 41, CAST(N'2020-03-23' AS Date), N'Able home book.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (929, 925, 23, CAST(N'2020-12-22' AS Date), N'Maybe like structure peace.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (930, 783, 93, CAST(N'2023-08-02' AS Date), N'Behind personal owner happen.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (931, 118, 69, CAST(N'2020-06-20' AS Date), N'Security tonight wear thus know.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (932, 489, 91, CAST(N'2020-12-04' AS Date), N'North news article myself.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (933, 368, 79, CAST(N'2023-05-28' AS Date), N'Collection on type inside amount.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (934, 934, 81, CAST(N'2021-07-21' AS Date), N'Out weight risk after hope hour.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (935, 166, 99, CAST(N'2023-05-05' AS Date), N'Answer sound rate wall interest onto cultural.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (936, 307, 22, CAST(N'2022-03-15' AS Date), N'Several student here.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (937, 142, 83, CAST(N'2024-10-08' AS Date), N'Benefit after thus beyond all change.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (938, 436, 63, CAST(N'2022-10-13' AS Date), N'Program leave picture city simply send light.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (939, 721, 100, CAST(N'2023-01-24' AS Date), N'Garden hour region office strategy.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (940, 545, 10, CAST(N'2024-05-11' AS Date), N'Attack seek far high dinner eat.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (941, 377, 32, CAST(N'2024-06-29' AS Date), N'Four study own out tough.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (942, 219, 51, CAST(N'2023-10-29' AS Date), N'Tv serve movement add.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (943, 523, 76, CAST(N'2021-01-09' AS Date), N'Bill put provide.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (944, 437, 77, CAST(N'2020-02-29' AS Date), N'Should rise when far cut agreement.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (945, 948, 62, CAST(N'2024-09-18' AS Date), N'He position office general model benefit information.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (946, 84, 76, CAST(N'2020-02-14' AS Date), N'Before next its piece report effort.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (947, 57, 100, CAST(N'2023-05-05' AS Date), N'Answer require style bit.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (948, 940, 72, CAST(N'2024-10-21' AS Date), N'Style wonder specific expert owner.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (949, 482, 23, CAST(N'2022-02-23' AS Date), N'Throughout end common finish hard brother sell rule.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (950, 9, 9, CAST(N'2020-12-06' AS Date), N'Successful fear same campaign.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (951, 188, 36, CAST(N'2022-07-26' AS Date), N'Law remain type take.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (952, 738, 59, CAST(N'2024-12-11' AS Date), N'Place push this speak finish.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (953, 731, 70, CAST(N'2020-02-07' AS Date), N'Law risk itself point task coach message rise.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (954, 278, 90, CAST(N'2022-07-23' AS Date), N'Possible sing accept water.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (955, 271, 72, CAST(N'2020-06-28' AS Date), N'East mother partner turn.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (956, 890, 14, CAST(N'2020-04-06' AS Date), N'Around they stand happy floor.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (957, 405, 60, CAST(N'2023-05-20' AS Date), N'Look front positive argue avoid product hand fact.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (958, 73, 94, CAST(N'2021-06-22' AS Date), N'Sit product others deal statement.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (959, 321, 18, CAST(N'2024-11-21' AS Date), N'Poor always break hand child design enjoy occur.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (960, 619, 4, CAST(N'2022-03-06' AS Date), N'His by hold late rich enter always.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (961, 724, 49, CAST(N'2022-11-07' AS Date), N'Here discussion remain effect capital.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (962, 58, 38, CAST(N'2023-09-14' AS Date), N'Trade third special think build center.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (963, 790, 85, CAST(N'2020-03-02' AS Date), N'Evidence scientist few according act per teacher.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (964, 712, 80, CAST(N'2023-06-05' AS Date), N'The body green into campaign back.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (965, 325, 75, CAST(N'2020-06-29' AS Date), N'Partner just baby adult spend design already.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (966, 781, 69, CAST(N'2020-01-13' AS Date), N'Song enough pass out interview recognize father.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (967, 942, 94, CAST(N'2024-07-29' AS Date), N'Nor half either.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (968, 712, 98, CAST(N'2024-01-02' AS Date), N'Go really admit various guy letter.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (969, 53, 75, CAST(N'2021-12-11' AS Date), N'Wait science read itself behind north.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (970, 458, 88, CAST(N'2024-08-18' AS Date), N'Computer after forget across father degree.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (971, 667, 13, CAST(N'2023-01-05' AS Date), N'Past election after forget.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (972, 416, 95, CAST(N'2023-12-02' AS Date), N'Gun trouble wide gun mean concern.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (973, 879, 73, CAST(N'2020-03-20' AS Date), N'Attention new tough themselves government.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (974, 12, 100, CAST(N'2022-10-24' AS Date), N'Development often various draw stay.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (975, 610, 53, CAST(N'2020-03-19' AS Date), N'Rather play strong other during reflect simple central.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (976, 180, 52, CAST(N'2022-11-20' AS Date), N'Especially administration near.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (977, 42, 19, CAST(N'2022-12-20' AS Date), N'Month ability who show senior evidence.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (978, 529, 90, CAST(N'2022-09-06' AS Date), N'Court fact team find trade and.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (979, 421, 83, CAST(N'2024-08-16' AS Date), N'Compare state member record risk watch.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (980, 808, 73, CAST(N'2021-04-05' AS Date), N'Seven life job energy.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (981, 741, 38, CAST(N'2020-12-14' AS Date), N'Beautiful could baby budget expect box.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (982, 831, 77, CAST(N'2024-04-20' AS Date), N'Country rich mention.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (983, 759, 87, CAST(N'2021-12-02' AS Date), N'Environment certainly although hundred without.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (984, 798, 51, CAST(N'2020-01-14' AS Date), N'Boy purpose lawyer Congress difficult.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (985, 963, 76, CAST(N'2022-11-25' AS Date), N'Former financial street inside collection system some.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (986, 936, 19, CAST(N'2022-04-03' AS Date), N'Professional then thousand agree decide.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (987, 175, 59, CAST(N'2023-05-17' AS Date), N'Player might deep rock same soldier necessary.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (988, 592, 72, CAST(N'2023-11-15' AS Date), N'Customer seek upon share message six available.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (989, 129, 65, CAST(N'2023-12-27' AS Date), N'Enough agent father shoulder perhaps none.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (990, 81, 78, CAST(N'2020-05-19' AS Date), N'Tough morning have box.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (991, 978, 79, CAST(N'2022-03-29' AS Date), N'Left give include attorney positive forget.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (992, 267, 51, CAST(N'2023-12-01' AS Date), N'Executive represent check method.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (993, 747, 5, CAST(N'2022-03-17' AS Date), N'Role agent theory work interview market painting upon.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (994, 758, 38, CAST(N'2024-01-23' AS Date), N'Defense law information interest experience thousand.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (995, 863, 82, CAST(N'2022-04-25' AS Date), N'Officer recent task power general and.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (996, 398, 36, CAST(N'2022-06-06' AS Date), N'Decision heavy worry bill story course.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (997, 262, 2, CAST(N'2020-11-26' AS Date), N'Section interview health close.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (998, 854, 86, CAST(N'2020-05-29' AS Date), N'Water might well unit.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (999, 480, 20, CAST(N'2020-10-07' AS Date), N'His lawyer like who.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1000, 247, 31, CAST(N'2021-11-05' AS Date), N'Apply herself himself help population.', N'Recovered')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1001, 231, 11, CAST(N'2024-08-11' AS Date), N'Lot fact paper laugh.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1002, 835, 13, CAST(N'2023-08-15' AS Date), N'Represent agree sure long wish senior religious air.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1003, 39, 75, CAST(N'2022-09-05' AS Date), N'Thought front family may color when finish.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1004, 117, 6, CAST(N'2021-08-31' AS Date), N'Stage necessary executive main year.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1005, 425, 19, CAST(N'2021-01-21' AS Date), N'System future ok.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1006, 117, 7, CAST(N'2024-11-14' AS Date), N'Race those spring career.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1007, 999, 79, CAST(N'2020-05-24' AS Date), N'Night interest who laugh natural job whatever base.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1008, 842, 29, CAST(N'2024-01-09' AS Date), N'Above deal both.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1009, 550, 74, CAST(N'2021-11-13' AS Date), N'Meeting story voice sea score check money appear.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1010, 897, 22, CAST(N'2020-05-03' AS Date), N'Treat enough out condition economic study sound.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1011, 849, 78, CAST(N'2022-03-12' AS Date), N'Five product industry.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1012, 847, 66, CAST(N'2023-07-30' AS Date), N'Impact inside any painting cover recently.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1013, 685, 22, CAST(N'2023-02-14' AS Date), N'Trip important so take onto lose.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1014, 543, 10, CAST(N'2021-05-27' AS Date), N'Laugh I official.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1015, 828, 97, CAST(N'2022-10-15' AS Date), N'Fine believe experience discussion above well.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1016, 980, 2, CAST(N'2024-07-23' AS Date), N'Themselves generation why score.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1017, 306, 13, CAST(N'2020-03-28' AS Date), N'Method record crime now cause age computer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1018, 90, 1, CAST(N'2020-02-05' AS Date), N'Follow group our end success less.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1019, 49, 95, CAST(N'2021-12-04' AS Date), N'Happen American heavy reach pick.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1020, 562, 40, CAST(N'2020-06-13' AS Date), N'Skill easy school money sound maintain head.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1021, 955, 80, CAST(N'2020-08-08' AS Date), N'Require red daughter.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1022, 470, 50, CAST(N'2022-11-22' AS Date), N'Play take another.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1023, 832, 83, CAST(N'2023-09-26' AS Date), N'Page our particularly eight glass.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1024, 314, 83, CAST(N'2022-11-16' AS Date), N'Upon respond loss include tonight whole.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1025, 798, 17, CAST(N'2022-10-13' AS Date), N'Provide stop race administration bar.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1026, 514, 96, CAST(N'2021-01-17' AS Date), N'Seat point certainly.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1027, 375, 91, CAST(N'2022-09-30' AS Date), N'Sometimes difference every begin.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1028, 97, 56, CAST(N'2022-10-05' AS Date), N'Region eat side court who administration.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1029, 160, 36, CAST(N'2020-10-05' AS Date), N'Determine reach sea drug majority before language movement.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1030, 383, 33, CAST(N'2022-03-10' AS Date), N'Language catch read race set black camera return.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1031, 337, 80, CAST(N'2023-07-13' AS Date), N'Method different price computer paper.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1032, 572, 29, CAST(N'2024-06-13' AS Date), N'Common area ball itself big size.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1033, 8, 30, CAST(N'2023-09-02' AS Date), N'Small describe appear.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1034, 861, 62, CAST(N'2024-12-29' AS Date), N'Performance never force.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1035, 657, 17, CAST(N'2022-06-10' AS Date), N'Drop less foreign practice design really open.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1036, 686, 44, CAST(N'2022-09-27' AS Date), N'Western around blue western home generation.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1037, 922, 80, CAST(N'2020-01-05' AS Date), N'Local real government real major film those.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1038, 115, 33, CAST(N'2020-10-31' AS Date), N'Bank here first be although.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1039, 541, 38, CAST(N'2024-10-23' AS Date), N'Ball cup statement leave lose once medical.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1040, 528, 41, CAST(N'2020-06-15' AS Date), N'Surface quality notice skin concern.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1041, 214, 30, CAST(N'2021-10-15' AS Date), N'Learn company dinner.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1042, 248, 49, CAST(N'2020-12-14' AS Date), N'Just trouble prepare.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1043, 263, 1, CAST(N'2021-02-12' AS Date), N'Girl heart direction trade especially white.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1044, 791, 65, CAST(N'2020-05-30' AS Date), N'Improve hotel accept wall miss.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1045, 438, 98, CAST(N'2024-08-09' AS Date), N'Business against result night.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1046, 93, 67, CAST(N'2023-12-01' AS Date), N'Determine top action.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1047, 103, 29, CAST(N'2020-07-19' AS Date), N'Scene may whether learn take woman resource.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1048, 437, 52, CAST(N'2023-12-06' AS Date), N'None sport college behavior treat.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1049, 118, 86, CAST(N'2021-05-13' AS Date), N'About street husband apply level large you.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1050, 843, 67, CAST(N'2024-07-27' AS Date), N'Range treat purpose score.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1051, 975, 28, CAST(N'2023-11-08' AS Date), N'City threat wait say think key.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1052, 221, 35, CAST(N'2020-03-22' AS Date), N'Ago phone drug expect sing adult score.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1053, 858, 91, CAST(N'2022-06-18' AS Date), N'View community along news thank.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1054, 356, 96, CAST(N'2020-07-03' AS Date), N'Generation card memory grow Democrat significant coach.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1055, 581, 97, CAST(N'2022-09-07' AS Date), N'Charge those radio majority by soon later.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1056, 32, 29, CAST(N'2020-12-16' AS Date), N'Able of six cold.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1057, 946, 62, CAST(N'2024-05-26' AS Date), N'Interview trade matter deep best road animal.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1058, 549, 3, CAST(N'2021-10-09' AS Date), N'Entire wear fire give.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1059, 18, 23, CAST(N'2020-02-12' AS Date), N'Discuss although report indicate.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1060, 206, 34, CAST(N'2023-09-18' AS Date), N'Interest training fight society.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1061, 931, 30, CAST(N'2023-10-05' AS Date), N'First health president race.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1062, 437, 89, CAST(N'2021-08-18' AS Date), N'Red consumer successful third.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1063, 705, 48, CAST(N'2023-09-18' AS Date), N'Painting goal technology front cold cold.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1064, 109, 1, CAST(N'2022-06-23' AS Date), N'Change machine pay generation science sport always.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1065, 348, 74, CAST(N'2020-07-05' AS Date), N'Imagine specific Republican theory decide cut.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1066, 701, 53, CAST(N'2020-03-23' AS Date), N'Loss economy door require.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1067, 603, 89, CAST(N'2020-05-27' AS Date), N'Middle set between discuss family partner surface.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1068, 968, 52, CAST(N'2022-02-11' AS Date), N'Either building wide.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1069, 283, 99, CAST(N'2022-07-18' AS Date), N'Argue best food list simply point.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1070, 629, 10, CAST(N'2021-04-07' AS Date), N'Use financial able real quite everyone tree.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1071, 229, 79, CAST(N'2024-10-03' AS Date), N'Stop manager child agent.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1072, 903, 45, CAST(N'2020-04-15' AS Date), N'Matter he newspaper.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1073, 735, 4, CAST(N'2020-02-22' AS Date), N'Television every real main move world before.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1074, 609, 68, CAST(N'2022-04-03' AS Date), N'Involve deep capital soon country.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1075, 176, 80, CAST(N'2021-05-09' AS Date), N'Lead well president health marriage for.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1076, 792, 69, CAST(N'2023-10-05' AS Date), N'Sense strong mind.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1077, 869, 38, CAST(N'2024-05-26' AS Date), N'Chance for expect none city turn.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1078, 409, 80, CAST(N'2022-02-09' AS Date), N'Pm capital grow wait.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1079, 70, 51, CAST(N'2021-12-14' AS Date), N'Official society house little dinner.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1080, 749, 76, CAST(N'2021-12-18' AS Date), N'Capital attorney go test thank.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1081, 863, 61, CAST(N'2022-06-18' AS Date), N'Soldier product task doctor mission task before.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1082, 956, 51, CAST(N'2020-03-02' AS Date), N'Claim operation manager particular later determine.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1083, 102, 53, CAST(N'2024-08-12' AS Date), N'Perhaps reach mission couple race marriage.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1084, 943, 22, CAST(N'2023-11-26' AS Date), N'Single six fall someone fear.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1085, 676, 64, CAST(N'2024-09-03' AS Date), N'Listen girl despite conference.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1086, 672, 40, CAST(N'2022-01-25' AS Date), N'Suddenly time attorney analysis pay call.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1087, 798, 5, CAST(N'2022-06-27' AS Date), N'Fight growth indicate human.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1088, 301, 18, CAST(N'2023-10-23' AS Date), N'Write require central west present however few.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1089, 843, 83, CAST(N'2021-07-05' AS Date), N'Along product southern bad.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1090, 312, 61, CAST(N'2022-10-11' AS Date), N'Memory contain I out language.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1091, 447, 43, CAST(N'2022-04-08' AS Date), N'Anything size visit order police report just.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1092, 329, 27, CAST(N'2024-02-21' AS Date), N'Food program quickly get memory might.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1093, 41, 40, CAST(N'2020-04-07' AS Date), N'Away night control third two billion.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1094, 941, 74, CAST(N'2021-02-02' AS Date), N'Most more writer ground room shake.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1095, 510, 39, CAST(N'2022-10-08' AS Date), N'Experience leave question.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1096, 164, 38, CAST(N'2020-12-16' AS Date), N'They result everyone after garden matter.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1097, 819, 43, CAST(N'2023-07-08' AS Date), N'Development follow exist opportunity live dog officer.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1098, 266, 50, CAST(N'2022-10-24' AS Date), N'Set focus character lay recently around view.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1099, 453, 85, CAST(N'2020-09-08' AS Date), N'Recent resource speak special agree involve.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1100, 739, 22, CAST(N'2023-02-12' AS Date), N'Door run play care.', N'Ongoing')
GO

In [0]:
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1101, 41, 12, CAST(N'2024-07-23' AS Date), N'Prepare challenge simple almost.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1102, 211, 41, CAST(N'2020-09-24' AS Date), N'During law sometimes realize help candidate.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1103, 536, 96, CAST(N'2020-09-26' AS Date), N'Quality environmental recent professional modern management yourself.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1104, 42, 54, CAST(N'2022-03-21' AS Date), N'Point television relate free all parent high.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1105, 979, 80, CAST(N'2020-01-07' AS Date), N'Return teach forget necessary other different.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1106, 719, 42, CAST(N'2023-05-29' AS Date), N'Soon kind author.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1107, 944, 2, CAST(N'2021-10-27' AS Date), N'People buy writer provide last.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1108, 248, 80, CAST(N'2022-08-17' AS Date), N'Listen year ground debate southern.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1109, 532, 56, CAST(N'2020-11-07' AS Date), N'Huge book his card about letter.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1110, 247, 67, CAST(N'2020-08-08' AS Date), N'Three stand herself experience interest.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1111, 34, 43, CAST(N'2021-05-03' AS Date), N'Mind quite anyone Democrat gun.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1112, 669, 57, CAST(N'2020-06-05' AS Date), N'Who able rock laugh focus.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1113, 173, 96, CAST(N'2022-12-02' AS Date), N'Modern pass arrive necessary early shake federal.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1114, 824, 86, CAST(N'2020-12-05' AS Date), N'Paper network success themselves crime.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1115, 850, 27, CAST(N'2021-10-29' AS Date), N'Food plant particular.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1116, 297, 81, CAST(N'2021-02-02' AS Date), N'Enjoy throw task happy dinner at.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1117, 45, 5, CAST(N'2022-07-30' AS Date), N'Cost couple newspaper month alone.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1118, 400, 70, CAST(N'2021-11-11' AS Date), N'Design main compare writer story practice.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1119, 930, 85, CAST(N'2021-09-22' AS Date), N'Cause wish scene deal.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1120, 390, 37, CAST(N'2021-10-17' AS Date), N'Where down service realize view.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1121, 932, 7, CAST(N'2020-10-11' AS Date), N'Several include computer game short.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1122, 342, 54, CAST(N'2022-11-26' AS Date), N'Close art player media less phone part.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1123, 590, 63, CAST(N'2021-12-16' AS Date), N'Beautiful relate front mind put.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1124, 209, 75, CAST(N'2024-04-07' AS Date), N'Inside market letter too Republican.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1125, 691, 12, CAST(N'2023-04-09' AS Date), N'While skill machine.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1126, 816, 82, CAST(N'2021-09-23' AS Date), N'Particularly book response affect money.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1127, 887, 84, CAST(N'2021-01-28' AS Date), N'Simply participant wall financial month key how.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1128, 800, 31, CAST(N'2022-01-15' AS Date), N'Take song call wide each design we.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1129, 971, 63, CAST(N'2020-11-27' AS Date), N'Time store mission election fund drug yourself bed.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1130, 822, 82, CAST(N'2022-11-15' AS Date), N'Rest apply child idea evening mother.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1131, 695, 51, CAST(N'2024-09-02' AS Date), N'Culture consumer million back mission fight.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1132, 262, 100, CAST(N'2022-04-08' AS Date), N'Training professional reveal news professor late member father.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1133, 289, 5, CAST(N'2020-08-14' AS Date), N'Run suggest military property.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1134, 800, 11, CAST(N'2023-05-25' AS Date), N'Try interview line into rock rest boy.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1135, 634, 33, CAST(N'2022-03-23' AS Date), N'Wrong ten citizen whatever score every stage value.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1136, 711, 56, CAST(N'2022-06-06' AS Date), N'Know serve class owner million training agent yourself.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1137, 103, 39, CAST(N'2023-07-27' AS Date), N'Education that able surface if represent site.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1138, 489, 23, CAST(N'2022-10-26' AS Date), N'Agent church also art where stage senior Democrat.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1139, 562, 27, CAST(N'2024-01-23' AS Date), N'Form me up fine east foot.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1140, 44, 87, CAST(N'2024-11-01' AS Date), N'Bad goal firm class.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1141, 565, 2, CAST(N'2023-03-02' AS Date), N'Challenge play officer can ready prepare.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1142, 516, 39, CAST(N'2020-09-16' AS Date), N'Deal type boy.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1143, 745, 49, CAST(N'2020-08-27' AS Date), N'Baby both model address believe big family.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1144, 100, 33, CAST(N'2024-02-02' AS Date), N'Little picture then tree.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1145, 613, 90, CAST(N'2022-10-06' AS Date), N'Happy speak them smile.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1146, 75, 23, CAST(N'2023-11-07' AS Date), N'Imagine some wear large someone particular would cell.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1147, 697, 74, CAST(N'2020-11-06' AS Date), N'Hold soldier young value trial.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1148, 387, 68, CAST(N'2024-01-24' AS Date), N'Concern own boy wish drug.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1149, 740, 3, CAST(N'2022-09-06' AS Date), N'Recent out during less worker recognize stuff concern.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1150, 944, 52, CAST(N'2022-12-10' AS Date), N'Economic only half simple.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1151, 19, 86, CAST(N'2022-12-29' AS Date), N'Idea than wall expect home whom.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1152, 541, 54, CAST(N'2022-02-14' AS Date), N'Cold environment modern here region perform own.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1153, 818, 99, CAST(N'2020-11-21' AS Date), N'Stuff tough month dream look him field.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1154, 55, 95, CAST(N'2024-07-29' AS Date), N'Store wear strategy pay charge floor may.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1155, 669, 54, CAST(N'2023-07-30' AS Date), N'May these yeah human left main.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1156, 163, 29, CAST(N'2021-06-19' AS Date), N'Rate treat go whole.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1157, 627, 58, CAST(N'2022-05-31' AS Date), N'Conference drive nation century office moment subject.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1158, 558, 43, CAST(N'2020-04-29' AS Date), N'Something he teacher within serve hotel.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1159, 681, 33, CAST(N'2024-10-18' AS Date), N'Song those hospital hour offer.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1160, 520, 77, CAST(N'2022-09-14' AS Date), N'Help response friend certainly reflect.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1161, 841, 50, CAST(N'2023-08-04' AS Date), N'Page indeed question prepare rest action.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1162, 688, 38, CAST(N'2020-07-11' AS Date), N'Image tend act several sing nice.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1163, 264, 92, CAST(N'2024-03-17' AS Date), N'Better customer five which produce meeting.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1164, 730, 81, CAST(N'2021-07-07' AS Date), N'Position head pass child act shoulder game.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1165, 371, 75, CAST(N'2020-12-08' AS Date), N'Evening bring camera.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1166, 283, 65, CAST(N'2022-10-11' AS Date), N'Letter now miss.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1167, 225, 99, CAST(N'2020-11-21' AS Date), N'Wear choose Congress threat relate set.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1168, 550, 85, CAST(N'2024-06-24' AS Date), N'Kind great already theory toward hotel customer.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1169, 108, 28, CAST(N'2021-04-27' AS Date), N'Member material approach environment.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1170, 173, 95, CAST(N'2024-12-09' AS Date), N'Investment identify amount.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1171, 225, 21, CAST(N'2021-02-08' AS Date), N'Seat weight peace floor.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1172, 661, 5, CAST(N'2021-02-04' AS Date), N'Chair tree whether light police affect sure.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1173, 225, 50, CAST(N'2022-01-24' AS Date), N'State which upon instead animal about how.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1174, 264, 28, CAST(N'2020-02-19' AS Date), N'Method born ability stay.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1175, 268, 49, CAST(N'2022-08-03' AS Date), N'Contain plant my no oil.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1176, 787, 5, CAST(N'2022-05-27' AS Date), N'Group various in admit whom method star.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1177, 737, 64, CAST(N'2022-10-10' AS Date), N'Often history month partner technology glass.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1178, 309, 47, CAST(N'2023-12-07' AS Date), N'Key bill whom medical physical.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1179, 798, 46, CAST(N'2024-10-15' AS Date), N'Decide individual way shake better.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1180, 203, 37, CAST(N'2024-01-23' AS Date), N'Attention thing Mrs total look only night.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1181, 820, 34, CAST(N'2021-12-08' AS Date), N'Whatever minute argue much.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1182, 633, 20, CAST(N'2021-01-26' AS Date), N'Eight skill growth responsibility in than.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1183, 366, 19, CAST(N'2024-05-10' AS Date), N'Serve north wait admit.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1184, 63, 10, CAST(N'2022-11-17' AS Date), N'Rich discuss when beyond happen offer glass.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1185, 78, 100, CAST(N'2023-04-09' AS Date), N'Side leave however marriage from.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1186, 214, 59, CAST(N'2021-05-09' AS Date), N'Five whom front front maybe.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1187, 42, 35, CAST(N'2021-01-13' AS Date), N'Seat become speak compare science image car.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1188, 864, 1, CAST(N'2022-07-06' AS Date), N'At see sense lawyer.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1189, 695, 79, CAST(N'2020-11-23' AS Date), N'Onto visit lawyer.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1190, 804, 56, CAST(N'2022-07-01' AS Date), N'Shoulder which state above cause less during.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1191, 434, 97, CAST(N'2020-05-02' AS Date), N'Citizen around central camera institution.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1192, 956, 78, CAST(N'2024-07-06' AS Date), N'Artist sing state must.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1193, 498, 98, CAST(N'2024-05-19' AS Date), N'International treatment tax certain recent serve talk experience.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1194, 760, 56, CAST(N'2021-09-20' AS Date), N'Another would PM person air it himself.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1195, 297, 13, CAST(N'2022-10-16' AS Date), N'Work prepare structure use style in.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1196, 980, 94, CAST(N'2020-07-31' AS Date), N'Generation carry care single room stand.', N'Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1197, 723, 44, CAST(N'2021-05-16' AS Date), N'Political across institution only from even.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1198, 583, 55, CAST(N'2020-05-12' AS Date), N'Stock happy candidate next visit author.', N'Not Recovered')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1199, 392, 16, CAST(N'2021-11-23' AS Date), N'Various recognize building role his type beautiful explain.', N'Ongoing')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [diagnosis], [treatment_outcome]) VALUES (1200, 54, 56, CAST(N'2021-10-25' AS Date), N'Return foreign clear see.', N'Not Recovered')
GO

# [dbo].[doctors]

In [0]:
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (1, N'Catherine Steele', N'Pediatrics', CAST(N'2019-02-23' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (2, N'Wesley Robertson', N'Dermatology', CAST(N'2023-04-17' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (3, N'Joshua Allen', N'Orthopedics', CAST(N'2022-03-15' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (4, N'David Shah', N'Neurology', CAST(N'2019-10-25' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (5, N'George Davila', N'Radiology', CAST(N'2023-10-02' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (6, N'John Anderson MD', N'Cardiology', CAST(N'2016-09-06' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (7, N'Jamie Russo', N'Urology', CAST(N'2021-01-18' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (8, N'Melissa Sanchez', N'Pediatrics', CAST(N'2019-05-10' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (9, N'Jeremy Miller', N'Neurology', CAST(N'2022-09-26' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (10, N'Terri Moore', N'Orthopedics', CAST(N'2015-06-23' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (11, N'Scott Lynch', N'Urology', CAST(N'2020-10-15' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (12, N'Andrew Donovan', N'Orthopedics', CAST(N'2019-04-18' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (13, N'John Patterson', N'Radiology', CAST(N'2018-08-26' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (14, N'Dustin Hall', N'Urology', CAST(N'2015-12-13' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (15, N'Matthew Escobar', N'Dermatology', CAST(N'2021-10-14' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (16, N'Elizabeth Welch', N'Oncology', CAST(N'2016-04-01' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (17, N'Eric Matthews', N'Psychiatry', CAST(N'2023-11-14' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (18, N'Craig Marshall', N'Cardiology', CAST(N'2021-07-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (19, N'Courtney Smith', N'Cardiology', CAST(N'2023-05-29' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (20, N'Jeffery King', N'Dermatology', CAST(N'2016-04-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (21, N'Kathy Brooks', N'Urology', CAST(N'2018-02-02' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (22, N'Sharon Williams', N'Orthopedics', CAST(N'2022-07-24' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (23, N'Dave Castillo', N'Neurology', CAST(N'2020-08-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (24, N'Ashley Baird', N'Orthopedics', CAST(N'2021-11-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (25, N'Valerie Cuevas', N'Dermatology', CAST(N'2020-04-20' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (26, N'Mark Figueroa', N'Psychiatry', CAST(N'2015-04-12' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (27, N'Karen Greene', N'Dermatology', CAST(N'2016-03-11' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (28, N'Joshua Turner', N'Urology', CAST(N'2022-04-06' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (29, N'Laura Dorsey', N'Radiology', CAST(N'2017-04-25' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (30, N'Gary Diaz', N'Oncology', CAST(N'2015-04-22' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (31, N'Jonathan Dudley', N'Cardiology', CAST(N'2018-05-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (32, N'Victor Avila', N'Neurology', CAST(N'2015-08-06' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (33, N'Edward Ayala', N'Psychiatry', CAST(N'2017-08-22' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (34, N'Michelle Delacruz', N'Psychiatry', CAST(N'2022-08-15' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (35, N'Kerry Browning', N'Pediatrics', CAST(N'2016-10-16' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (36, N'Kelly Mitchell', N'Neurology', CAST(N'2019-12-30' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (37, N'Matthew Thomas', N'Dermatology', CAST(N'2021-06-20' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (38, N'Toni Schultz', N'Pediatrics', CAST(N'2021-05-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (39, N'Paula Estrada', N'Urology', CAST(N'2023-09-06' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (40, N'Pamela Williams', N'Cardiology', CAST(N'2015-09-09' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (41, N'Stephanie Lopez', N'Psychiatry', CAST(N'2022-07-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (42, N'Jeffery Sanchez', N'Neurology', CAST(N'2023-02-21' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (43, N'James Bridges', N'Neurology', CAST(N'2020-05-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (44, N'Kelly Davis', N'Neurology', CAST(N'2017-11-12' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (45, N'Julie Forbes', N'Dermatology', CAST(N'2020-01-20' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (46, N'Kyle Bennett', N'Psychiatry', CAST(N'2018-02-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (47, N'James Choi', N'Orthopedics', CAST(N'2018-04-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (48, N'Jennifer Patterson', N'Dermatology', CAST(N'2023-04-20' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (49, N'Erin Thomas', N'Radiology', CAST(N'2023-03-22' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (50, N'Raymond Dyer', N'Cardiology', CAST(N'2018-05-09' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (51, N'Bobby Walton', N'Psychiatry', CAST(N'2016-03-09' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (52, N'Amanda Thomas', N'Cardiology', CAST(N'2021-08-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (53, N'Andrew Anderson', N'Neurology', CAST(N'2017-02-27' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (54, N'Mrs. Brooke Gonzalez', N'Pediatrics', CAST(N'2018-05-08' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (55, N'Kevin Stevens', N'Oncology', CAST(N'2020-03-01' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (56, N'Lori Johnson', N'Psychiatry', CAST(N'2016-04-07' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (57, N'Kayla Lewis', N'Orthopedics', CAST(N'2023-01-30' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (58, N'Kelly Palmer', N'Neurology', CAST(N'2023-03-25' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (59, N'Morgan Schwartz', N'Psychiatry', CAST(N'2020-01-11' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (60, N'Kevin Conway', N'Dermatology', CAST(N'2020-01-31' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (61, N'Elijah Chan', N'Cardiology', CAST(N'2017-02-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (62, N'Christopher Goodwin', N'Radiology', CAST(N'2021-10-11' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (63, N'Mackenzie Serrano', N'Psychiatry', CAST(N'2017-01-29' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (64, N'Katherine Vaughn', N'Neurology', CAST(N'2023-02-25' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (65, N'Vincent Fuller', N'Psychiatry', CAST(N'2016-01-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (66, N'Michael Frye', N'Pediatrics', CAST(N'2022-03-31' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (67, N'Patricia Wright', N'Urology', CAST(N'2023-01-30' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (68, N'Lee Jones', N'Dermatology', CAST(N'2022-09-22' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (69, N'Ronald Terry', N'Oncology', CAST(N'2019-09-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (70, N'Michael Stephens', N'Neurology', CAST(N'2020-09-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (71, N'Charles Porter', N'Urology', CAST(N'2021-04-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (72, N'Reginald Jensen', N'Urology', CAST(N'2015-01-03' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (73, N'Joshua Dorsey', N'Radiology', CAST(N'2015-06-07' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (74, N'Maria Ferguson', N'Emergency Medicine', CAST(N'2019-02-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (75, N'Vanessa Smith', N'Urology', CAST(N'2018-03-15' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (76, N'Austin Thompson', N'Oncology', CAST(N'2020-02-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (77, N'Cheryl Santiago', N'Radiology', CAST(N'2023-06-29' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (78, N'Mr. Scott Lozano', N'Oncology', CAST(N'2019-06-01' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (79, N'Scott Fernandez', N'Dermatology', CAST(N'2016-08-04' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (80, N'Anne Evans', N'Orthopedics', CAST(N'2023-02-08' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (81, N'Laura Medina', N'Dermatology', CAST(N'2020-03-07' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (82, N'Jessica Sherman', N'Radiology', CAST(N'2018-12-14' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (83, N'Kim Lawrence', N'Pediatrics', CAST(N'2017-09-25' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (84, N'Ryan Carey', N'Cardiology', CAST(N'2023-11-21' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (85, N'Sean Moran', N'Urology', CAST(N'2019-05-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (86, N'Samantha Cross', N'Radiology', CAST(N'2021-06-14' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (87, N'Tina Lane', N'Neurology', CAST(N'2018-12-02' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (88, N'Joshua Jones', N'Pediatrics', CAST(N'2021-01-24' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (89, N'Michael Tate', N'Orthopedics', CAST(N'2018-01-18' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (90, N'Jane Anderson', N'Orthopedics', CAST(N'2023-09-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (91, N'Jason Miller', N'Oncology', CAST(N'2020-03-28' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (92, N'Jessica Long', N'Dermatology', CAST(N'2020-02-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (93, N'Lisa Sherman', N'Radiology', CAST(N'2016-03-13' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (94, N'Whitney Smith', N'Cardiology', CAST(N'2020-10-13' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (95, N'Jeremiah Reed', N'Dermatology', CAST(N'2022-05-14' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (96, N'Robert Hale', N'Radiology', CAST(N'2023-08-24' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (97, N'Lisa Lewis', N'Dermatology', CAST(N'2016-10-19' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (98, N'Raymond Erickson', N'Radiology', CAST(N'2017-07-05' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (99, N'Michael Wang', N'Dermatology', CAST(N'2020-06-20' AS Date))
INSERT [dbo].[doctors] ([doctor_id], [name], [specialty], [hire_date]) VALUES (100, N'Luke Duncan', N'Emergency Medicine', CAST(N'2019-11-24' AS Date))
GO

# [dbo].[patients]

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (1, N'Ryan Gallagher', N'Male', CAST(N'1957-04-17' AS Date), CAST(N'2022-06-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (2, N'Matthew Kramer', N'Male', CAST(N'1942-10-14' AS Date), CAST(N'2020-02-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (3, N'Jessica Farmer', N'Female', CAST(N'1934-07-12' AS Date), CAST(N'2022-03-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (4, N'Crystal Landry', N'Male', CAST(N'2015-06-20' AS Date), CAST(N'2020-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (5, N'Joshua Crosby', N'Female', CAST(N'1968-08-24' AS Date), CAST(N'2021-01-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (6, N'Allen Walker', N'Female', CAST(N'1973-09-30' AS Date), CAST(N'2022-06-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (7, N'David Robinson', N'Female', CAST(N'1975-09-14' AS Date), CAST(N'2021-06-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (8, N'Ryan Hawkins', N'Female', CAST(N'1992-02-23' AS Date), CAST(N'2020-12-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (9, N'Shannon Martinez MD', N'Male', CAST(N'1999-04-10' AS Date), CAST(N'2023-07-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (10, N'Jennifer Greer', N'Male', CAST(N'1994-08-31' AS Date), CAST(N'2021-07-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (11, N'Sonya Mathis', N'Female', CAST(N'1979-10-25' AS Date), CAST(N'2022-12-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (12, N'David Salinas', N'Male', CAST(N'1971-08-17' AS Date), CAST(N'2020-11-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (13, N'Michele Craig', N'Female', CAST(N'1968-01-23' AS Date), CAST(N'2022-03-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (14, N'Paula Meyer', N'Female', CAST(N'1969-09-24' AS Date), CAST(N'2022-06-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (15, N'Andrew Warner', N'Male', CAST(N'2022-10-29' AS Date), CAST(N'2022-12-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (16, N'Christopher Shaw', N'Female', CAST(N'2022-09-22' AS Date), CAST(N'2023-11-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (17, N'Shannon Hall', N'Female', CAST(N'1980-07-30' AS Date), CAST(N'2024-10-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (18, N'Judy Adams', N'Male', CAST(N'1983-08-29' AS Date), CAST(N'2024-10-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (19, N'Richard Hoover', N'Male', CAST(N'2014-02-04' AS Date), CAST(N'2023-09-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (20, N'Kelly Hoffman', N'Female', CAST(N'1972-09-07' AS Date), CAST(N'2020-04-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (21, N'Laura Gonzalez', N'Male', CAST(N'1979-10-06' AS Date), CAST(N'2022-06-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (22, N'Gregory Ryan', N'Male', CAST(N'1990-06-14' AS Date), CAST(N'2023-01-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (23, N'Alfred Hall', N'Male', CAST(N'1950-04-15' AS Date), CAST(N'2022-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (24, N'Rebecca Robles', N'Male', CAST(N'2007-10-26' AS Date), CAST(N'2021-04-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (25, N'Megan Miller', N'Female', CAST(N'1935-11-03' AS Date), CAST(N'2020-01-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (26, N'Danielle Rodriguez', N'Male', CAST(N'1990-07-28' AS Date), CAST(N'2021-09-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (27, N'Christopher Rose', N'Female', CAST(N'1949-06-21' AS Date), CAST(N'2021-05-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (28, N'Jordan Morris', N'Male', CAST(N'1976-12-23' AS Date), CAST(N'2020-02-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (29, N'Jason Lopez', N'Male', CAST(N'1944-02-16' AS Date), CAST(N'2024-07-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (30, N'Christine Obrien', N'Female', CAST(N'2007-11-15' AS Date), CAST(N'2020-02-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (31, N'Charles Higgins', N'Female', CAST(N'1948-10-04' AS Date), CAST(N'2023-07-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (32, N'Kimberly Walker', N'Male', CAST(N'2022-02-21' AS Date), CAST(N'2023-12-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (33, N'Courtney Wong', N'Female', CAST(N'1969-11-17' AS Date), CAST(N'2022-11-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (34, N'Mark Brown', N'Male', CAST(N'1961-03-19' AS Date), CAST(N'2024-11-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (35, N'Elizabeth Garrison', N'Male', CAST(N'1962-04-09' AS Date), CAST(N'2024-09-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (36, N'Jennifer King', N'Female', CAST(N'1935-02-06' AS Date), CAST(N'2024-05-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (37, N'Robert Rivers', N'Female', CAST(N'1985-08-30' AS Date), CAST(N'2020-11-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (38, N'Valerie Padilla', N'Male', CAST(N'1980-02-20' AS Date), CAST(N'2021-11-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (39, N'Daniel Craig', N'Female', CAST(N'1973-04-21' AS Date), CAST(N'2020-12-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (40, N'Maxwell Phillips', N'Male', CAST(N'1979-04-27' AS Date), CAST(N'2021-08-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (41, N'Stephanie Smith', N'Male', CAST(N'1952-05-31' AS Date), CAST(N'2021-08-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (42, N'Dr. Gina Lewis', N'Female', CAST(N'1995-01-15' AS Date), CAST(N'2024-03-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (43, N'Hailey Khan', N'Male', CAST(N'1996-03-06' AS Date), CAST(N'2022-06-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (44, N'Mrs. Molly Miller', N'Female', CAST(N'1949-08-11' AS Date), CAST(N'2024-07-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (45, N'Peter Greene', N'Female', CAST(N'2010-01-15' AS Date), CAST(N'2021-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (46, N'Eddie Dillon', N'Male', CAST(N'1988-09-11' AS Date), CAST(N'2024-10-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (47, N'Brandy Arnold', N'Female', CAST(N'1943-09-21' AS Date), CAST(N'2020-03-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (48, N'Sean French', N'Female', CAST(N'2008-11-26' AS Date), CAST(N'2021-09-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (49, N'Rachael Gray', N'Female', CAST(N'1985-09-16' AS Date), CAST(N'2021-02-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (50, N'Derek Macdonald', N'Female', CAST(N'1985-02-20' AS Date), CAST(N'2024-08-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (51, N'Donald Buchanan', N'Male', CAST(N'2008-11-02' AS Date), CAST(N'2020-01-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (52, N'Anna Wilson', N'Female', CAST(N'2013-12-29' AS Date), CAST(N'2020-03-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (53, N'William Fisher', N'Male', CAST(N'1944-09-26' AS Date), CAST(N'2020-11-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (54, N'Patrick Garcia', N'Female', CAST(N'2016-04-22' AS Date), CAST(N'2021-11-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (55, N'Susan Carter', N'Female', CAST(N'1957-02-22' AS Date), CAST(N'2022-05-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (56, N'Matthew Williams', N'Male', CAST(N'1935-04-14' AS Date), CAST(N'2024-11-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (57, N'Kyle Cole', N'Female', CAST(N'1962-07-14' AS Date), CAST(N'2020-04-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (58, N'Tracy Booker', N'Female', CAST(N'1944-05-11' AS Date), CAST(N'2021-01-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (59, N'Veronica Daniels', N'Male', CAST(N'1996-04-10' AS Date), CAST(N'2023-04-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (60, N'Joshua Parker', N'Female', CAST(N'1956-07-06' AS Date), CAST(N'2020-05-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (61, N'William West', N'Male', CAST(N'1993-01-07' AS Date), CAST(N'2023-03-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (62, N'Jeanette Parker', N'Male', CAST(N'1963-10-16' AS Date), CAST(N'2021-08-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (63, N'Stephanie Turner', N'Female', CAST(N'1964-06-05' AS Date), CAST(N'2022-09-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (64, N'Linda Sanchez', N'Female', CAST(N'1936-03-03' AS Date), CAST(N'2021-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (65, N'Juan Jones', N'Female', CAST(N'1941-02-05' AS Date), CAST(N'2023-03-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (66, N'Ricky Snyder', N'Male', CAST(N'2011-12-23' AS Date), CAST(N'2020-10-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (67, N'Rebecca Jones', N'Female', CAST(N'2019-10-08' AS Date), CAST(N'2020-11-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (68, N'Victoria Underwood', N'Male', CAST(N'1963-02-13' AS Date), CAST(N'2020-07-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (69, N'Tamara Carter', N'Female', CAST(N'2014-10-11' AS Date), CAST(N'2020-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (70, N'Amanda Stewart', N'Female', CAST(N'2015-08-14' AS Date), CAST(N'2024-01-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (71, N'Sara Francis', N'Male', CAST(N'1996-05-27' AS Date), CAST(N'2020-11-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (72, N'Christopher Espinoza', N'Male', CAST(N'1994-06-09' AS Date), CAST(N'2021-04-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (73, N'Victor Stokes', N'Male', CAST(N'1983-10-10' AS Date), CAST(N'2022-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (74, N'Jody Foster', N'Male', CAST(N'1964-10-26' AS Date), CAST(N'2021-04-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (75, N'Matthew Butler', N'Male', CAST(N'1985-09-10' AS Date), CAST(N'2020-04-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (76, N'Charles Martinez', N'Male', CAST(N'1957-08-28' AS Date), CAST(N'2024-02-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (77, N'James Salazar', N'Female', CAST(N'1955-05-10' AS Date), CAST(N'2020-01-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (78, N'Kathryn Banks', N'Female', CAST(N'1973-10-14' AS Date), CAST(N'2023-06-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (79, N'Cynthia Simpson', N'Female', CAST(N'1977-06-07' AS Date), CAST(N'2021-02-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (80, N'Justin Meadows', N'Female', CAST(N'2016-12-06' AS Date), CAST(N'2021-05-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (81, N'Amber Jones', N'Female', CAST(N'1980-05-22' AS Date), CAST(N'2024-05-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (82, N'Ralph Ware', N'Male', CAST(N'1962-05-26' AS Date), CAST(N'2023-06-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (83, N'Jacqueline Haynes', N'Female', CAST(N'2000-08-13' AS Date), CAST(N'2022-12-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (84, N'Stephanie Choi', N'Male', CAST(N'1985-10-01' AS Date), CAST(N'2020-11-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (85, N'Daniel Hudson', N'Male', CAST(N'2002-07-15' AS Date), CAST(N'2020-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (86, N'Michelle Bailey', N'Female', CAST(N'1980-09-10' AS Date), CAST(N'2020-10-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (87, N'Amanda Zavala', N'Male', CAST(N'2007-01-20' AS Date), CAST(N'2023-02-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (88, N'Thomas Chung', N'Female', CAST(N'1946-11-10' AS Date), CAST(N'2023-11-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (89, N'Mary Graves', N'Female', CAST(N'1974-05-24' AS Date), CAST(N'2024-08-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (90, N'Janet Lang', N'Male', CAST(N'1973-04-20' AS Date), CAST(N'2020-10-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (91, N'Cameron Stout', N'Female', CAST(N'2020-09-08' AS Date), CAST(N'2020-08-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (92, N'Jennifer Wilson', N'Female', CAST(N'1960-12-06' AS Date), CAST(N'2021-03-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (93, N'April Lee', N'Female', CAST(N'1973-10-29' AS Date), CAST(N'2020-02-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (94, N'Lisa Conley', N'Female', CAST(N'1952-12-06' AS Date), CAST(N'2021-06-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (95, N'Denise Willis', N'Female', CAST(N'1956-12-01' AS Date), CAST(N'2023-06-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (96, N'Rhonda Beltran', N'Male', CAST(N'1983-06-04' AS Date), CAST(N'2022-06-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (97, N'Patricia Duncan', N'Female', CAST(N'1968-10-30' AS Date), CAST(N'2021-06-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (98, N'Robert Wilson', N'Female', CAST(N'2001-08-04' AS Date), CAST(N'2022-09-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (99, N'Paige Beltran', N'Male', CAST(N'1946-08-19' AS Date), CAST(N'2022-07-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (100, N'Emily Shaw', N'Male', CAST(N'1966-06-14' AS Date), CAST(N'2022-08-22' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (101, N'Jeremy Cole', N'Male', CAST(N'1961-10-08' AS Date), CAST(N'2021-12-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (102, N'Melinda Vasquez', N'Male', CAST(N'1992-08-17' AS Date), CAST(N'2021-11-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (103, N'Aaron Ramirez', N'Male', CAST(N'1988-03-04' AS Date), CAST(N'2024-05-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (104, N'Kayla Benitez', N'Female', CAST(N'1975-11-18' AS Date), CAST(N'2024-03-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (105, N'Patrick Huerta', N'Male', CAST(N'1961-10-26' AS Date), CAST(N'2020-11-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (106, N'Kiara Ward', N'Male', CAST(N'1934-08-27' AS Date), CAST(N'2021-12-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (107, N'Jared Callahan', N'Male', CAST(N'1986-12-08' AS Date), CAST(N'2023-09-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (108, N'Nicole Vasquez', N'Male', CAST(N'2001-06-16' AS Date), CAST(N'2023-03-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (109, N'Lori Russell', N'Female', CAST(N'1990-12-21' AS Date), CAST(N'2023-03-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (110, N'Rachel Mathis', N'Male', CAST(N'2003-06-01' AS Date), CAST(N'2024-01-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (111, N'Hannah Baker', N'Female', CAST(N'1998-01-22' AS Date), CAST(N'2024-05-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (112, N'Brittany Whitaker', N'Male', CAST(N'1977-12-12' AS Date), CAST(N'2022-05-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (113, N'Jordan Garner', N'Female', CAST(N'1972-05-16' AS Date), CAST(N'2021-10-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (114, N'Alicia Hunter', N'Male', CAST(N'2019-06-29' AS Date), CAST(N'2023-06-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (115, N'Michael Jacobs', N'Male', CAST(N'1953-02-19' AS Date), CAST(N'2021-01-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (116, N'Debra Jones', N'Female', CAST(N'2009-02-05' AS Date), CAST(N'2022-08-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (117, N'Jorge Doyle', N'Female', CAST(N'1949-07-04' AS Date), CAST(N'2023-04-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (118, N'Robin Nelson', N'Male', CAST(N'1989-03-17' AS Date), CAST(N'2021-02-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (119, N'Carrie Clarke', N'Male', CAST(N'2012-05-05' AS Date), CAST(N'2021-08-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (120, N'Victor Mann', N'Male', CAST(N'2010-04-12' AS Date), CAST(N'2020-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (121, N'Lisa Stewart', N'Female', CAST(N'1973-03-13' AS Date), CAST(N'2023-10-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (122, N'Cheryl Garrett', N'Male', CAST(N'1949-03-30' AS Date), CAST(N'2024-11-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (123, N'Thomas Chandler', N'Female', CAST(N'1988-11-25' AS Date), CAST(N'2021-04-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (124, N'Brenda Taylor', N'Female', CAST(N'1998-10-03' AS Date), CAST(N'2021-10-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (125, N'Cynthia Robbins', N'Female', CAST(N'1999-01-01' AS Date), CAST(N'2021-07-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (126, N'James Vasquez', N'Female', CAST(N'1943-05-03' AS Date), CAST(N'2020-12-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (127, N'Kyle Oneal', N'Female', CAST(N'1953-10-29' AS Date), CAST(N'2020-03-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (128, N'Robin Maynard', N'Female', CAST(N'1989-07-11' AS Date), CAST(N'2021-09-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (129, N'Bailey Schwartz', N'Male', CAST(N'1942-11-28' AS Date), CAST(N'2021-12-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (130, N'James Jackson II', N'Male', CAST(N'2008-02-25' AS Date), CAST(N'2022-04-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (131, N'Christy Espinoza', N'Female', CAST(N'1964-01-18' AS Date), CAST(N'2022-12-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (132, N'Wendy Williams', N'Female', CAST(N'2006-02-09' AS Date), CAST(N'2024-04-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (133, N'James Carpenter', N'Female', CAST(N'2017-01-13' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (134, N'Olivia Hernandez', N'Female', CAST(N'2016-07-27' AS Date), CAST(N'2020-01-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (135, N'Maurice Brown', N'Male', CAST(N'1968-06-28' AS Date), CAST(N'2020-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (136, N'Ryan Escobar', N'Female', CAST(N'1937-07-12' AS Date), CAST(N'2020-04-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (137, N'Amanda Hill', N'Male', CAST(N'1944-11-27' AS Date), CAST(N'2020-06-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (138, N'Mark Garner', N'Female', CAST(N'1996-02-24' AS Date), CAST(N'2024-03-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (139, N'Jean Welch', N'Male', CAST(N'2021-08-08' AS Date), CAST(N'2023-03-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (140, N'Antonio Mcconnell', N'Female', CAST(N'1987-06-26' AS Date), CAST(N'2021-09-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (141, N'Kristina Boyd', N'Male', CAST(N'1939-10-23' AS Date), CAST(N'2021-10-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (142, N'Curtis Beard', N'Male', CAST(N'1972-07-05' AS Date), CAST(N'2023-04-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (143, N'Natalie Griffith', N'Male', CAST(N'2002-01-14' AS Date), CAST(N'2021-04-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (144, N'Brittany Sellers', N'Female', CAST(N'2011-04-02' AS Date), CAST(N'2024-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (145, N'Brandon Li', N'Male', CAST(N'1976-07-24' AS Date), CAST(N'2021-11-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (146, N'Mrs. Kim Ramos', N'Male', CAST(N'1945-11-16' AS Date), CAST(N'2021-12-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (147, N'Sonya Johnson', N'Male', CAST(N'1981-07-18' AS Date), CAST(N'2020-06-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (148, N'Angelica Johnson', N'Female', CAST(N'1968-12-01' AS Date), CAST(N'2023-08-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (149, N'Carlos Norton', N'Female', CAST(N'2006-12-17' AS Date), CAST(N'2024-04-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (150, N'Jeffery Sanchez', N'Male', CAST(N'1984-06-26' AS Date), CAST(N'2021-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (151, N'Richard Huber', N'Female', CAST(N'1986-11-29' AS Date), CAST(N'2020-07-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (152, N'Joan Travis', N'Male', CAST(N'1999-01-31' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (153, N'Kimberly Prince', N'Male', CAST(N'2009-03-08' AS Date), CAST(N'2021-06-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (154, N'Jacob Meyer', N'Female', CAST(N'1943-02-07' AS Date), CAST(N'2021-09-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (155, N'Amanda Briggs', N'Female', CAST(N'1992-12-09' AS Date), CAST(N'2021-07-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (156, N'Harold Nguyen', N'Female', CAST(N'2001-09-14' AS Date), CAST(N'2022-07-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (157, N'Brittany Rocha', N'Male', CAST(N'1963-08-22' AS Date), CAST(N'2021-08-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (158, N'William Castillo', N'Female', CAST(N'2016-07-01' AS Date), CAST(N'2024-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (159, N'Robyn Schaefer', N'Male', CAST(N'2017-05-06' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (160, N'Joseph Johnston', N'Male', CAST(N'2023-08-31' AS Date), CAST(N'2023-12-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (161, N'Nicole Ward', N'Male', CAST(N'2019-02-23' AS Date), CAST(N'2023-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (162, N'John Petty', N'Female', CAST(N'1982-03-25' AS Date), CAST(N'2020-11-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (163, N'Michael Hart', N'Male', CAST(N'2015-12-14' AS Date), CAST(N'2020-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (164, N'Nicholas Williams', N'Male', CAST(N'1943-04-08' AS Date), CAST(N'2022-09-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (165, N'Brian Green', N'Female', CAST(N'1991-03-26' AS Date), CAST(N'2022-08-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (166, N'Benjamin Jefferson', N'Female', CAST(N'1992-03-25' AS Date), CAST(N'2020-11-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (167, N'Alison Richardson', N'Male', CAST(N'2010-08-17' AS Date), CAST(N'2023-07-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (168, N'Steven George', N'Female', CAST(N'2012-03-26' AS Date), CAST(N'2024-06-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (169, N'Michael Stephens', N'Female', CAST(N'2019-05-14' AS Date), CAST(N'2023-12-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (170, N'Robin Bolton', N'Male', CAST(N'1957-06-05' AS Date), CAST(N'2021-01-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (171, N'Patricia Robertson', N'Male', CAST(N'1978-03-05' AS Date), CAST(N'2022-01-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (172, N'Rebecca Richards', N'Male', CAST(N'1937-12-12' AS Date), CAST(N'2024-04-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (173, N'Colton Evans', N'Male', CAST(N'1996-07-23' AS Date), CAST(N'2020-01-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (174, N'Eric Eaton', N'Female', CAST(N'2001-07-22' AS Date), CAST(N'2024-11-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (175, N'Laura Arnold', N'Male', CAST(N'1981-08-23' AS Date), CAST(N'2022-09-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (176, N'Tiffany Ortiz', N'Male', CAST(N'1991-01-13' AS Date), CAST(N'2021-07-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (177, N'Jonathan Willis', N'Female', CAST(N'1983-11-02' AS Date), CAST(N'2024-11-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (178, N'Mark Vang', N'Male', CAST(N'2000-08-03' AS Date), CAST(N'2022-10-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (179, N'James Zuniga', N'Female', CAST(N'2014-12-02' AS Date), CAST(N'2023-05-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (180, N'Tammy Mathis', N'Male', CAST(N'1968-11-05' AS Date), CAST(N'2022-04-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (181, N'Jacqueline Curry', N'Male', CAST(N'1977-08-31' AS Date), CAST(N'2021-09-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (182, N'Bruce Gomez', N'Female', CAST(N'1971-09-15' AS Date), CAST(N'2020-02-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (183, N'David Hodge', N'Male', CAST(N'1987-05-27' AS Date), CAST(N'2021-06-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (184, N'Mrs. Kayla Stevenson DDS', N'Female', CAST(N'1973-05-09' AS Date), CAST(N'2023-11-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (185, N'Dr. John Mata', N'Male', CAST(N'1998-10-17' AS Date), CAST(N'2020-06-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (186, N'Vincent Perez', N'Female', CAST(N'1936-09-09' AS Date), CAST(N'2021-04-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (187, N'Tristan Ross', N'Female', CAST(N'1999-06-15' AS Date), CAST(N'2024-03-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (188, N'Logan Forbes', N'Female', CAST(N'1983-10-20' AS Date), CAST(N'2022-09-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (189, N'Tracy Montes', N'Male', CAST(N'1943-08-16' AS Date), CAST(N'2022-10-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (190, N'Michael Wilson', N'Female', CAST(N'1958-03-21' AS Date), CAST(N'2021-05-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (191, N'Ricky Hodge', N'Female', CAST(N'2005-02-12' AS Date), CAST(N'2023-05-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (192, N'James Barnett', N'Female', CAST(N'1960-10-26' AS Date), CAST(N'2022-07-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (193, N'Audrey Nash', N'Male', CAST(N'1943-11-11' AS Date), CAST(N'2021-12-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (194, N'Christina Meyer', N'Male', CAST(N'1971-11-01' AS Date), CAST(N'2024-06-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (195, N'Donna Vasquez DVM', N'Male', CAST(N'1983-05-16' AS Date), CAST(N'2021-01-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (196, N'Gabrielle Tucker', N'Female', CAST(N'1935-02-09' AS Date), CAST(N'2024-12-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (197, N'Tammy Novak', N'Male', CAST(N'1958-06-01' AS Date), CAST(N'2022-09-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (198, N'Peter Kirby', N'Female', CAST(N'1954-11-28' AS Date), CAST(N'2021-05-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (199, N'Jennifer Anderson', N'Female', CAST(N'1951-12-01' AS Date), CAST(N'2022-10-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (200, N'Toni Patel', N'Male', CAST(N'1989-02-23' AS Date), CAST(N'2020-09-28' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (201, N'Douglas Dominguez', N'Female', CAST(N'1958-05-16' AS Date), CAST(N'2021-01-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (202, N'John Morgan', N'Male', CAST(N'1988-11-08' AS Date), CAST(N'2020-11-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (203, N'Melissa Nichols', N'Female', CAST(N'1939-07-28' AS Date), CAST(N'2021-08-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (204, N'Maria Cain', N'Female', CAST(N'2014-07-29' AS Date), CAST(N'2021-07-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (205, N'Gary Anderson Jr.', N'Female', CAST(N'1957-06-02' AS Date), CAST(N'2020-06-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (206, N'Michele Hart', N'Male', CAST(N'1995-12-20' AS Date), CAST(N'2021-02-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (207, N'Keith Wilkerson', N'Male', CAST(N'1972-05-05' AS Date), CAST(N'2020-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (208, N'Eric Gilbert', N'Male', CAST(N'1941-12-12' AS Date), CAST(N'2021-02-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (209, N'Victoria Peterson', N'Male', CAST(N'1988-06-10' AS Date), CAST(N'2022-08-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (210, N'Gary Taylor', N'Male', CAST(N'1956-11-29' AS Date), CAST(N'2023-11-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (211, N'Amanda Jones', N'Male', CAST(N'1999-08-01' AS Date), CAST(N'2020-07-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (212, N'Derrick Williams', N'Male', CAST(N'1937-02-21' AS Date), CAST(N'2020-09-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (213, N'Timothy Little', N'Male', CAST(N'1956-02-15' AS Date), CAST(N'2023-05-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (214, N'Jose Morris', N'Female', CAST(N'2019-09-20' AS Date), CAST(N'2021-10-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (215, N'Margaret Bridges', N'Female', CAST(N'1988-11-22' AS Date), CAST(N'2024-05-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (216, N'Michael Oliver', N'Female', CAST(N'1981-11-01' AS Date), CAST(N'2022-10-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (217, N'Jennifer Villanueva', N'Female', CAST(N'1991-04-14' AS Date), CAST(N'2022-09-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (218, N'Jordan Thompson', N'Female', CAST(N'1953-09-09' AS Date), CAST(N'2022-03-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (219, N'Danielle Nelson', N'Female', CAST(N'1982-01-19' AS Date), CAST(N'2022-05-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (220, N'Brian Brooks', N'Male', CAST(N'1993-03-27' AS Date), CAST(N'2022-09-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (221, N'Sarah Cummings', N'Female', CAST(N'1995-12-14' AS Date), CAST(N'2020-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (222, N'Michael Moore', N'Male', CAST(N'2016-07-20' AS Date), CAST(N'2020-09-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (223, N'Cindy Skinner', N'Female', CAST(N'2010-09-05' AS Date), CAST(N'2021-09-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (224, N'Caitlin Sweeney', N'Male', CAST(N'1968-09-10' AS Date), CAST(N'2022-03-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (225, N'Kyle Nelson', N'Male', CAST(N'1994-05-11' AS Date), CAST(N'2023-12-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (226, N'Alejandra Farley', N'Female', CAST(N'2017-02-09' AS Date), CAST(N'2023-03-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (227, N'Justin Andrade', N'Male', CAST(N'1975-09-12' AS Date), CAST(N'2023-11-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (228, N'Jennifer Mahoney', N'Female', CAST(N'1971-02-05' AS Date), CAST(N'2023-01-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (229, N'John Johnson', N'Male', CAST(N'1997-09-16' AS Date), CAST(N'2020-01-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (230, N'Brian Taylor', N'Female', CAST(N'1980-01-25' AS Date), CAST(N'2021-10-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (231, N'William Stout', N'Male', CAST(N'1993-04-11' AS Date), CAST(N'2024-01-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (232, N'Danielle Stokes', N'Male', CAST(N'1955-12-03' AS Date), CAST(N'2022-10-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (233, N'Christopher Frank', N'Female', CAST(N'2016-10-22' AS Date), CAST(N'2021-07-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (234, N'Hannah Sandoval', N'Male', CAST(N'2023-12-17' AS Date), CAST(N'2023-11-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (235, N'Jeffrey Bennett', N'Female', CAST(N'1960-10-16' AS Date), CAST(N'2024-01-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (236, N'Michael Reid', N'Male', CAST(N'1981-01-17' AS Date), CAST(N'2020-04-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (237, N'Stephanie Jackson', N'Male', CAST(N'1992-03-08' AS Date), CAST(N'2022-06-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (238, N'Michael Hester', N'Male', CAST(N'1936-04-15' AS Date), CAST(N'2024-06-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (239, N'Roy Thompson', N'Female', CAST(N'1998-10-31' AS Date), CAST(N'2020-07-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (240, N'Wayne Douglas', N'Female', CAST(N'2004-12-11' AS Date), CAST(N'2022-04-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (241, N'Johnathan Mejia', N'Female', CAST(N'1999-06-07' AS Date), CAST(N'2020-12-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (242, N'Joshua Duncan', N'Male', CAST(N'2017-09-30' AS Date), CAST(N'2024-03-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (243, N'James Rodriguez', N'Female', CAST(N'1936-09-12' AS Date), CAST(N'2020-05-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (244, N'Ralph Contreras', N'Female', CAST(N'2006-02-23' AS Date), CAST(N'2021-06-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (245, N'William Mckenzie', N'Male', CAST(N'2019-07-20' AS Date), CAST(N'2020-02-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (246, N'Mark Fitzgerald', N'Male', CAST(N'2016-06-23' AS Date), CAST(N'2022-09-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (247, N'Aaron Lara', N'Female', CAST(N'2022-09-25' AS Date), CAST(N'2024-07-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (248, N'Grace Allen', N'Male', CAST(N'2004-02-03' AS Date), CAST(N'2024-09-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (249, N'Casey Richards', N'Male', CAST(N'1980-07-08' AS Date), CAST(N'2022-02-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (250, N'Taylor Hardy', N'Male', CAST(N'1997-05-14' AS Date), CAST(N'2023-06-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (251, N'Kimberly Wright', N'Female', CAST(N'2004-06-28' AS Date), CAST(N'2020-08-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (252, N'Jasmine Castro', N'Male', CAST(N'1992-01-25' AS Date), CAST(N'2022-05-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (253, N'Cynthia Smith', N'Male', CAST(N'2020-04-24' AS Date), CAST(N'2021-07-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (254, N'Jason Larson', N'Male', CAST(N'2023-02-02' AS Date), CAST(N'2023-07-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (255, N'Joseph West', N'Male', CAST(N'1979-06-25' AS Date), CAST(N'2022-02-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (256, N'James Price', N'Female', CAST(N'1952-05-27' AS Date), CAST(N'2024-01-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (257, N'Christian Bradley', N'Male', CAST(N'2010-05-17' AS Date), CAST(N'2023-11-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (258, N'Monique Rogers', N'Male', CAST(N'1947-03-08' AS Date), CAST(N'2021-04-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (259, N'Douglas Mcdonald', N'Female', CAST(N'1947-10-02' AS Date), CAST(N'2020-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (260, N'Craig Solis', N'Male', CAST(N'1982-09-20' AS Date), CAST(N'2020-12-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (261, N'Shane Lane', N'Male', CAST(N'1984-03-10' AS Date), CAST(N'2021-12-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (262, N'Mario Jones', N'Male', CAST(N'2005-02-04' AS Date), CAST(N'2020-04-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (263, N'Janet Fleming', N'Male', CAST(N'1987-07-13' AS Date), CAST(N'2020-08-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (264, N'Angela Allen', N'Female', CAST(N'1968-09-08' AS Date), CAST(N'2021-06-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (265, N'Victoria Kelly', N'Female', CAST(N'2009-10-24' AS Date), CAST(N'2021-02-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (266, N'Hannah Nichols', N'Female', CAST(N'1942-04-24' AS Date), CAST(N'2024-02-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (267, N'John Roberts', N'Female', CAST(N'2007-04-04' AS Date), CAST(N'2022-12-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (268, N'Nicole Scott', N'Female', CAST(N'1939-07-31' AS Date), CAST(N'2024-02-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (269, N'Robert Frye', N'Female', CAST(N'1990-12-19' AS Date), CAST(N'2020-07-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (270, N'Madeline Sanchez', N'Male', CAST(N'1953-01-17' AS Date), CAST(N'2022-07-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (271, N'Taylor Zimmerman', N'Male', CAST(N'2008-01-28' AS Date), CAST(N'2021-12-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (272, N'Brandi Moran', N'Female', CAST(N'1957-04-02' AS Date), CAST(N'2020-01-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (273, N'Dakota Hines', N'Male', CAST(N'1968-05-12' AS Date), CAST(N'2022-05-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (274, N'Debra Little', N'Male', CAST(N'1994-10-12' AS Date), CAST(N'2024-08-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (275, N'Savannah Faulkner', N'Male', CAST(N'2003-07-16' AS Date), CAST(N'2022-02-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (276, N'Brent Guerra', N'Female', CAST(N'1946-01-01' AS Date), CAST(N'2022-10-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (277, N'Andrew Lewis', N'Female', CAST(N'2008-05-26' AS Date), CAST(N'2022-09-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (278, N'Susan Davis', N'Female', CAST(N'1995-05-15' AS Date), CAST(N'2020-03-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (279, N'Jeremy Krueger', N'Female', CAST(N'1987-12-01' AS Date), CAST(N'2020-12-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (280, N'Kelly Gonzalez', N'Female', CAST(N'1966-09-18' AS Date), CAST(N'2024-05-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (281, N'Dr. Amy Bullock', N'Female', CAST(N'1975-08-07' AS Date), CAST(N'2024-03-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (282, N'Charles Knox', N'Male', CAST(N'1960-01-14' AS Date), CAST(N'2020-03-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (283, N'Wanda Houston', N'Male', CAST(N'1970-01-02' AS Date), CAST(N'2024-12-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (284, N'Sarah Lucas', N'Female', CAST(N'1969-10-31' AS Date), CAST(N'2024-07-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (285, N'Timothy Arnold', N'Female', CAST(N'2016-03-23' AS Date), CAST(N'2022-05-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (286, N'Kevin Stewart', N'Male', CAST(N'1947-10-14' AS Date), CAST(N'2022-12-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (287, N'Diana Grimes', N'Female', CAST(N'2005-03-07' AS Date), CAST(N'2023-11-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (288, N'Zachary Gibbs', N'Male', CAST(N'1986-02-23' AS Date), CAST(N'2020-07-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (289, N'Alexis Barrera', N'Female', CAST(N'1964-08-22' AS Date), CAST(N'2021-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (290, N'Marcia Aguilar', N'Female', CAST(N'1977-12-24' AS Date), CAST(N'2023-03-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (291, N'Jill Porter', N'Female', CAST(N'2007-04-09' AS Date), CAST(N'2020-01-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (292, N'Frederick Lewis', N'Male', CAST(N'2014-12-24' AS Date), CAST(N'2020-09-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (293, N'Evan Romero', N'Male', CAST(N'2008-04-09' AS Date), CAST(N'2024-12-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (294, N'Lisa Johnson', N'Female', CAST(N'1940-01-19' AS Date), CAST(N'2023-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (295, N'Deborah Costa', N'Male', CAST(N'1983-11-15' AS Date), CAST(N'2022-11-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (296, N'Angela Jackson', N'Male', CAST(N'2018-08-06' AS Date), CAST(N'2021-05-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (297, N'Douglas Barber', N'Female', CAST(N'1957-12-28' AS Date), CAST(N'2021-01-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (298, N'John Mclaughlin', N'Male', CAST(N'1961-06-16' AS Date), CAST(N'2024-05-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (299, N'Samantha Jones', N'Female', CAST(N'1962-09-24' AS Date), CAST(N'2024-08-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (300, N'Brandi Ramos', N'Male', CAST(N'1967-02-03' AS Date), CAST(N'2023-09-26' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (301, N'Ethan Brady', N'Female', CAST(N'2014-02-27' AS Date), CAST(N'2020-03-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (302, N'Mary Salas', N'Male', CAST(N'1972-07-20' AS Date), CAST(N'2024-11-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (303, N'Brian Anderson', N'Female', CAST(N'1987-02-22' AS Date), CAST(N'2020-08-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (304, N'Craig Brown', N'Male', CAST(N'2020-12-14' AS Date), CAST(N'2021-09-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (305, N'Miranda Robinson', N'Female', CAST(N'2018-04-08' AS Date), CAST(N'2020-01-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (306, N'Mrs. Dawn Arnold', N'Female', CAST(N'1935-03-01' AS Date), CAST(N'2023-10-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (307, N'Robert Johnson', N'Male', CAST(N'1981-11-15' AS Date), CAST(N'2021-01-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (308, N'John Watson', N'Female', CAST(N'1969-08-13' AS Date), CAST(N'2023-04-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (309, N'Christopher Cohen', N'Male', CAST(N'1961-01-24' AS Date), CAST(N'2024-08-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (310, N'John Johnson', N'Female', CAST(N'1936-03-13' AS Date), CAST(N'2020-07-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (311, N'Mary Farley', N'Female', CAST(N'1973-04-05' AS Date), CAST(N'2023-07-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (312, N'Benjamin Fisher', N'Male', CAST(N'1997-06-26' AS Date), CAST(N'2024-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (313, N'Sandra Elliott', N'Female', CAST(N'1983-11-15' AS Date), CAST(N'2022-07-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (314, N'Michael Johnston', N'Male', CAST(N'2011-06-26' AS Date), CAST(N'2022-04-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (315, N'Ronnie Lowe', N'Male', CAST(N'1981-07-16' AS Date), CAST(N'2022-10-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (316, N'Lisa Green', N'Male', CAST(N'1962-04-05' AS Date), CAST(N'2023-01-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (317, N'Jimmy Mcclain', N'Male', CAST(N'1955-03-26' AS Date), CAST(N'2022-03-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (318, N'Tammy Horton', N'Male', CAST(N'1990-08-30' AS Date), CAST(N'2021-12-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (319, N'Martin Kelly', N'Male', CAST(N'2004-12-23' AS Date), CAST(N'2020-01-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (320, N'Natalie Torres', N'Female', CAST(N'1935-09-07' AS Date), CAST(N'2021-09-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (321, N'Rachel Berg', N'Male', CAST(N'1953-02-09' AS Date), CAST(N'2020-05-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (322, N'William Brewer', N'Female', CAST(N'1945-11-21' AS Date), CAST(N'2023-06-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (323, N'Lisa Hall', N'Male', CAST(N'2020-12-14' AS Date), CAST(N'2023-07-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (324, N'Ralph Gordon', N'Male', CAST(N'1986-01-01' AS Date), CAST(N'2021-10-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (325, N'Jason Fox', N'Male', CAST(N'1975-11-14' AS Date), CAST(N'2024-04-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (326, N'Cristian Pineda', N'Male', CAST(N'1989-01-17' AS Date), CAST(N'2023-02-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (327, N'Dana Foster', N'Female', CAST(N'1953-04-02' AS Date), CAST(N'2020-10-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (328, N'Natasha Suarez MD', N'Female', CAST(N'1997-09-28' AS Date), CAST(N'2021-07-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (329, N'Mr. Andre Wood MD', N'Female', CAST(N'2013-01-12' AS Date), CAST(N'2022-07-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (330, N'Larry Silva', N'Female', CAST(N'1960-08-23' AS Date), CAST(N'2022-09-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (331, N'Adam Collins', N'Male', CAST(N'1942-02-12' AS Date), CAST(N'2022-06-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (332, N'Sheila Adkins', N'Male', CAST(N'2001-10-13' AS Date), CAST(N'2024-12-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (333, N'Jake Hall', N'Female', CAST(N'1943-07-25' AS Date), CAST(N'2022-07-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (334, N'Beverly Nielsen', N'Male', CAST(N'2022-05-28' AS Date), CAST(N'2020-05-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (335, N'Antonio Dennis', N'Male', CAST(N'2011-01-24' AS Date), CAST(N'2020-04-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (336, N'Joshua Cook', N'Male', CAST(N'1936-01-09' AS Date), CAST(N'2020-01-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (337, N'Curtis Phillips', N'Male', CAST(N'1983-11-25' AS Date), CAST(N'2021-04-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (338, N'Daniel Eaton', N'Male', CAST(N'1955-10-24' AS Date), CAST(N'2022-10-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (339, N'Gary Russell', N'Female', CAST(N'1935-10-11' AS Date), CAST(N'2020-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (340, N'Pam Robinson', N'Female', CAST(N'1950-03-24' AS Date), CAST(N'2024-07-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (341, N'Robert Humphrey', N'Male', CAST(N'1947-07-04' AS Date), CAST(N'2024-03-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (342, N'Andrew Mitchell', N'Female', CAST(N'1965-04-29' AS Date), CAST(N'2022-12-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (343, N'Ricky Ortega', N'Male', CAST(N'1945-01-24' AS Date), CAST(N'2021-01-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (344, N'Audrey Cisneros', N'Male', CAST(N'2007-05-19' AS Date), CAST(N'2021-02-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (345, N'David Henderson', N'Male', CAST(N'1956-09-18' AS Date), CAST(N'2020-02-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (346, N'Cory Bell', N'Male', CAST(N'1975-03-23' AS Date), CAST(N'2024-05-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (347, N'Lisa Lin', N'Female', CAST(N'1969-02-15' AS Date), CAST(N'2022-02-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (348, N'Ronald Wiley', N'Male', CAST(N'2016-04-24' AS Date), CAST(N'2023-01-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (349, N'Benjamin Salinas', N'Male', CAST(N'2014-01-11' AS Date), CAST(N'2022-08-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (350, N'Tara Fischer', N'Female', CAST(N'1967-09-08' AS Date), CAST(N'2022-04-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (351, N'James Ruiz', N'Female', CAST(N'1935-11-17' AS Date), CAST(N'2020-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (352, N'Keith Savage', N'Male', CAST(N'1998-05-13' AS Date), CAST(N'2020-09-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (353, N'Mark Taylor', N'Male', CAST(N'1941-07-05' AS Date), CAST(N'2023-01-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (354, N'Matthew Jackson', N'Male', CAST(N'2011-05-16' AS Date), CAST(N'2021-07-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (355, N'Joshua Mercado', N'Female', CAST(N'2016-10-24' AS Date), CAST(N'2024-03-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (356, N'Andrea Lopez', N'Male', CAST(N'1982-06-15' AS Date), CAST(N'2024-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (357, N'Cheryl Kelly', N'Female', CAST(N'2020-12-17' AS Date), CAST(N'2022-07-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (358, N'Shannon Casey', N'Female', CAST(N'1990-10-09' AS Date), CAST(N'2023-04-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (359, N'Bryan Fry', N'Female', CAST(N'1937-04-10' AS Date), CAST(N'2021-05-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (360, N'Traci Clark', N'Female', CAST(N'1956-07-25' AS Date), CAST(N'2024-03-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (361, N'Jamie Ward', N'Female', CAST(N'1938-10-15' AS Date), CAST(N'2024-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (362, N'Adriana Davis', N'Male', CAST(N'1946-07-12' AS Date), CAST(N'2021-11-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (363, N'Brenda Perez', N'Female', CAST(N'1962-05-15' AS Date), CAST(N'2022-07-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (364, N'Kimberly Berger', N'Female', CAST(N'1983-02-10' AS Date), CAST(N'2022-02-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (365, N'Lauren Wells', N'Male', CAST(N'1980-06-16' AS Date), CAST(N'2021-10-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (366, N'Benjamin Harris', N'Female', CAST(N'2003-01-03' AS Date), CAST(N'2020-08-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (367, N'Christopher Cox', N'Female', CAST(N'1938-10-10' AS Date), CAST(N'2021-10-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (368, N'Megan Dillon', N'Male', CAST(N'1942-03-05' AS Date), CAST(N'2023-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (369, N'Grant Andrews', N'Female', CAST(N'2009-10-03' AS Date), CAST(N'2023-05-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (370, N'Mrs. Emily Castillo', N'Male', CAST(N'1937-08-06' AS Date), CAST(N'2020-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (371, N'Justin Taylor', N'Male', CAST(N'1940-06-26' AS Date), CAST(N'2021-08-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (372, N'Latoya Shea', N'Female', CAST(N'1988-10-18' AS Date), CAST(N'2024-06-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (373, N'Karen Perry', N'Male', CAST(N'1940-10-09' AS Date), CAST(N'2020-04-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (374, N'Shannon Smith', N'Male', CAST(N'1950-07-23' AS Date), CAST(N'2021-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (375, N'Roy King', N'Male', CAST(N'1961-11-24' AS Date), CAST(N'2022-06-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (376, N'Elizabeth Schultz', N'Female', CAST(N'1938-09-17' AS Date), CAST(N'2022-02-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (377, N'Claudia Kelly', N'Female', CAST(N'1993-03-18' AS Date), CAST(N'2022-10-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (378, N'Lisa Leonard', N'Female', CAST(N'1963-05-18' AS Date), CAST(N'2021-10-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (379, N'Joseph Bradley', N'Female', CAST(N'2012-12-29' AS Date), CAST(N'2021-12-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (380, N'Ronnie Maddox', N'Male', CAST(N'1956-03-13' AS Date), CAST(N'2023-08-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (381, N'Patrick Johnson', N'Male', CAST(N'1979-12-24' AS Date), CAST(N'2022-11-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (382, N'Sylvia Pope', N'Male', CAST(N'1985-01-06' AS Date), CAST(N'2022-06-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (383, N'Juan Hart', N'Female', CAST(N'2001-02-16' AS Date), CAST(N'2020-10-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (384, N'Amber Swanson', N'Male', CAST(N'2008-04-13' AS Date), CAST(N'2022-03-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (385, N'Mary Torres', N'Male', CAST(N'1942-04-12' AS Date), CAST(N'2023-10-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (386, N'Christopher Ramos', N'Female', CAST(N'2009-04-21' AS Date), CAST(N'2024-10-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (387, N'Tracy Thompson', N'Female', CAST(N'1978-06-23' AS Date), CAST(N'2020-01-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (388, N'Shawn Brown', N'Male', CAST(N'1993-03-28' AS Date), CAST(N'2022-07-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (389, N'Dr. Barbara Baker', N'Male', CAST(N'2023-07-26' AS Date), CAST(N'2021-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (390, N'Thomas Williamson', N'Female', CAST(N'1962-01-27' AS Date), CAST(N'2022-10-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (391, N'Jimmy Arnold', N'Female', CAST(N'1949-08-14' AS Date), CAST(N'2023-01-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (392, N'Leslie Cobb', N'Female', CAST(N'1959-10-07' AS Date), CAST(N'2020-10-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (393, N'William Wilson', N'Male', CAST(N'1968-07-16' AS Date), CAST(N'2023-04-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (394, N'Lisa Gonzales', N'Female', CAST(N'2007-09-07' AS Date), CAST(N'2022-03-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (395, N'Amy Bowen', N'Female', CAST(N'1943-02-04' AS Date), CAST(N'2021-12-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (396, N'Christopher Cole', N'Female', CAST(N'2011-02-06' AS Date), CAST(N'2020-03-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (397, N'William Cole', N'Male', CAST(N'1969-05-31' AS Date), CAST(N'2024-07-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (398, N'Carrie Harper', N'Male', CAST(N'1950-07-29' AS Date), CAST(N'2023-11-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (399, N'Rebecca Brown', N'Male', CAST(N'2017-11-10' AS Date), CAST(N'2021-02-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (400, N'Jessica Oneal', N'Female', CAST(N'1943-06-27' AS Date), CAST(N'2020-04-08' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (401, N'Timothy Marshall', N'Male', CAST(N'1980-01-05' AS Date), CAST(N'2020-10-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (402, N'Jessica Barron', N'Male', CAST(N'2001-01-09' AS Date), CAST(N'2022-05-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (403, N'Charles Maddox', N'Female', CAST(N'1989-04-30' AS Date), CAST(N'2021-02-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (404, N'Cindy Gibson', N'Female', CAST(N'2013-04-14' AS Date), CAST(N'2020-07-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (405, N'Anthony Hernandez', N'Female', CAST(N'1968-01-17' AS Date), CAST(N'2021-08-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (406, N'Adrian Freeman', N'Female', CAST(N'1974-06-03' AS Date), CAST(N'2023-09-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (407, N'Kevin Edwards', N'Male', CAST(N'2002-02-09' AS Date), CAST(N'2020-11-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (408, N'Jeremy Ellis MD', N'Female', CAST(N'1982-08-04' AS Date), CAST(N'2021-07-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (409, N'Tiffany Hansen', N'Male', CAST(N'1991-07-14' AS Date), CAST(N'2023-08-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (410, N'Kevin Ford', N'Male', CAST(N'1977-12-08' AS Date), CAST(N'2021-12-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (411, N'Colleen Allen', N'Female', CAST(N'1952-05-08' AS Date), CAST(N'2022-12-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (412, N'Richard Whitehead', N'Male', CAST(N'2002-09-18' AS Date), CAST(N'2021-08-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (413, N'Hailey Ward', N'Male', CAST(N'1987-11-30' AS Date), CAST(N'2023-04-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (414, N'Richard Castaneda', N'Female', CAST(N'1960-04-24' AS Date), CAST(N'2021-02-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (415, N'Michael Santiago', N'Female', CAST(N'1950-02-22' AS Date), CAST(N'2021-12-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (416, N'Toni Munoz', N'Male', CAST(N'2004-07-19' AS Date), CAST(N'2024-03-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (417, N'Austin Carr', N'Male', CAST(N'1968-12-16' AS Date), CAST(N'2023-07-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (418, N'Jeffrey Stokes', N'Female', CAST(N'1942-09-24' AS Date), CAST(N'2022-01-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (419, N'Joseph Oconnor', N'Female', CAST(N'2023-03-09' AS Date), CAST(N'2023-10-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (420, N'Jeffrey Daniels', N'Female', CAST(N'1991-09-27' AS Date), CAST(N'2023-07-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (421, N'Terri Clark', N'Female', CAST(N'1948-08-04' AS Date), CAST(N'2024-11-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (422, N'Walter Wilson', N'Male', CAST(N'1986-12-26' AS Date), CAST(N'2020-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (423, N'Gene Leon', N'Male', CAST(N'1997-07-17' AS Date), CAST(N'2021-08-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (424, N'Ian Thompson', N'Male', CAST(N'1955-06-28' AS Date), CAST(N'2022-06-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (425, N'Thomas Davis MD', N'Female', CAST(N'1985-03-04' AS Date), CAST(N'2020-09-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (426, N'Chad English', N'Male', CAST(N'1965-09-15' AS Date), CAST(N'2020-04-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (427, N'Joseph Eaton', N'Female', CAST(N'1999-01-21' AS Date), CAST(N'2021-01-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (428, N'Abigail Terry', N'Male', CAST(N'1938-02-17' AS Date), CAST(N'2024-02-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (429, N'Robert Li', N'Male', CAST(N'2003-10-09' AS Date), CAST(N'2020-07-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (430, N'Brian Higgins', N'Male', CAST(N'2023-10-21' AS Date), CAST(N'2022-08-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (431, N'Mary Thomas', N'Female', CAST(N'1967-10-09' AS Date), CAST(N'2021-09-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (432, N'Jennifer Richardson', N'Male', CAST(N'1983-10-01' AS Date), CAST(N'2021-01-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (433, N'David Smith', N'Female', CAST(N'1994-08-04' AS Date), CAST(N'2022-04-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (434, N'Latoya Brown', N'Female', CAST(N'2007-09-11' AS Date), CAST(N'2024-02-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (435, N'Jeffrey Floyd', N'Female', CAST(N'1971-09-23' AS Date), CAST(N'2024-04-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (436, N'Mary Bullock', N'Male', CAST(N'2004-06-11' AS Date), CAST(N'2022-12-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (437, N'Jesse Barker', N'Female', CAST(N'1981-06-03' AS Date), CAST(N'2022-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (438, N'Ryan Sanchez', N'Female', CAST(N'1991-11-24' AS Date), CAST(N'2022-03-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (439, N'Alec Anderson', N'Male', CAST(N'1960-04-11' AS Date), CAST(N'2022-05-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (440, N'Austin Hogan', N'Female', CAST(N'2022-07-24' AS Date), CAST(N'2022-02-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (441, N'Lance Davis', N'Male', CAST(N'1982-10-27' AS Date), CAST(N'2023-05-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (442, N'Maria Gardner', N'Male', CAST(N'1971-04-01' AS Date), CAST(N'2024-07-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (443, N'Karen Gross', N'Female', CAST(N'1973-09-29' AS Date), CAST(N'2020-05-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (444, N'Sharon Wood', N'Female', CAST(N'1942-12-29' AS Date), CAST(N'2020-07-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (445, N'Ashley Pena', N'Male', CAST(N'1942-03-19' AS Date), CAST(N'2022-07-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (446, N'Cynthia Parker', N'Female', CAST(N'1989-05-12' AS Date), CAST(N'2022-11-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (447, N'Jenna Williams', N'Female', CAST(N'1987-11-29' AS Date), CAST(N'2021-05-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (448, N'Jessica Adams', N'Male', CAST(N'2023-12-17' AS Date), CAST(N'2021-08-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (449, N'Karen Ferguson', N'Female', CAST(N'1958-07-15' AS Date), CAST(N'2020-11-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (450, N'Joy Richards', N'Male', CAST(N'1950-10-09' AS Date), CAST(N'2022-07-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (451, N'Olivia Estrada', N'Male', CAST(N'1971-07-31' AS Date), CAST(N'2023-06-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (452, N'Karen Mccoy', N'Female', CAST(N'1961-11-29' AS Date), CAST(N'2020-04-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (453, N'William Orozco', N'Male', CAST(N'2008-10-09' AS Date), CAST(N'2021-04-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (454, N'Rachel Weaver', N'Male', CAST(N'1961-08-10' AS Date), CAST(N'2020-07-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (455, N'Dr. Sarah Griffin PhD', N'Male', CAST(N'2016-04-13' AS Date), CAST(N'2022-09-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (456, N'William Medina', N'Female', CAST(N'2003-08-09' AS Date), CAST(N'2023-02-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (457, N'Joel Smith', N'Male', CAST(N'1958-04-08' AS Date), CAST(N'2024-10-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (458, N'Krystal Rodriguez', N'Male', CAST(N'1996-01-04' AS Date), CAST(N'2023-01-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (459, N'Melissa Reilly', N'Female', CAST(N'1974-08-08' AS Date), CAST(N'2023-01-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (460, N'Leah Shelton', N'Male', CAST(N'1951-04-03' AS Date), CAST(N'2020-04-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (461, N'Andrew Peters', N'Male', CAST(N'1961-10-18' AS Date), CAST(N'2023-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (462, N'Chris Glenn', N'Female', CAST(N'1942-05-29' AS Date), CAST(N'2021-10-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (463, N'Kristine Adams', N'Female', CAST(N'1946-06-17' AS Date), CAST(N'2022-11-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (464, N'Scott Baker', N'Female', CAST(N'2018-04-26' AS Date), CAST(N'2020-02-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (465, N'Diane Wells', N'Female', CAST(N'1973-08-16' AS Date), CAST(N'2024-01-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (466, N'Randall Johnson', N'Male', CAST(N'1991-08-24' AS Date), CAST(N'2024-02-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (467, N'Samuel Kelly', N'Female', CAST(N'1966-04-15' AS Date), CAST(N'2024-07-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (468, N'Rachel Perez DVM', N'Female', CAST(N'1967-03-28' AS Date), CAST(N'2024-05-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (469, N'Daniel Scott', N'Female', CAST(N'1996-07-10' AS Date), CAST(N'2024-11-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (470, N'Ashley Cohen', N'Male', CAST(N'2015-03-18' AS Date), CAST(N'2023-11-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (471, N'Erik Frank', N'Male', CAST(N'1997-06-17' AS Date), CAST(N'2024-12-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (472, N'Rebecca Norris', N'Female', CAST(N'1968-08-02' AS Date), CAST(N'2020-03-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (473, N'Joyce Hancock', N'Male', CAST(N'1946-03-13' AS Date), CAST(N'2024-04-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (474, N'Stacey Haynes', N'Female', CAST(N'1973-08-04' AS Date), CAST(N'2022-07-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (475, N'David Andrews', N'Male', CAST(N'1950-05-04' AS Date), CAST(N'2021-10-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (476, N'Linda English', N'Male', CAST(N'1973-04-29' AS Date), CAST(N'2022-10-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (477, N'Paul Garrett', N'Male', CAST(N'2019-06-03' AS Date), CAST(N'2020-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (478, N'Eduardo Jensen', N'Male', CAST(N'1991-10-22' AS Date), CAST(N'2021-01-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (479, N'Kyle Baker', N'Female', CAST(N'2009-01-10' AS Date), CAST(N'2020-07-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (480, N'Brittany Klein', N'Male', CAST(N'2004-09-23' AS Date), CAST(N'2024-09-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (481, N'Allison Guerrero', N'Male', CAST(N'2016-04-11' AS Date), CAST(N'2023-11-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (482, N'Paul Mitchell', N'Female', CAST(N'2006-08-13' AS Date), CAST(N'2022-01-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (483, N'Alyssa Aguilar', N'Female', CAST(N'1946-01-12' AS Date), CAST(N'2023-10-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (484, N'Katherine Skinner', N'Female', CAST(N'1955-04-23' AS Date), CAST(N'2020-02-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (485, N'Jennifer Miller', N'Female', CAST(N'1994-11-20' AS Date), CAST(N'2024-07-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (486, N'Leslie Bailey', N'Female', CAST(N'1938-02-27' AS Date), CAST(N'2020-05-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (487, N'Eric Parker', N'Male', CAST(N'1982-09-16' AS Date), CAST(N'2023-02-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (488, N'Savannah Jackson', N'Male', CAST(N'1990-10-29' AS Date), CAST(N'2024-05-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (489, N'Larry Mcneil', N'Female', CAST(N'1991-06-08' AS Date), CAST(N'2023-07-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (490, N'Willie Decker', N'Female', CAST(N'1963-05-22' AS Date), CAST(N'2021-07-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (491, N'John Marks', N'Female', CAST(N'2004-12-24' AS Date), CAST(N'2020-09-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (492, N'Christopher Green', N'Female', CAST(N'1952-07-27' AS Date), CAST(N'2020-10-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (493, N'Suzanne Bond', N'Female', CAST(N'1990-04-04' AS Date), CAST(N'2021-07-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (494, N'Christine Johnson', N'Female', CAST(N'1953-10-11' AS Date), CAST(N'2023-12-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (495, N'Emily Robinson', N'Female', CAST(N'1991-09-10' AS Date), CAST(N'2022-07-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (496, N'Jill Miller', N'Male', CAST(N'1940-09-05' AS Date), CAST(N'2021-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (497, N'Michelle Hawkins', N'Female', CAST(N'1935-03-21' AS Date), CAST(N'2024-10-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (498, N'Joshua Lee', N'Female', CAST(N'1956-03-29' AS Date), CAST(N'2021-01-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (499, N'Susan Baker', N'Male', CAST(N'1965-10-15' AS Date), CAST(N'2021-06-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (500, N'Adam Norman', N'Male', CAST(N'2022-04-26' AS Date), CAST(N'2020-03-18' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (501, N'Jesse Torres', N'Female', CAST(N'1956-07-14' AS Date), CAST(N'2024-05-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (502, N'Cory Escobar', N'Male', CAST(N'1990-06-04' AS Date), CAST(N'2023-06-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (503, N'Allison Spence', N'Female', CAST(N'1936-12-04' AS Date), CAST(N'2021-02-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (504, N'Ryan Herring', N'Female', CAST(N'1935-02-18' AS Date), CAST(N'2020-09-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (505, N'Chad Mcintyre', N'Female', CAST(N'1941-12-17' AS Date), CAST(N'2022-09-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (506, N'Adam Ramirez', N'Male', CAST(N'1957-08-23' AS Date), CAST(N'2022-09-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (507, N'Kerri Ferguson', N'Female', CAST(N'1959-06-11' AS Date), CAST(N'2020-11-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (508, N'James Winters', N'Male', CAST(N'1953-01-30' AS Date), CAST(N'2020-02-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (509, N'Evan Robinson', N'Female', CAST(N'1970-01-22' AS Date), CAST(N'2024-05-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (510, N'Leslie Collier', N'Male', CAST(N'2013-06-15' AS Date), CAST(N'2020-04-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (511, N'Bonnie Jenkins', N'Female', CAST(N'1969-05-27' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (512, N'Cory Mccarthy', N'Female', CAST(N'2020-07-01' AS Date), CAST(N'2024-07-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (513, N'Keith Lee', N'Female', CAST(N'1981-03-20' AS Date), CAST(N'2022-09-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (514, N'Brandon Castillo', N'Female', CAST(N'1939-01-27' AS Date), CAST(N'2024-03-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (515, N'Alexis Owen', N'Male', CAST(N'2009-10-27' AS Date), CAST(N'2020-03-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (516, N'Karen Thompson', N'Female', CAST(N'2008-01-12' AS Date), CAST(N'2022-10-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (517, N'Taylor Booker', N'Male', CAST(N'1993-12-22' AS Date), CAST(N'2024-05-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (518, N'George Wells', N'Female', CAST(N'1980-06-08' AS Date), CAST(N'2021-11-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (519, N'Lauren Bradford', N'Male', CAST(N'1974-03-20' AS Date), CAST(N'2024-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (520, N'Willie Knight', N'Female', CAST(N'1968-04-15' AS Date), CAST(N'2023-02-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (521, N'Michael Greene', N'Male', CAST(N'2006-10-22' AS Date), CAST(N'2020-05-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (522, N'Kevin Brown', N'Female', CAST(N'2002-12-22' AS Date), CAST(N'2024-07-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (523, N'Pamela Blackburn', N'Female', CAST(N'1975-04-04' AS Date), CAST(N'2022-07-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (524, N'Megan Hill', N'Male', CAST(N'1987-05-21' AS Date), CAST(N'2023-11-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (525, N'Beverly Jackson', N'Male', CAST(N'1996-03-17' AS Date), CAST(N'2023-07-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (526, N'Katherine Reyes', N'Male', CAST(N'2020-10-10' AS Date), CAST(N'2021-04-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (527, N'Alexander Miller', N'Female', CAST(N'1990-08-12' AS Date), CAST(N'2023-04-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (528, N'Patrick Jackson', N'Female', CAST(N'1967-10-25' AS Date), CAST(N'2023-03-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (529, N'Jodi Stokes', N'Female', CAST(N'1976-10-27' AS Date), CAST(N'2023-04-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (530, N'Kristine Hart', N'Female', CAST(N'2018-04-20' AS Date), CAST(N'2020-03-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (531, N'Andrew Collins', N'Male', CAST(N'1982-09-21' AS Date), CAST(N'2023-02-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (532, N'Alicia Russo', N'Female', CAST(N'1955-09-19' AS Date), CAST(N'2024-11-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (533, N'Ryan Marquez', N'Female', CAST(N'1936-05-26' AS Date), CAST(N'2022-07-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (534, N'Wyatt Hall', N'Female', CAST(N'1969-11-21' AS Date), CAST(N'2020-11-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (535, N'Joshua Harvey', N'Male', CAST(N'1948-12-19' AS Date), CAST(N'2024-03-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (536, N'Timothy Nunez', N'Female', CAST(N'2021-10-02' AS Date), CAST(N'2022-03-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (537, N'Lisa Espinoza', N'Male', CAST(N'1971-04-15' AS Date), CAST(N'2022-07-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (538, N'George Frost', N'Female', CAST(N'1941-05-20' AS Date), CAST(N'2024-02-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (539, N'Candice Jordan', N'Male', CAST(N'2009-07-07' AS Date), CAST(N'2022-07-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (540, N'Kathy Jackson', N'Female', CAST(N'2023-07-03' AS Date), CAST(N'2023-09-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (541, N'Gregory Zimmerman', N'Male', CAST(N'2012-08-25' AS Date), CAST(N'2022-10-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (542, N'Ian Gardner', N'Female', CAST(N'2014-02-09' AS Date), CAST(N'2023-07-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (543, N'Alejandro Sandoval', N'Male', CAST(N'1958-01-13' AS Date), CAST(N'2024-05-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (544, N'Zachary Owen', N'Female', CAST(N'1957-01-18' AS Date), CAST(N'2020-01-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (545, N'Ashley Hernandez', N'Male', CAST(N'1968-12-06' AS Date), CAST(N'2020-11-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (546, N'Joshua Pena', N'Male', CAST(N'2005-01-06' AS Date), CAST(N'2020-04-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (547, N'John Harmon', N'Male', CAST(N'1953-01-17' AS Date), CAST(N'2022-12-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (548, N'Steven Russo', N'Male', CAST(N'2018-08-11' AS Date), CAST(N'2021-12-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (549, N'Robert Alexander', N'Female', CAST(N'1965-10-16' AS Date), CAST(N'2022-02-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (550, N'Monica Graham', N'Female', CAST(N'1958-04-29' AS Date), CAST(N'2020-10-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (551, N'Victor Coffey', N'Female', CAST(N'1940-05-23' AS Date), CAST(N'2022-12-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (552, N'Laura Arellano', N'Male', CAST(N'1947-06-01' AS Date), CAST(N'2023-08-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (553, N'Ashley Harris', N'Male', CAST(N'2019-07-16' AS Date), CAST(N'2021-03-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (554, N'Susan Dawson', N'Male', CAST(N'2003-11-30' AS Date), CAST(N'2021-06-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (555, N'Brenda Ross', N'Female', CAST(N'1978-05-13' AS Date), CAST(N'2023-07-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (556, N'Benjamin Richardson', N'Female', CAST(N'1948-05-06' AS Date), CAST(N'2024-07-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (557, N'Kevin Simmons', N'Male', CAST(N'2011-09-03' AS Date), CAST(N'2024-08-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (558, N'Angela Carr', N'Male', CAST(N'2004-04-07' AS Date), CAST(N'2024-08-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (559, N'Julie Thompson', N'Female', CAST(N'1935-01-27' AS Date), CAST(N'2020-02-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (560, N'Nathan Morales', N'Female', CAST(N'1983-02-08' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (561, N'Tami Baker', N'Male', CAST(N'1968-12-04' AS Date), CAST(N'2020-07-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (562, N'David Barber', N'Male', CAST(N'1962-06-25' AS Date), CAST(N'2023-06-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (563, N'Michael Walsh', N'Female', CAST(N'1960-06-22' AS Date), CAST(N'2023-11-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (564, N'Susan Neal', N'Female', CAST(N'1973-11-10' AS Date), CAST(N'2022-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (565, N'Emily Ware', N'Female', CAST(N'2005-02-20' AS Date), CAST(N'2023-06-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (566, N'Amber Hess', N'Male', CAST(N'1974-07-15' AS Date), CAST(N'2023-06-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (567, N'Jessica Fitzgerald', N'Female', CAST(N'2011-07-14' AS Date), CAST(N'2024-12-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (568, N'Thomas Hampton', N'Female', CAST(N'1987-12-12' AS Date), CAST(N'2023-10-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (569, N'Jared Williams', N'Male', CAST(N'2017-11-23' AS Date), CAST(N'2024-01-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (570, N'Lisa Colon', N'Female', CAST(N'1949-04-18' AS Date), CAST(N'2022-11-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (571, N'Lauren Davila', N'Female', CAST(N'1957-05-28' AS Date), CAST(N'2023-05-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (572, N'Jeanette Bentley', N'Female', CAST(N'1971-06-03' AS Date), CAST(N'2020-09-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (573, N'James Benitez', N'Male', CAST(N'2016-09-06' AS Date), CAST(N'2024-06-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (574, N'Kathy Day', N'Female', CAST(N'1988-10-20' AS Date), CAST(N'2024-10-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (575, N'James Daniel', N'Male', CAST(N'2006-09-05' AS Date), CAST(N'2023-09-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (576, N'Mark Adams', N'Male', CAST(N'1959-01-05' AS Date), CAST(N'2021-04-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (577, N'Bryan Powers', N'Female', CAST(N'2005-12-21' AS Date), CAST(N'2020-07-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (578, N'Julie Patton', N'Female', CAST(N'1938-01-28' AS Date), CAST(N'2020-05-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (579, N'Anne Johnson', N'Female', CAST(N'1993-07-09' AS Date), CAST(N'2020-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (580, N'Robert Wilson', N'Male', CAST(N'2010-03-05' AS Date), CAST(N'2024-07-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (581, N'Lisa Nicholson', N'Female', CAST(N'1948-09-01' AS Date), CAST(N'2022-11-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (582, N'Sharon Jackson', N'Male', CAST(N'2008-12-03' AS Date), CAST(N'2021-12-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (583, N'Rebecca Barnett', N'Male', CAST(N'1963-09-04' AS Date), CAST(N'2024-04-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (584, N'Rhonda Williams', N'Male', CAST(N'1935-09-14' AS Date), CAST(N'2022-11-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (585, N'Brandon Pitts', N'Female', CAST(N'1938-08-14' AS Date), CAST(N'2021-05-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (586, N'Timothy Arroyo', N'Male', CAST(N'2004-12-13' AS Date), CAST(N'2022-04-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (587, N'Victor Walker', N'Female', CAST(N'1992-01-16' AS Date), CAST(N'2023-11-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (588, N'Stacey Mcmillan', N'Female', CAST(N'1967-04-13' AS Date), CAST(N'2023-07-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (589, N'Jeffrey Chambers', N'Male', CAST(N'1959-01-25' AS Date), CAST(N'2021-11-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (590, N'Christine Nielsen', N'Male', CAST(N'1947-01-06' AS Date), CAST(N'2021-02-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (591, N'Crystal Larsen', N'Male', CAST(N'1966-08-19' AS Date), CAST(N'2020-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (592, N'Jessica Hanson', N'Female', CAST(N'1944-05-30' AS Date), CAST(N'2020-04-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (593, N'Jose Gonzalez', N'Female', CAST(N'1953-01-28' AS Date), CAST(N'2024-03-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (594, N'Gregory Savage', N'Female', CAST(N'2024-02-24' AS Date), CAST(N'2023-11-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (595, N'Phillip Davis', N'Female', CAST(N'2006-04-18' AS Date), CAST(N'2021-05-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (596, N'Jeffery Thomas', N'Male', CAST(N'1994-05-10' AS Date), CAST(N'2024-02-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (597, N'Rebecca Martin', N'Male', CAST(N'1958-11-13' AS Date), CAST(N'2024-03-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (598, N'Paul Bradley', N'Male', CAST(N'1947-10-12' AS Date), CAST(N'2021-02-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (599, N'Stephanie Carlson', N'Female', CAST(N'1935-10-10' AS Date), CAST(N'2020-01-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (600, N'Rebecca Wolfe', N'Male', CAST(N'1957-09-12' AS Date), CAST(N'2024-07-17' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (601, N'Michael Watts', N'Male', CAST(N'1967-09-01' AS Date), CAST(N'2024-01-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (602, N'Victor Fitzpatrick', N'Male', CAST(N'1964-11-07' AS Date), CAST(N'2021-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (603, N'Grace Chapman', N'Female', CAST(N'1996-07-16' AS Date), CAST(N'2024-09-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (604, N'Desiree Gomez', N'Female', CAST(N'1941-02-02' AS Date), CAST(N'2024-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (605, N'Courtney Kennedy', N'Female', CAST(N'1965-06-28' AS Date), CAST(N'2021-05-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (606, N'Kurt Sampson', N'Male', CAST(N'1949-09-24' AS Date), CAST(N'2023-10-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (607, N'Kimberly Charles', N'Male', CAST(N'1972-06-08' AS Date), CAST(N'2023-02-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (608, N'Christian Matthews', N'Male', CAST(N'2010-02-20' AS Date), CAST(N'2022-05-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (609, N'Katherine Ortiz', N'Male', CAST(N'2004-11-11' AS Date), CAST(N'2024-08-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (610, N'Mary Lewis', N'Male', CAST(N'1962-02-17' AS Date), CAST(N'2022-10-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (611, N'Edwin French', N'Male', CAST(N'1956-12-08' AS Date), CAST(N'2023-03-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (612, N'Casey Cook', N'Male', CAST(N'1963-03-30' AS Date), CAST(N'2021-05-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (613, N'Thomas Andrews', N'Female', CAST(N'1979-02-02' AS Date), CAST(N'2021-04-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (614, N'Robert Cook', N'Female', CAST(N'1947-10-02' AS Date), CAST(N'2021-12-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (615, N'Teresa Whitaker', N'Female', CAST(N'1978-11-17' AS Date), CAST(N'2020-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (616, N'Amanda Aguilar', N'Female', CAST(N'2021-10-11' AS Date), CAST(N'2021-08-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (617, N'Elizabeth Perry', N'Male', CAST(N'1944-02-17' AS Date), CAST(N'2023-02-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (618, N'Beverly Smith', N'Male', CAST(N'1956-01-25' AS Date), CAST(N'2021-10-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (619, N'Michael Meyer', N'Male', CAST(N'1937-04-12' AS Date), CAST(N'2020-02-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (620, N'Christopher Morton', N'Male', CAST(N'2001-06-23' AS Date), CAST(N'2024-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (621, N'Christine Conner', N'Female', CAST(N'1960-05-16' AS Date), CAST(N'2020-10-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (622, N'James Friedman', N'Male', CAST(N'1995-11-30' AS Date), CAST(N'2023-04-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (623, N'Jeffrey Browning', N'Female', CAST(N'2024-03-29' AS Date), CAST(N'2021-09-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (624, N'Katelyn Harris', N'Female', CAST(N'1980-05-11' AS Date), CAST(N'2020-06-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (625, N'Jennifer Pena', N'Female', CAST(N'2004-07-25' AS Date), CAST(N'2021-03-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (626, N'Victoria Washington', N'Male', CAST(N'1940-11-02' AS Date), CAST(N'2023-03-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (627, N'Colleen Strickland', N'Male', CAST(N'1959-09-17' AS Date), CAST(N'2021-04-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (628, N'Malik Avila', N'Male', CAST(N'1996-10-28' AS Date), CAST(N'2021-07-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (629, N'Anthony Thompson', N'Female', CAST(N'1957-03-27' AS Date), CAST(N'2021-01-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (630, N'James Smith', N'Female', CAST(N'1979-08-20' AS Date), CAST(N'2020-01-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (631, N'Brent Martin', N'Female', CAST(N'1997-01-19' AS Date), CAST(N'2020-05-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (632, N'Melanie Davidson', N'Male', CAST(N'1982-02-09' AS Date), CAST(N'2023-08-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (633, N'Jared Smith', N'Female', CAST(N'1934-09-20' AS Date), CAST(N'2022-01-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (634, N'Tracie Combs', N'Female', CAST(N'1939-02-21' AS Date), CAST(N'2024-08-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (635, N'Jason Moore', N'Female', CAST(N'1942-07-31' AS Date), CAST(N'2022-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (636, N'Sarah Beck', N'Female', CAST(N'1951-08-08' AS Date), CAST(N'2022-12-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (637, N'Danielle Carter', N'Male', CAST(N'1957-07-15' AS Date), CAST(N'2024-11-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (638, N'Mark Ward', N'Male', CAST(N'1999-07-29' AS Date), CAST(N'2022-07-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (639, N'Scott Medina', N'Male', CAST(N'1936-04-24' AS Date), CAST(N'2021-02-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (640, N'Frank Martin', N'Male', CAST(N'1992-05-30' AS Date), CAST(N'2023-01-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (641, N'David Reid', N'Male', CAST(N'1968-02-19' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (642, N'Michelle Crosby', N'Male', CAST(N'1961-06-17' AS Date), CAST(N'2024-04-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (643, N'Scott Williamson', N'Female', CAST(N'1960-02-18' AS Date), CAST(N'2021-05-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (644, N'Karen Hernandez', N'Female', CAST(N'1986-07-19' AS Date), CAST(N'2020-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (645, N'David Hampton', N'Female', CAST(N'1953-01-27' AS Date), CAST(N'2024-04-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (646, N'George Smith', N'Female', CAST(N'1996-04-03' AS Date), CAST(N'2023-01-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (647, N'Robyn Velez', N'Male', CAST(N'1972-06-19' AS Date), CAST(N'2021-10-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (648, N'Katelyn Lee', N'Female', CAST(N'1973-04-08' AS Date), CAST(N'2021-12-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (649, N'Angela Acosta', N'Male', CAST(N'1997-11-17' AS Date), CAST(N'2024-07-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (650, N'Michele Martinez', N'Male', CAST(N'2012-12-18' AS Date), CAST(N'2020-04-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (651, N'Ashley Perez', N'Male', CAST(N'1996-03-21' AS Date), CAST(N'2021-12-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (652, N'Connie Davis', N'Male', CAST(N'1965-07-22' AS Date), CAST(N'2022-07-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (653, N'Sharon Gray', N'Female', CAST(N'2019-03-07' AS Date), CAST(N'2022-10-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (654, N'Jonathan Frazier', N'Male', CAST(N'2003-01-03' AS Date), CAST(N'2020-08-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (655, N'Kristin Smith', N'Male', CAST(N'1960-01-12' AS Date), CAST(N'2024-02-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (656, N'Eric Gregory', N'Female', CAST(N'1945-10-22' AS Date), CAST(N'2023-08-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (657, N'Debra Patrick', N'Female', CAST(N'1940-11-26' AS Date), CAST(N'2020-12-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (658, N'Lindsey Robinson', N'Male', CAST(N'1969-09-02' AS Date), CAST(N'2024-03-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (659, N'Austin Jimenez', N'Male', CAST(N'1952-09-09' AS Date), CAST(N'2023-05-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (660, N'Collin Austin', N'Female', CAST(N'2020-09-14' AS Date), CAST(N'2022-09-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (661, N'Wendy Walton', N'Female', CAST(N'1986-01-02' AS Date), CAST(N'2021-11-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (662, N'Joseph White', N'Male', CAST(N'1985-05-13' AS Date), CAST(N'2022-03-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (663, N'Laura Castro', N'Male', CAST(N'2017-10-25' AS Date), CAST(N'2022-10-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (664, N'Stephen Harmon', N'Male', CAST(N'1967-06-08' AS Date), CAST(N'2022-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (665, N'Jenna Caldwell', N'Male', CAST(N'2024-03-02' AS Date), CAST(N'2020-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (666, N'Wanda Roy', N'Male', CAST(N'1976-01-16' AS Date), CAST(N'2023-04-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (667, N'Jake Moore', N'Female', CAST(N'1952-06-04' AS Date), CAST(N'2022-05-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (668, N'Daniel Lynch', N'Male', CAST(N'1959-10-12' AS Date), CAST(N'2024-02-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (669, N'Darrell Coleman', N'Female', CAST(N'1953-08-13' AS Date), CAST(N'2024-03-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (670, N'Antonio Harris DDS', N'Male', CAST(N'1962-02-23' AS Date), CAST(N'2021-06-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (671, N'Adam Chang', N'Male', CAST(N'1963-08-22' AS Date), CAST(N'2021-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (672, N'Jonathan Rodgers', N'Male', CAST(N'2019-07-30' AS Date), CAST(N'2024-08-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (673, N'Jon Washington', N'Female', CAST(N'1983-10-08' AS Date), CAST(N'2022-02-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (674, N'Linda Graham', N'Male', CAST(N'2020-12-26' AS Date), CAST(N'2022-08-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (675, N'Mark Hanna', N'Female', CAST(N'1993-02-13' AS Date), CAST(N'2020-12-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (676, N'Amanda Boone', N'Male', CAST(N'1946-06-23' AS Date), CAST(N'2024-03-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (677, N'Charles King', N'Female', CAST(N'1979-09-12' AS Date), CAST(N'2023-06-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (678, N'Andrea Valentine', N'Female', CAST(N'2009-10-23' AS Date), CAST(N'2021-10-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (679, N'Jason Mccarty', N'Female', CAST(N'2020-03-10' AS Date), CAST(N'2020-11-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (680, N'William Morgan', N'Female', CAST(N'1996-12-25' AS Date), CAST(N'2024-08-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (681, N'Regina Salazar', N'Female', CAST(N'2007-01-14' AS Date), CAST(N'2021-03-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (682, N'Christy Martinez', N'Male', CAST(N'2003-08-11' AS Date), CAST(N'2024-12-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (683, N'Lisa Davis', N'Male', CAST(N'1981-11-20' AS Date), CAST(N'2020-11-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (684, N'Jennifer Taylor', N'Male', CAST(N'1983-04-20' AS Date), CAST(N'2023-12-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (685, N'Brenda Mayer', N'Male', CAST(N'2018-03-20' AS Date), CAST(N'2021-10-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (686, N'Cheryl Ross', N'Female', CAST(N'2010-01-09' AS Date), CAST(N'2020-06-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (687, N'Adam Lewis', N'Female', CAST(N'1966-05-20' AS Date), CAST(N'2024-03-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (688, N'Anna Hogan', N'Male', CAST(N'2002-08-25' AS Date), CAST(N'2021-07-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (689, N'Nicholas Pace', N'Female', CAST(N'1954-01-26' AS Date), CAST(N'2021-08-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (690, N'Walter Williams', N'Female', CAST(N'1936-01-05' AS Date), CAST(N'2020-11-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (691, N'Vincent Johnson', N'Male', CAST(N'2006-02-15' AS Date), CAST(N'2022-08-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (692, N'Tracey Robbins', N'Female', CAST(N'1956-10-30' AS Date), CAST(N'2024-07-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (693, N'William Gutierrez', N'Male', CAST(N'1958-08-20' AS Date), CAST(N'2024-05-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (694, N'Mr. Eric Barnes II', N'Female', CAST(N'1980-12-14' AS Date), CAST(N'2022-03-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (695, N'Aaron Hernandez', N'Male', CAST(N'2004-08-22' AS Date), CAST(N'2023-07-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (696, N'Brittany House', N'Female', CAST(N'2014-03-12' AS Date), CAST(N'2021-10-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (697, N'Victoria Singleton', N'Male', CAST(N'1984-06-17' AS Date), CAST(N'2024-05-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (698, N'Casey Taylor', N'Male', CAST(N'1996-11-12' AS Date), CAST(N'2024-10-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (699, N'Chad Mcclure', N'Male', CAST(N'2013-05-17' AS Date), CAST(N'2020-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (700, N'Donald Nelson', N'Male', CAST(N'1935-01-02' AS Date), CAST(N'2020-09-22' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (701, N'Amy Bryant', N'Male', CAST(N'1998-10-28' AS Date), CAST(N'2023-07-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (702, N'Casey Simmons', N'Female', CAST(N'1966-09-27' AS Date), CAST(N'2022-03-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (703, N'John Mccann', N'Male', CAST(N'1935-01-21' AS Date), CAST(N'2021-02-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (704, N'Kathryn Bowers', N'Male', CAST(N'1941-06-17' AS Date), CAST(N'2024-12-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (705, N'Richard Sanchez', N'Male', CAST(N'1998-05-23' AS Date), CAST(N'2024-01-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (706, N'Tina Walker', N'Female', CAST(N'2011-01-12' AS Date), CAST(N'2023-02-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (707, N'Daniel Davis', N'Female', CAST(N'2015-07-26' AS Date), CAST(N'2021-08-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (708, N'Bryan Pratt', N'Male', CAST(N'1984-05-25' AS Date), CAST(N'2021-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (709, N'Kimberly Sparks', N'Female', CAST(N'1997-11-12' AS Date), CAST(N'2022-02-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (710, N'Steven White', N'Male', CAST(N'1943-06-26' AS Date), CAST(N'2024-04-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (711, N'Tammy Bishop', N'Male', CAST(N'2024-04-09' AS Date), CAST(N'2022-02-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (712, N'Maxwell King', N'Male', CAST(N'1969-08-15' AS Date), CAST(N'2021-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (713, N'Jose George', N'Female', CAST(N'1940-09-13' AS Date), CAST(N'2024-06-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (714, N'Omar Reed', N'Male', CAST(N'1945-01-30' AS Date), CAST(N'2021-08-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (715, N'Eric Barnett', N'Female', CAST(N'1995-05-29' AS Date), CAST(N'2020-12-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (716, N'Lisa Martin', N'Female', CAST(N'1986-07-18' AS Date), CAST(N'2020-04-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (717, N'Deborah Lawrence', N'Male', CAST(N'2018-09-25' AS Date), CAST(N'2023-07-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (718, N'Laura Wright', N'Female', CAST(N'1976-07-03' AS Date), CAST(N'2020-04-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (719, N'Walter Shaw DDS', N'Male', CAST(N'2015-08-02' AS Date), CAST(N'2022-10-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (720, N'William Hicks', N'Female', CAST(N'1972-11-09' AS Date), CAST(N'2020-04-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (721, N'Sarah Patel', N'Female', CAST(N'1950-12-31' AS Date), CAST(N'2023-07-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (722, N'Gregory Allen', N'Male', CAST(N'1981-10-04' AS Date), CAST(N'2023-04-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (723, N'Carmen Young', N'Female', CAST(N'1954-02-08' AS Date), CAST(N'2022-07-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (724, N'Mary Villarreal', N'Male', CAST(N'1942-06-17' AS Date), CAST(N'2020-02-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (725, N'Crystal Cook', N'Female', CAST(N'2000-02-16' AS Date), CAST(N'2020-06-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (726, N'Jennifer Wheeler', N'Male', CAST(N'1938-02-27' AS Date), CAST(N'2020-04-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (727, N'Amanda Fields', N'Female', CAST(N'1962-05-13' AS Date), CAST(N'2021-07-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (728, N'Sharon Parker', N'Female', CAST(N'1968-12-25' AS Date), CAST(N'2021-06-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (729, N'Troy Curtis', N'Male', CAST(N'1998-08-23' AS Date), CAST(N'2022-02-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (730, N'Mark Sanchez', N'Female', CAST(N'2016-07-20' AS Date), CAST(N'2024-09-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (731, N'Cindy Phillips', N'Female', CAST(N'2011-12-14' AS Date), CAST(N'2022-04-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (732, N'Michelle Clark', N'Male', CAST(N'1975-12-29' AS Date), CAST(N'2020-06-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (733, N'Warren Bowen', N'Female', CAST(N'1990-04-22' AS Date), CAST(N'2021-01-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (734, N'Thomas Mcknight', N'Male', CAST(N'1992-03-02' AS Date), CAST(N'2024-08-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (735, N'Ryan Luna', N'Female', CAST(N'1954-04-04' AS Date), CAST(N'2024-08-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (736, N'Derrick Snyder', N'Male', CAST(N'2018-10-07' AS Date), CAST(N'2021-10-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (737, N'Nathan Santiago', N'Male', CAST(N'1945-02-16' AS Date), CAST(N'2023-06-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (738, N'Jason Shepard', N'Female', CAST(N'2009-04-01' AS Date), CAST(N'2024-11-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (739, N'Jasmine Brooks', N'Female', CAST(N'1947-02-03' AS Date), CAST(N'2020-05-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (740, N'Caitlin Perkins', N'Female', CAST(N'1953-06-06' AS Date), CAST(N'2022-07-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (741, N'Julie Middleton', N'Female', CAST(N'1961-06-04' AS Date), CAST(N'2020-09-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (742, N'Jessica Barnett', N'Male', CAST(N'1986-06-03' AS Date), CAST(N'2022-03-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (743, N'Daniel Esparza', N'Male', CAST(N'1952-08-20' AS Date), CAST(N'2022-04-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (744, N'Rose Mcgrath', N'Female', CAST(N'1990-06-12' AS Date), CAST(N'2021-06-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (745, N'Andrea Dunlap', N'Male', CAST(N'1974-08-20' AS Date), CAST(N'2023-05-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (746, N'Kelly Hoover', N'Female', CAST(N'2009-10-26' AS Date), CAST(N'2022-07-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (747, N'Danielle Moore', N'Male', CAST(N'1998-01-25' AS Date), CAST(N'2024-02-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (748, N'Andre Patterson', N'Male', CAST(N'1954-08-15' AS Date), CAST(N'2020-05-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (749, N'Lance Gray', N'Female', CAST(N'2006-01-16' AS Date), CAST(N'2021-02-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (750, N'Debra Campbell', N'Female', CAST(N'1947-10-27' AS Date), CAST(N'2023-09-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (751, N'Michael Barker', N'Female', CAST(N'1984-03-19' AS Date), CAST(N'2023-04-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (752, N'Anne Barton', N'Male', CAST(N'1980-12-28' AS Date), CAST(N'2024-01-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (753, N'Anthony Lucas', N'Female', CAST(N'1961-12-28' AS Date), CAST(N'2024-12-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (754, N'Jerry Cooper', N'Female', CAST(N'1984-08-19' AS Date), CAST(N'2021-01-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (755, N'Denise Calhoun', N'Male', CAST(N'2022-12-23' AS Date), CAST(N'2021-09-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (756, N'Stephanie Johnson', N'Male', CAST(N'2021-09-17' AS Date), CAST(N'2021-12-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (757, N'Robert Jackson', N'Male', CAST(N'1936-10-18' AS Date), CAST(N'2024-11-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (758, N'Mark Carroll', N'Female', CAST(N'1972-03-03' AS Date), CAST(N'2024-02-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (759, N'Allison Montgomery', N'Female', CAST(N'2011-08-09' AS Date), CAST(N'2021-12-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (760, N'Kenneth Smith', N'Female', CAST(N'1968-11-14' AS Date), CAST(N'2022-06-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (761, N'Kevin Carey', N'Female', CAST(N'1976-10-27' AS Date), CAST(N'2022-09-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (762, N'Adam Kennedy', N'Female', CAST(N'1956-11-20' AS Date), CAST(N'2023-02-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (763, N'Jesse Black', N'Female', CAST(N'2004-11-15' AS Date), CAST(N'2020-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (764, N'Brittany Hull', N'Female', CAST(N'2007-05-26' AS Date), CAST(N'2024-06-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (765, N'Angela Cox', N'Female', CAST(N'1987-08-29' AS Date), CAST(N'2021-08-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (766, N'Sheila Harris', N'Male', CAST(N'1962-12-05' AS Date), CAST(N'2024-05-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (767, N'Brad Burgess', N'Male', CAST(N'1960-09-23' AS Date), CAST(N'2022-12-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (768, N'Karl Cervantes', N'Male', CAST(N'1974-05-07' AS Date), CAST(N'2021-10-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (769, N'Kelly Wells', N'Female', CAST(N'1950-01-11' AS Date), CAST(N'2023-05-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (770, N'April Parker', N'Female', CAST(N'1992-12-25' AS Date), CAST(N'2020-09-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (771, N'Brandy Sanchez', N'Female', CAST(N'1975-07-05' AS Date), CAST(N'2020-09-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (772, N'Katie Price', N'Male', CAST(N'1989-04-19' AS Date), CAST(N'2023-09-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (773, N'Maria Maldonado', N'Female', CAST(N'1973-08-04' AS Date), CAST(N'2021-05-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (774, N'Matthew Gray', N'Female', CAST(N'2020-02-22' AS Date), CAST(N'2021-05-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (775, N'Jessica Moore', N'Female', CAST(N'1969-06-19' AS Date), CAST(N'2023-02-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (776, N'Hannah Perez', N'Female', CAST(N'1948-05-22' AS Date), CAST(N'2022-12-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (777, N'Stephanie Burns', N'Female', CAST(N'1964-02-10' AS Date), CAST(N'2023-12-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (778, N'Molly Brown', N'Female', CAST(N'2008-06-09' AS Date), CAST(N'2021-12-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (779, N'Angel Smith', N'Male', CAST(N'1937-01-15' AS Date), CAST(N'2020-05-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (780, N'Scott Kelley', N'Male', CAST(N'1939-11-15' AS Date), CAST(N'2024-12-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (781, N'Michael Bates', N'Male', CAST(N'1966-04-29' AS Date), CAST(N'2024-02-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (782, N'Jennifer Gomez', N'Male', CAST(N'1972-05-20' AS Date), CAST(N'2024-02-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (783, N'Ashley Smith', N'Female', CAST(N'1993-11-01' AS Date), CAST(N'2020-09-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (784, N'Linda Clark', N'Female', CAST(N'1940-06-22' AS Date), CAST(N'2023-05-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (785, N'William Palmer', N'Male', CAST(N'1963-10-10' AS Date), CAST(N'2024-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (786, N'Mary Mccormick', N'Female', CAST(N'1975-01-19' AS Date), CAST(N'2020-03-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (787, N'William Hanson', N'Female', CAST(N'1936-06-24' AS Date), CAST(N'2020-09-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (788, N'David Pena', N'Female', CAST(N'2017-10-17' AS Date), CAST(N'2022-11-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (789, N'Dr. Carlos Roach DDS', N'Female', CAST(N'1955-07-29' AS Date), CAST(N'2023-11-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (790, N'Kevin Stevens', N'Female', CAST(N'1944-01-03' AS Date), CAST(N'2024-09-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (791, N'Jacob Walsh', N'Female', CAST(N'1958-08-25' AS Date), CAST(N'2020-06-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (792, N'James Roman', N'Female', CAST(N'1983-05-24' AS Date), CAST(N'2024-08-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (793, N'Ronald Odom', N'Male', CAST(N'2022-10-28' AS Date), CAST(N'2021-06-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (794, N'Phillip Alexander', N'Male', CAST(N'1991-12-09' AS Date), CAST(N'2020-06-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (795, N'Jennifer Sheppard', N'Male', CAST(N'1935-01-11' AS Date), CAST(N'2021-06-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (796, N'Jacob Clark', N'Female', CAST(N'2022-07-26' AS Date), CAST(N'2022-09-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (797, N'Kelly Hartman', N'Male', CAST(N'1992-02-08' AS Date), CAST(N'2020-09-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (798, N'Nicole Love', N'Male', CAST(N'1978-07-23' AS Date), CAST(N'2020-03-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (799, N'Tracy Jones', N'Male', CAST(N'1938-03-04' AS Date), CAST(N'2022-02-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (800, N'Joann Cardenas', N'Male', CAST(N'2013-07-21' AS Date), CAST(N'2022-12-23' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (801, N'Maria Watson', N'Female', CAST(N'1952-08-29' AS Date), CAST(N'2024-07-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (802, N'Ronald Holmes', N'Male', CAST(N'2000-11-18' AS Date), CAST(N'2023-12-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (803, N'Sara Murphy', N'Male', CAST(N'2009-06-06' AS Date), CAST(N'2024-05-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (804, N'Christina Galloway', N'Female', CAST(N'2006-03-29' AS Date), CAST(N'2021-12-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (805, N'Robert Keller', N'Male', CAST(N'1968-01-14' AS Date), CAST(N'2024-07-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (806, N'Meghan Decker DDS', N'Male', CAST(N'1961-10-13' AS Date), CAST(N'2023-12-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (807, N'Shirley Bailey', N'Female', CAST(N'2018-10-27' AS Date), CAST(N'2023-06-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (808, N'Sarah Gibson', N'Male', CAST(N'2009-11-10' AS Date), CAST(N'2024-06-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (809, N'Linda Brown', N'Male', CAST(N'1956-01-24' AS Date), CAST(N'2020-12-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (810, N'James Matthews', N'Male', CAST(N'2023-05-30' AS Date), CAST(N'2020-05-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (811, N'Kimberly Owen', N'Male', CAST(N'2008-11-07' AS Date), CAST(N'2021-10-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (812, N'Natasha Murphy', N'Male', CAST(N'2017-07-22' AS Date), CAST(N'2024-05-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (813, N'Scott Hughes', N'Female', CAST(N'2020-07-04' AS Date), CAST(N'2020-04-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (814, N'Kayla Hill', N'Male', CAST(N'1978-08-03' AS Date), CAST(N'2024-03-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (815, N'Jesus Henson', N'Female', CAST(N'2009-12-28' AS Date), CAST(N'2021-02-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (816, N'Jennifer Lee', N'Female', CAST(N'1952-06-18' AS Date), CAST(N'2020-07-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (817, N'Javier King', N'Female', CAST(N'1999-08-10' AS Date), CAST(N'2020-06-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (818, N'Tyrone Duncan', N'Male', CAST(N'1950-11-21' AS Date), CAST(N'2024-02-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (819, N'Eric Taylor', N'Male', CAST(N'1971-05-17' AS Date), CAST(N'2022-05-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (820, N'Kathleen Nolan', N'Female', CAST(N'2020-07-23' AS Date), CAST(N'2020-03-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (821, N'Robert Phillips', N'Male', CAST(N'1976-01-16' AS Date), CAST(N'2023-04-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (822, N'Sean Johnson', N'Female', CAST(N'1957-12-17' AS Date), CAST(N'2020-04-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (823, N'William Johnson', N'Female', CAST(N'1983-04-15' AS Date), CAST(N'2021-02-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (824, N'Carla Manning', N'Female', CAST(N'1981-02-06' AS Date), CAST(N'2024-10-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (825, N'Joseph Lozano', N'Male', CAST(N'1981-03-23' AS Date), CAST(N'2022-02-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (826, N'Sandra Harrington', N'Female', CAST(N'1970-11-25' AS Date), CAST(N'2021-08-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (827, N'William Jones', N'Male', CAST(N'1946-07-01' AS Date), CAST(N'2023-02-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (828, N'Veronica Lynch', N'Female', CAST(N'2011-10-07' AS Date), CAST(N'2021-10-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (829, N'Patricia Thompson', N'Female', CAST(N'1997-07-19' AS Date), CAST(N'2022-02-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (830, N'Henry Figueroa', N'Male', CAST(N'2006-04-21' AS Date), CAST(N'2023-06-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (831, N'Jacqueline Collins', N'Male', CAST(N'1970-03-19' AS Date), CAST(N'2022-03-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (832, N'Stephen Graves', N'Female', CAST(N'1947-12-22' AS Date), CAST(N'2020-08-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (833, N'Mark Benson', N'Female', CAST(N'1972-10-13' AS Date), CAST(N'2022-11-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (834, N'Elizabeth Trujillo', N'Male', CAST(N'1965-05-10' AS Date), CAST(N'2020-08-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (835, N'Matthew Wells', N'Female', CAST(N'2010-05-21' AS Date), CAST(N'2024-05-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (836, N'Richard Fleming', N'Female', CAST(N'1984-12-21' AS Date), CAST(N'2024-12-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (837, N'Jason Ortiz', N'Male', CAST(N'1958-08-14' AS Date), CAST(N'2023-01-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (838, N'Karen Miller', N'Female', CAST(N'1957-12-24' AS Date), CAST(N'2023-08-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (839, N'Angel King', N'Female', CAST(N'1982-01-21' AS Date), CAST(N'2021-08-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (840, N'James Rodriguez', N'Male', CAST(N'2014-02-26' AS Date), CAST(N'2021-08-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (841, N'Joseph Cole', N'Male', CAST(N'2017-04-17' AS Date), CAST(N'2020-10-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (842, N'Christopher Brown DDS', N'Female', CAST(N'1964-06-08' AS Date), CAST(N'2023-09-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (843, N'Andrew Miller Jr.', N'Male', CAST(N'1986-02-19' AS Date), CAST(N'2022-01-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (844, N'Eric Reynolds', N'Male', CAST(N'2012-03-09' AS Date), CAST(N'2024-06-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (845, N'Nichole Martinez', N'Female', CAST(N'1967-10-19' AS Date), CAST(N'2024-02-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (846, N'Nicholas Rodriguez', N'Female', CAST(N'2007-09-06' AS Date), CAST(N'2021-04-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (847, N'Vincent Rodriguez', N'Female', CAST(N'2015-04-27' AS Date), CAST(N'2021-06-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (848, N'Charles Brown', N'Female', CAST(N'1968-06-07' AS Date), CAST(N'2022-03-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (849, N'Adam Vance', N'Female', CAST(N'2010-02-28' AS Date), CAST(N'2023-02-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (850, N'Chris Washington', N'Female', CAST(N'1949-10-20' AS Date), CAST(N'2021-05-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (851, N'Randy Barnett', N'Female', CAST(N'1953-01-03' AS Date), CAST(N'2024-09-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (852, N'Rebecca Lambert', N'Female', CAST(N'1976-01-18' AS Date), CAST(N'2022-05-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (853, N'Barry Dunlap', N'Male', CAST(N'1965-05-06' AS Date), CAST(N'2020-04-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (854, N'James Espinoza', N'Female', CAST(N'1979-04-30' AS Date), CAST(N'2021-08-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (855, N'Andrea Adams', N'Male', CAST(N'2013-11-20' AS Date), CAST(N'2022-05-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (856, N'Bobby Harper', N'Male', CAST(N'1999-11-17' AS Date), CAST(N'2024-03-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (857, N'Kenneth Cabrera', N'Female', CAST(N'2014-08-18' AS Date), CAST(N'2020-06-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (858, N'Taylor Reyes', N'Male', CAST(N'1972-06-21' AS Date), CAST(N'2023-08-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (859, N'Charles Castro', N'Female', CAST(N'1989-11-28' AS Date), CAST(N'2024-09-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (860, N'Matthew Martinez', N'Male', CAST(N'1986-10-22' AS Date), CAST(N'2023-03-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (861, N'James Gutierrez', N'Female', CAST(N'2008-05-16' AS Date), CAST(N'2024-03-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (862, N'Patrick Graham', N'Female', CAST(N'1973-12-29' AS Date), CAST(N'2023-02-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (863, N'Joyce Mendoza', N'Female', CAST(N'2011-11-24' AS Date), CAST(N'2021-08-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (864, N'Brenda Levine', N'Female', CAST(N'1938-04-03' AS Date), CAST(N'2023-11-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (865, N'Matthew Smith', N'Male', CAST(N'1963-10-05' AS Date), CAST(N'2020-03-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (866, N'Manuel Smith', N'Male', CAST(N'1983-10-16' AS Date), CAST(N'2022-01-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (867, N'Jennifer Johnson', N'Male', CAST(N'1955-12-14' AS Date), CAST(N'2024-05-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (868, N'Mr. Erik Roberts', N'Male', CAST(N'1946-11-13' AS Date), CAST(N'2022-10-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (869, N'Charles Thomas', N'Female', CAST(N'1955-08-31' AS Date), CAST(N'2024-06-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (870, N'Andre Dodson', N'Female', CAST(N'1978-05-30' AS Date), CAST(N'2024-11-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (871, N'Julie Patterson', N'Female', CAST(N'1934-05-20' AS Date), CAST(N'2022-02-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (872, N'James Garrison', N'Female', CAST(N'1990-01-17' AS Date), CAST(N'2024-09-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (873, N'Sarah Rodriguez', N'Female', CAST(N'1980-07-13' AS Date), CAST(N'2024-02-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (874, N'Sabrina Patterson', N'Female', CAST(N'1945-12-19' AS Date), CAST(N'2022-08-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (875, N'Pamela Richardson', N'Female', CAST(N'2015-02-09' AS Date), CAST(N'2024-05-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (876, N'Natasha Fritz', N'Female', CAST(N'1942-07-16' AS Date), CAST(N'2021-09-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (877, N'Javier Rhodes', N'Female', CAST(N'1973-11-11' AS Date), CAST(N'2021-11-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (878, N'Anthony Freeman', N'Male', CAST(N'1963-05-17' AS Date), CAST(N'2021-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (879, N'Billy White', N'Female', CAST(N'1977-02-06' AS Date), CAST(N'2021-02-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (880, N'Patrick Jones', N'Female', CAST(N'1990-11-21' AS Date), CAST(N'2023-10-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (881, N'Wendy Lopez', N'Male', CAST(N'1938-04-03' AS Date), CAST(N'2023-03-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (882, N'Susan Larson', N'Female', CAST(N'2008-05-04' AS Date), CAST(N'2020-01-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (883, N'Craig White', N'Male', CAST(N'1940-10-28' AS Date), CAST(N'2024-09-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (884, N'Robert Schroeder', N'Male', CAST(N'2007-01-23' AS Date), CAST(N'2021-07-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (885, N'Jordan Michael', N'Male', CAST(N'1995-08-05' AS Date), CAST(N'2024-06-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (886, N'Heather Kelly', N'Female', CAST(N'1934-08-06' AS Date), CAST(N'2024-02-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (887, N'Carly Dean', N'Female', CAST(N'2019-03-14' AS Date), CAST(N'2024-08-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (888, N'Gabrielle King MD', N'Male', CAST(N'1947-03-31' AS Date), CAST(N'2021-04-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (889, N'Abigail Noble', N'Female', CAST(N'1992-09-03' AS Date), CAST(N'2024-04-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (890, N'Joseph Sloan', N'Female', CAST(N'1944-03-20' AS Date), CAST(N'2020-05-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (891, N'Dale Thompson', N'Female', CAST(N'1937-02-23' AS Date), CAST(N'2020-10-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (892, N'Frank Griffin', N'Female', CAST(N'1979-07-08' AS Date), CAST(N'2023-07-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (893, N'Tricia Duffy', N'Female', CAST(N'2015-03-25' AS Date), CAST(N'2022-08-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (894, N'Jesse Vasquez', N'Female', CAST(N'1980-08-05' AS Date), CAST(N'2024-09-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (895, N'Taylor Hernandez', N'Female', CAST(N'1991-12-07' AS Date), CAST(N'2021-04-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (896, N'Aaron Wood', N'Female', CAST(N'1950-11-27' AS Date), CAST(N'2021-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (897, N'Allen Wright', N'Female', CAST(N'1999-08-09' AS Date), CAST(N'2022-05-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (898, N'Sydney Porter', N'Male', CAST(N'1987-03-10' AS Date), CAST(N'2020-12-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (899, N'Paul Hartman', N'Female', CAST(N'1947-05-04' AS Date), CAST(N'2020-12-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (900, N'Jerome Mendez', N'Female', CAST(N'2012-04-21' AS Date), CAST(N'2021-03-26' AS Date))
GO

In [0]:
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (901, N'Brandon Collins', N'Female', CAST(N'1967-08-14' AS Date), CAST(N'2020-08-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (902, N'Heather Wright', N'Male', CAST(N'1959-11-11' AS Date), CAST(N'2024-06-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (903, N'Rhonda Martinez', N'Male', CAST(N'1949-05-27' AS Date), CAST(N'2022-01-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (904, N'Chad Gonzalez', N'Male', CAST(N'1941-06-24' AS Date), CAST(N'2020-05-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (905, N'David Turner', N'Male', CAST(N'1988-07-01' AS Date), CAST(N'2024-12-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (906, N'Karen Hughes', N'Male', CAST(N'1944-02-11' AS Date), CAST(N'2023-04-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (907, N'Matthew Foster', N'Male', CAST(N'1953-06-12' AS Date), CAST(N'2021-08-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (908, N'Derrick Farley', N'Male', CAST(N'1951-12-20' AS Date), CAST(N'2022-12-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (909, N'Jennifer Morris', N'Male', CAST(N'1944-01-03' AS Date), CAST(N'2020-08-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (910, N'Julie Nguyen', N'Female', CAST(N'1938-03-22' AS Date), CAST(N'2023-07-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (911, N'Jonathan Webster', N'Male', CAST(N'2006-07-26' AS Date), CAST(N'2024-04-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (912, N'Christopher Wilson', N'Female', CAST(N'1962-12-09' AS Date), CAST(N'2021-09-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (913, N'Bryan Perry', N'Male', CAST(N'1972-03-06' AS Date), CAST(N'2020-08-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (914, N'Ann Price', N'Female', CAST(N'1969-01-26' AS Date), CAST(N'2021-12-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (915, N'Kelli Guzman', N'Male', CAST(N'2000-03-26' AS Date), CAST(N'2020-06-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (916, N'Kelly Webster', N'Male', CAST(N'1952-04-18' AS Date), CAST(N'2022-05-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (917, N'Emily Grant', N'Male', CAST(N'2012-11-09' AS Date), CAST(N'2022-08-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (918, N'Melissa Dorsey', N'Female', CAST(N'1957-10-13' AS Date), CAST(N'2024-11-14' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (919, N'Jennifer Jackson', N'Male', CAST(N'1957-09-13' AS Date), CAST(N'2022-01-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (920, N'Jennifer Brown', N'Male', CAST(N'1941-09-07' AS Date), CAST(N'2024-09-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (921, N'Steven Sloan', N'Female', CAST(N'1989-04-25' AS Date), CAST(N'2023-04-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (922, N'Sara Marquez', N'Female', CAST(N'2002-03-12' AS Date), CAST(N'2024-08-11' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (923, N'Jason Goodwin', N'Male', CAST(N'1995-11-10' AS Date), CAST(N'2022-01-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (924, N'Amber Lopez MD', N'Male', CAST(N'1964-11-06' AS Date), CAST(N'2024-09-09' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (925, N'Patricia Fisher DVM', N'Female', CAST(N'1964-04-05' AS Date), CAST(N'2022-09-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (926, N'Hannah Zimmerman', N'Male', CAST(N'2016-10-18' AS Date), CAST(N'2021-10-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (927, N'Andrea Solomon', N'Female', CAST(N'1976-06-16' AS Date), CAST(N'2021-10-13' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (928, N'Anna Robertson', N'Female', CAST(N'2020-04-06' AS Date), CAST(N'2021-11-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (929, N'Jimmy Ortega', N'Male', CAST(N'1958-01-25' AS Date), CAST(N'2024-09-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (930, N'Rachel Rose', N'Female', CAST(N'1972-06-22' AS Date), CAST(N'2021-03-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (931, N'John Rivera', N'Male', CAST(N'1981-02-05' AS Date), CAST(N'2020-01-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (932, N'Olivia Buchanan', N'Male', CAST(N'1943-03-31' AS Date), CAST(N'2021-05-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (933, N'Karl Estes', N'Male', CAST(N'1966-07-17' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (934, N'Michael Price', N'Female', CAST(N'1966-02-19' AS Date), CAST(N'2023-04-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (935, N'Taylor Ortiz', N'Male', CAST(N'1980-02-27' AS Date), CAST(N'2022-04-16' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (936, N'Justin Newton', N'Female', CAST(N'2017-02-07' AS Date), CAST(N'2021-01-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (937, N'Rebecca Gonzalez', N'Female', CAST(N'1959-06-11' AS Date), CAST(N'2022-01-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (938, N'Sarah Carter', N'Female', CAST(N'1988-10-11' AS Date), CAST(N'2024-10-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (939, N'Samantha Gutierrez', N'Female', CAST(N'1997-05-13' AS Date), CAST(N'2022-05-29' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (940, N'Heather Riddle', N'Male', CAST(N'2001-11-10' AS Date), CAST(N'2022-09-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (941, N'Frank Dalton', N'Female', CAST(N'1942-07-04' AS Date), CAST(N'2024-06-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (942, N'Bradley Ruiz', N'Male', CAST(N'2005-10-04' AS Date), CAST(N'2020-04-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (943, N'Michael Graham IV', N'Male', CAST(N'1988-12-30' AS Date), CAST(N'2022-09-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (944, N'Steven Dickerson', N'Female', CAST(N'1982-05-26' AS Date), CAST(N'2024-08-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (945, N'Amanda David', N'Male', CAST(N'1994-05-02' AS Date), CAST(N'2020-10-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (946, N'Paul James', N'Male', CAST(N'1946-04-06' AS Date), CAST(N'2023-05-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (947, N'Samantha Guzman', N'Female', CAST(N'1974-11-17' AS Date), CAST(N'2021-08-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (948, N'Tiffany Brown DVM', N'Female', CAST(N'2002-10-10' AS Date), CAST(N'2021-04-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (949, N'Marie Fuller', N'Female', CAST(N'2012-10-13' AS Date), CAST(N'2021-07-05' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (950, N'Latasha Gray', N'Female', CAST(N'2021-11-02' AS Date), CAST(N'2020-05-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (951, N'Sarah Brown', N'Male', CAST(N'2011-09-20' AS Date), CAST(N'2022-08-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (952, N'Emily Tate', N'Female', CAST(N'1947-04-10' AS Date), CAST(N'2022-06-04' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (953, N'Joshua Clark', N'Female', CAST(N'1983-02-13' AS Date), CAST(N'2020-01-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (954, N'Leah Thomas', N'Male', CAST(N'1962-10-17' AS Date), CAST(N'2022-03-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (955, N'Wendy Vargas', N'Male', CAST(N'2004-12-10' AS Date), CAST(N'2021-11-07' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (956, N'Theresa Kaiser', N'Female', CAST(N'1989-12-12' AS Date), CAST(N'2020-06-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (957, N'Daniel Lynch', N'Female', CAST(N'1965-08-10' AS Date), CAST(N'2022-03-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (958, N'Anne Johnson', N'Male', CAST(N'1955-05-07' AS Date), CAST(N'2023-03-25' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (959, N'Timothy Rice', N'Female', CAST(N'1983-10-01' AS Date), CAST(N'2022-07-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (960, N'Mark Willis', N'Female', CAST(N'1998-03-12' AS Date), CAST(N'2021-09-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (961, N'Jessica Hammond', N'Male', CAST(N'1934-06-21' AS Date), CAST(N'2022-11-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (962, N'Cassandra Smith', N'Male', CAST(N'1935-11-06' AS Date), CAST(N'2021-10-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (963, N'Colleen Hopkins', N'Female', CAST(N'2006-06-01' AS Date), CAST(N'2021-03-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (964, N'Laurie Perry', N'Female', CAST(N'1968-06-29' AS Date), CAST(N'2020-11-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (965, N'Ruth Clark', N'Male', CAST(N'1939-07-03' AS Date), CAST(N'2020-09-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (966, N'Isaac Zuniga', N'Female', CAST(N'2003-02-07' AS Date), CAST(N'2020-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (967, N'Tonya Chung', N'Male', CAST(N'1979-04-27' AS Date), CAST(N'2023-03-23' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (968, N'Catherine Bright', N'Male', CAST(N'1960-04-02' AS Date), CAST(N'2021-09-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (969, N'Michael Simon', N'Female', CAST(N'1954-12-05' AS Date), CAST(N'2021-02-01' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (970, N'Renee Adams PhD', N'Male', CAST(N'1997-08-20' AS Date), CAST(N'2022-02-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (971, N'Nancy Ramirez', N'Female', CAST(N'2016-05-16' AS Date), CAST(N'2021-10-18' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (972, N'Katherine Jenkins', N'Male', CAST(N'1952-07-05' AS Date), CAST(N'2022-07-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (973, N'Emily Hall', N'Male', CAST(N'1982-12-01' AS Date), CAST(N'2022-02-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (974, N'Pam Conrad', N'Female', CAST(N'1980-06-21' AS Date), CAST(N'2023-01-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (975, N'Dale Myers', N'Female', CAST(N'1983-05-28' AS Date), CAST(N'2021-01-20' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (976, N'Nichole Baldwin', N'Female', CAST(N'2011-02-20' AS Date), CAST(N'2023-01-06' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (977, N'Margaret Garcia', N'Female', CAST(N'1991-07-30' AS Date), CAST(N'2023-05-22' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (978, N'Robert Richardson', N'Female', CAST(N'2011-05-04' AS Date), CAST(N'2024-05-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (979, N'Robert Wright', N'Female', CAST(N'1951-06-20' AS Date), CAST(N'2024-04-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (980, N'Michael Yang', N'Female', CAST(N'1978-08-27' AS Date), CAST(N'2021-04-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (981, N'James Morales', N'Male', CAST(N'1976-02-15' AS Date), CAST(N'2021-01-08' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (982, N'David Thomas', N'Female', CAST(N'1964-08-24' AS Date), CAST(N'2024-05-15' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (983, N'Kimberly Rhodes', N'Female', CAST(N'1989-04-21' AS Date), CAST(N'2022-11-28' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (984, N'Michael Brooks', N'Female', CAST(N'1962-07-12' AS Date), CAST(N'2021-02-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (985, N'Patrick Johnson', N'Male', CAST(N'2004-05-12' AS Date), CAST(N'2023-12-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (986, N'Mary Taylor', N'Female', CAST(N'1965-12-24' AS Date), CAST(N'2020-09-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (987, N'Jillian Ross', N'Male', CAST(N'2022-11-16' AS Date), CAST(N'2022-01-30' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (988, N'Emily Clark', N'Male', CAST(N'1969-02-08' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (989, N'Ann Walsh', N'Female', CAST(N'2021-05-15' AS Date), CAST(N'2020-07-24' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (990, N'Jamie Rodriguez', N'Male', CAST(N'2003-10-03' AS Date), CAST(N'2024-11-03' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (991, N'Rebecca Richard', N'Male', CAST(N'2008-02-23' AS Date), CAST(N'2022-05-02' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (992, N'Mr. Paul Escobar', N'Female', CAST(N'2020-03-16' AS Date), CAST(N'2024-09-26' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (993, N'Pedro Reyes', N'Male', CAST(N'2010-10-21' AS Date), CAST(N'2020-12-10' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (994, N'Craig Ramirez', N'Male', CAST(N'1950-06-01' AS Date), CAST(N'2022-06-27' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (995, N'Kelsey Herman', N'Female', CAST(N'1948-04-23' AS Date), CAST(N'2020-01-19' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (996, N'Michael Lopez', N'Female', CAST(N'1936-06-29' AS Date), CAST(N'2021-06-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (997, N'Dominique Jackson', N'Female', CAST(N'1961-03-10' AS Date), CAST(N'2022-07-17' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (998, N'Mary Glenn', N'Female', CAST(N'1974-09-16' AS Date), CAST(N'2021-01-21' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (999, N'Anthony Obrien', N'Male', CAST(N'1963-11-01' AS Date), CAST(N'2021-10-12' AS Date))
INSERT [dbo].[patients] ([patient_id], [name], [gender], [birth_date], [registration_date]) VALUES (1000, N'Andrew Foster', N'Male', CAST(N'1948-06-27' AS Date), CAST(N'2020-10-08' AS Date))
GO

# [dbo].[treatments]

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1, 1, N'Night end direction most.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (2, 2, N'Suddenly such generation from well between.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (3, 3, N'Wonder sometimes career explain voice.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (4, 4, N'Husband government so understand edge outside.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (5, 5, N'Try little figure.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (6, 6, N'Film name majority he modern.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (7, 7, N'Other catch reflect away around international.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (8, 8, N'Many hope organization reach process.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (9, 9, N'National different audience result age.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (10, 10, N'Describe either into nice city campaign.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (11, 11, N'A effort whether election better anyone.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (12, 12, N'Individual about body meeting.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (13, 13, N'Far manager consumer guy.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (14, 14, N'Court fight involve day drive produce.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (15, 15, N'Plan operation wish dog shoulder.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (16, 16, N'Before however media sport scene.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (17, 17, N'Out far direction.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (18, 18, N'Them city buy business city.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (19, 19, N'Either listen thought condition she.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (20, 20, N'Identify adult sense.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (21, 21, N'Beyond serve fight national paper.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (22, 22, N'Compare choose film stay.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (23, 23, N'But commercial light industry.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (24, 24, N'Investment arrive stand election.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (25, 25, N'It court space idea open.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (26, 26, N'First real result black crime as.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (27, 27, N'Attention she improve.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (28, 28, N'Certainly food modern theory late.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (29, 29, N'Itself natural training late law.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (30, 30, N'Rise card police.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (31, 31, N'Skill body call politics.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (32, 32, N'Team school last story.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (33, 33, N'Stop mouth let pay policy style.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (34, 34, N'Religious education throw especially.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (35, 35, N'Suggest then stock.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (36, 36, N'Western minute significant street contain between.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (37, 37, N'Sister development whatever more firm.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (38, 38, N'Seven night blue consumer.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (39, 39, N'Team large environment air price loss.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (40, 40, N'Value perhaps conference.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (41, 41, N'Brother dark energy imagine action.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (42, 42, N'Again before writer.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (43, 43, N'Deep capital model school somebody product.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (44, 44, N'Bill wrong produce writer.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (45, 45, N'Hope dog ask admit feeling environment.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (46, 46, N'Would reduce build.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (47, 47, N'Conference plant first arm chance.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (48, 48, N'Result each number reduce cover.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (49, 49, N'Score identify rock concern.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (50, 50, N'Chair like national image follow west.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (51, 51, N'None investment tough civil create choice.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (52, 52, N'Article interview including.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (53, 53, N'Two probably who likely.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (54, 54, N'Note her management.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (55, 55, N'Force himself take produce.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (56, 56, N'The right attorney often.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (57, 57, N'By attention star.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (58, 58, N'Central why size race manager grow.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (59, 59, N'World professor skin.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (60, 60, N'Course war affect happy whatever.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (61, 61, N'Fly paper task.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (62, 62, N'Room room and boy evidence somebody.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (63, 63, N'Law follow character.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (64, 64, N'I any concern its issue.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (65, 65, N'Why positive worry whole want media.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (66, 66, N'Respond action tonight kid investment detail.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (67, 67, N'Mention onto easy thought charge something.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (68, 68, N'Way soldier space.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (69, 69, N'Station event board several pick what.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (70, 70, N'Organization try economy.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (71, 71, N'Career however one others.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (72, 72, N'Cost recently sport cultural activity play.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (73, 73, N'Beat ground choose beat any response.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (74, 74, N'Raise serve bit.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (75, 75, N'Huge ball each light me work.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (76, 76, N'Box however benefit fund economy human.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (77, 77, N'Among budget early.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (78, 78, N'Between because significant.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (79, 79, N'Resource citizen wrong at relationship.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (80, 80, N'Two benefit buy understand response discussion.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (81, 81, N'Season traditional cultural home girl.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (82, 82, N'Move walk might every.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (83, 83, N'Effect over without anything choose style.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (84, 84, N'Color first major across idea.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (85, 85, N'Country kind campaign forward become.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (86, 86, N'Above production management bill.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (87, 87, N'Least discover third.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (88, 88, N'Agent high animal approach.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (89, 89, N'Just final change star participant.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (90, 90, N'Economic base draw weight treat easy.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (91, 91, N'Black play around.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (92, 92, N'Yeah think paper.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (93, 93, N'Stop team out.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (94, 94, N'Officer summer region.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (95, 95, N'Structure early admit.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (96, 96, N'Medical drug forward receive.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (97, 97, N'Ready lose relationship word degree big.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (98, 98, N'Seem than cut material.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (99, 99, N'Issue authority treat specific respond month.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (100, 100, N'Born base civil million base buy.', 24)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (101, 101, N'Health wide pretty.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (102, 102, N'Fish good power model foreign.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (103, 103, N'Turn behavior determine respond hope.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (104, 104, N'Claim better their some.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (105, 105, N'Behavior per themselves.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (106, 106, N'Structure night issue marriage.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (107, 107, N'Responsibility over page see when art.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (108, 108, N'At sing Mr very young.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (109, 109, N'Return describe something glass mean.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (110, 110, N'Politics involve social social.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (111, 111, N'Prepare else lot.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (112, 112, N'Wrong mouth should.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (113, 113, N'Center special region everyone fact.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (114, 114, N'Management direction employee decide too language.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (115, 115, N'Wall doctor couple old letter prepare.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (116, 116, N'Author whom or.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (117, 117, N'Give resource state instead.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (118, 118, N'Movement generation new although include.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (119, 119, N'Television same study enjoy.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (120, 120, N'None catch without range course.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (121, 121, N'Bar be seem apply town debate kid.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (122, 122, N'Most forward when security everything.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (123, 123, N'Ask each beat my such.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (124, 124, N'Surface increase even series understand budget.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (125, 125, N'Least own sing president cultural.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (126, 126, N'Agency here outside.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (127, 127, N'Including ten picture western.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (128, 128, N'Receive design seek report.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (129, 129, N'Ball only two fly ability.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (130, 130, N'Message early story later.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (131, 131, N'Young close thousand feeling country attorney.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (132, 132, N'Low upon response positive region of.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (133, 133, N'Others fear street note scientist.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (134, 134, N'Best above maintain road.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (135, 135, N'Manage crime serious hundred.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (136, 136, N'Gas population center store.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (137, 137, N'Half fact learn nothing.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (138, 138, N'Use culture get.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (139, 139, N'Affect interview community plant decide seek.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (140, 140, N'Someone buy before appear.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (141, 141, N'Rock actually network car store outside.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (142, 142, N'Cup more tree thought.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (143, 143, N'Marriage single modern tree.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (144, 144, N'Sell table fact company good.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (145, 145, N'Impact letter little detail.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (146, 146, N'Including understand bed father.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (147, 147, N'Current hour factor meeting.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (148, 148, N'Cold thus lawyer tree improve result.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (149, 149, N'Mother player draw former thus table.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (150, 150, N'I today hospital contain along.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (151, 151, N'Opportunity practice pressure.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (152, 152, N'One kitchen only.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (153, 153, N'Shoulder sea alone identify heart.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (154, 154, N'Cold simple particular.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (155, 155, N'Process back some yourself church.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (156, 156, N'Consider crime lay fact interesting.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (157, 157, N'Lose capital law company.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (158, 158, N'Represent suffer yard fine.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (159, 159, N'Thought number customer camera able animal.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (160, 160, N'However bill field food these.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (161, 161, N'Scientist arrive day.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (162, 162, N'Organization its time.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (163, 163, N'Town base dinner fund.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (164, 164, N'Group writer both.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (165, 165, N'Drive teacher finish station.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (166, 166, N'Enjoy run far.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (167, 167, N'Agent artist air.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (168, 168, N'Together toward stage film bring.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (169, 169, N'While hard to.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (170, 170, N'Agreement according organization degree.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (171, 171, N'Never country edge.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (172, 172, N'Risk society set.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (173, 173, N'Sure hospital property if.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (174, 174, N'Thought group beat little identify never.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (175, 175, N'Indeed floor become responsibility.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (176, 176, N'Least at issue of teacher.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (177, 177, N'Create common instead through read.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (178, 178, N'Own gun skill live.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (179, 179, N'Available discover risk.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (180, 180, N'Dog stand miss government.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (181, 181, N'Wait list your.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (182, 182, N'Dream walk stop church candidate town.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (183, 183, N'School already commercial draw.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (184, 184, N'Development well society.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (185, 185, N'Painting attack though term majority.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (186, 186, N'Nearly own more.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (187, 187, N'Apply measure wind hair director.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (188, 188, N'Role music physical baby catch land.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (189, 189, N'Bag direction summer key.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (190, 190, N'Field according want voice place.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (191, 191, N'Reach weight recently.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (192, 192, N'Reflect character agency phone break.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (193, 193, N'Ground call I medical.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (194, 194, N'Center civil crime close everybody.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (195, 195, N'Director since simply form agree stay.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (196, 196, N'Record listen see offer girl money.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (197, 197, N'Likely treat role.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (198, 198, N'Owner if such others country night.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (199, 199, N'Share certain girl threat exactly test.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (200, 200, N'Group around visit seem level.', 11)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (201, 201, N'Size provide wear become.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (202, 202, N'Fear which individual even.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (203, 203, N'Once show trade what usually grow.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (204, 204, N'Coach trade play class.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (205, 205, N'Institution number house pull.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (206, 206, N'Paper number another resource good.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (207, 207, N'Serious road figure every.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (208, 208, N'Really tend behavior interview young difficult.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (209, 209, N'Value drop attention cost discover these.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (210, 210, N'Show half value draw process practice.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (211, 211, N'Through there physical operation recent.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (212, 212, N'Food property respond produce election name.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (213, 213, N'Democrat machine financial.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (214, 214, N'Summer message beautiful find.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (215, 215, N'Involve join they do involve.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (216, 216, N'Wide Mr create.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (217, 217, N'Meeting lot while sing if exist.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (218, 218, N'Likely member others production foreign.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (219, 219, N'Vote inside than.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (220, 220, N'Animal many lead.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (221, 221, N'Crime letter building nice.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (222, 222, N'Must source analysis west born.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (223, 223, N'Light late discuss hold.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (224, 224, N'Region police child brother box.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (225, 225, N'Own among of.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (226, 226, N'Industry system friend blue between.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (227, 227, N'Tonight bill will during look.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (228, 228, N'From beat state half.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (229, 229, N'Entire draw mother.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (230, 230, N'Beyond attorney too little.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (231, 231, N'Job majority suffer conference.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (232, 232, N'At like again kid trial.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (233, 233, N'Class worry marriage last race job.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (234, 234, N'Whatever top phone attorney culture focus property.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (235, 235, N'Reach situation take experience.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (236, 236, N'Feel voice while worry research pick.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (237, 237, N'Realize others response her role.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (238, 238, N'Course task someone window.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (239, 239, N'In source save soon including.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (240, 240, N'Suggest phone leave mother.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (241, 241, N'Example consumer mission use like.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (242, 242, N'Especially someone likely increase second.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (243, 243, N'Area similar star.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (244, 244, N'Reduce difference position detail rich.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (245, 245, N'Administration upon practice man.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (246, 246, N'Generation police look hair week.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (247, 247, N'Argue marriage computer production reach.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (248, 248, N'Fly series leave dark.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (249, 249, N'Four force control seven.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (250, 250, N'Ability personal toward into large.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (251, 251, N'Carry these miss.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (252, 252, N'Green follow phone adult should.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (253, 253, N'Very plant sport.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (254, 254, N'Cell true fact.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (255, 255, N'Almost car no red major total.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (256, 256, N'Wall president the practice more shoulder.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (257, 257, N'Finish radio best appear.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (258, 258, N'Human institution yard although.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (259, 259, N'Wonder lot answer test themselves.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (260, 260, N'Investment third attorney.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (261, 261, N'Simply travel station various.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (262, 262, N'Student edge think call modern.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (263, 263, N'Threat statement model add everybody.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (264, 264, N'Summer message nearly.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (265, 265, N'Tonight mention book just bad us.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (266, 266, N'My bit even method him.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (267, 267, N'Or reflect expert feeling article.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (268, 268, N'Environment service per fish seat tonight.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (269, 269, N'Beyond mother character.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (270, 270, N'Leg for alone job.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (271, 271, N'Phone reach begin arm.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (272, 272, N'There race attorney tough.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (273, 273, N'Rate material measure better develop civil.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (274, 274, N'Long science quickly.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (275, 275, N'Worry PM cover big message she.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (276, 276, N'Protect type offer determine live bed.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (277, 277, N'Fund cold democratic still attorney key.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (278, 278, N'City continue child friend.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (279, 279, N'Lawyer through such service.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (280, 280, N'Mean radio anything.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (281, 281, N'Movie apply include walk tough challenge.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (282, 282, N'Hundred up election others deep.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (283, 283, N'Reduce shake question memory enter woman.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (284, 284, N'Major energy agree wide.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (285, 285, N'Attorney little everything story world store.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (286, 286, N'Really democratic party source movie debate.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (287, 287, N'Do drug nation.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (288, 288, N'It record kitchen nothing.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (289, 289, N'Against window explain.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (290, 290, N'Else dinner president.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (291, 291, N'Wish moment enough become environment.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (292, 292, N'Interview individual tough local step.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (293, 293, N'Choice miss talk science hard crime.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (294, 294, N'Brother form page up.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (295, 295, N'Stay teach either pull food.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (296, 296, N'Couple believe argue world economic.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (297, 297, N'Miss yard society everyone.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (298, 298, N'Former place form.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (299, 299, N'Through still during just.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (300, 300, N'Gun among outside fine answer.', 21)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (301, 301, N'Instead particularly same room some.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (302, 302, N'The near heavy final property political.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (303, 303, N'Compare down meeting.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (304, 304, N'Space letter fine message.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (305, 305, N'Sometimes break girl here.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (306, 306, N'Word PM major at.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (307, 307, N'All body anything science.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (308, 308, N'Population many her include middle whether.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (309, 309, N'On of two.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (310, 310, N'Language for south toward.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (311, 311, N'Concern always pay down start nature.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (312, 312, N'Natural daughter available environmental wait nice.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (313, 313, N'Plan main stay.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (314, 314, N'Late citizen dinner.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (315, 315, N'Short cost grow.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (316, 316, N'Somebody member risk social body.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (317, 317, N'Main north painting evening college above.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (318, 318, N'Onto seven maintain total.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (319, 319, N'Necessary well seem experience.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (320, 320, N'Ago peace main.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (321, 321, N'Sell already gas option.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (322, 322, N'Knowledge able course network.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (323, 323, N'The once because.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (324, 324, N'Certainly responsibility myself answer better little.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (325, 325, N'Often community event.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (326, 326, N'Institution school appear ball college coach.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (327, 327, N'A sister push across kitchen address.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (328, 328, N'Bring strategy rich big say modern.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (329, 329, N'Less audience way know go street.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (330, 330, N'Fact finally story might result model.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (331, 331, N'Soldier that process base south.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (332, 332, N'Article bring late list.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (333, 333, N'Same why protect.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (334, 334, N'Real fine focus notice actually.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (335, 335, N'Form clearly wall teach share wait.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (336, 336, N'Only thus usually couple.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (337, 337, N'Huge even put.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (338, 338, N'Range little cultural skill.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (339, 339, N'Lay artist spring.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (340, 340, N'Instead sea player firm.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (341, 341, N'Spring hope future feeling.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (342, 342, N'Who town television.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (343, 343, N'Quality baby area can.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (344, 344, N'Break check performance despite.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (345, 345, N'Management wall director moment.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (346, 346, N'Government middle hot almost detail.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (347, 347, N'Skin above maybe.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (348, 348, N'Financial improve specific size.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (349, 349, N'Talk several while.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (350, 350, N'Down knowledge pretty picture town enough.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (351, 351, N'Answer land talk war.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (352, 352, N'Play admit soon knowledge.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (353, 353, N'Five vote describe.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (354, 354, N'Order fine us either drive.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (355, 355, N'Oil article out.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (356, 356, N'Art author catch off thank.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (357, 357, N'Pressure bit majority piece detail.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (358, 358, N'Share whatever drive.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (359, 359, N'In eight security.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (360, 360, N'Trial family as.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (361, 361, N'Benefit class people.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (362, 362, N'How girl occur method.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (363, 363, N'Will cover manage network case page.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (364, 364, N'Wear phone positive win always message.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (365, 365, N'Trial read people seek approach.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (366, 366, N'Campaign more across two training.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (367, 367, N'Them author under institution.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (368, 368, N'During wife want enough.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (369, 369, N'Nice middle soldier feel.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (370, 370, N'Onto include soon quality.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (371, 371, N'Education need hand guy.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (372, 372, N'Animal strong must next.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (373, 373, N'Improve audience difficult.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (374, 374, N'Physical often range wrong consider.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (375, 375, N'Right design big according responsibility your.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (376, 376, N'Political team market work one.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (377, 377, N'Consumer word suggest yes effort.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (378, 378, N'Develop including stop politics.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (379, 379, N'Film price bank accept difficult do.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (380, 380, N'See do actually argue.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (381, 381, N'Defense share what.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (382, 382, N'Themselves project pay.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (383, 383, N'Method energy officer star yourself wide.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (384, 384, N'Design so other such just exactly.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (385, 385, N'Fire nearly source charge middle whatever.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (386, 386, N'Evening write available.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (387, 387, N'Meet may begin.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (388, 388, N'Scene approach half owner against time.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (389, 389, N'Owner part thus this.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (390, 390, N'Meeting nice sound watch remember.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (391, 391, N'Line accept get financial.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (392, 392, N'Here value imagine begin own her.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (393, 393, N'Worry big Mrs today.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (394, 394, N'Movie better source speech protect participant.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (395, 395, N'Analysis find blood baby.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (396, 396, N'Easy paper decision black relationship.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (397, 397, N'Personal cup few history sing.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (398, 398, N'Material bed owner.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (399, 399, N'Imagine perhaps yeah today ago.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (400, 400, N'Executive task use have.', 8)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (401, 401, N'Leader watch argue drive another.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (402, 402, N'Public create difference part box politics.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (403, 403, N'Sit view mind indeed term rest.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (404, 404, N'Travel area now happen hard door.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (405, 405, N'Determine building I performance.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (406, 406, N'Try between land require population worker.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (407, 407, N'Modern catch new yeah different.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (408, 408, N'Book strong ok increase first.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (409, 409, N'Talk age about oil cup participant attack.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (410, 410, N'Generation kitchen prepare create major with.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (411, 411, N'Walk agency quality century.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (412, 412, N'Billion project clearly.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (413, 413, N'Song single mother.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (414, 414, N'May dog test else.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (415, 415, N'Firm including weight.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (416, 416, N'Blue director you drug station building.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (417, 417, N'Lead whatever number ground foreign.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (418, 418, N'Individual myself out thus.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (419, 419, N'Hope serve sit network suddenly myself.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (420, 420, N'Local next support.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (421, 421, N'Picture nothing successful brother tough set.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (422, 422, N'Fly close during.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (423, 423, N'Story take fear base response.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (424, 424, N'Increase since worker.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (425, 425, N'Various three deep.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (426, 426, N'Task these amount lose policy consider.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (427, 427, N'Toward party order.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (428, 428, N'Might him positive area professional.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (429, 429, N'Almost provide become about food.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (430, 430, N'Prepare security wrong.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (431, 431, N'Less role firm.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (432, 432, N'Candidate ability arm claim there.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (433, 433, N'Task practice condition one manager air.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (434, 434, N'Behind song say for provide.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (435, 435, N'Race bank TV study.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (436, 436, N'Social six rule.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (437, 437, N'Training court sort thousand sport owner.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (438, 438, N'Step wear five.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (439, 439, N'Suffer other rule pattern whatever.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (440, 440, N'Language study degree training.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (441, 441, N'Rock apply want receive.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (442, 442, N'Success increase beyond along present ball.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (443, 443, N'Than mouth throw return.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (444, 444, N'Old eight keep energy environment start.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (445, 445, N'Rise public simple company fast.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (446, 446, N'Something drop board individual.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (447, 447, N'Clear many throughout opportunity be.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (448, 448, N'In many scientist someone.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (449, 449, N'Still eye rest him.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (450, 450, N'Effort him program fast like surface.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (451, 451, N'Poor you describe because everybody.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (452, 452, N'Boy structure dark activity.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (453, 453, N'Matter although article real likely need.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (454, 454, N'Magazine discover environmental red.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (455, 455, N'Fight agent husband create color which.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (456, 456, N'Hit enter memory shake peace building.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (457, 457, N'Officer specific hair bit.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (458, 458, N'Economy whom strong still sound include.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (459, 459, N'Well site them without.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (460, 460, N'Technology part another continue attack.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (461, 461, N'Herself American air read.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (462, 462, N'Daughter base capital today.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (463, 463, N'Year word business.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (464, 464, N'Organization those can.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (465, 465, N'Certain loss read food Mr.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (466, 466, N'Small particular modern.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (467, 467, N'Structure answer plant five role to.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (468, 468, N'Sit worker later.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (469, 469, N'Sort forward able body animal.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (470, 470, N'One at short land lead.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (471, 471, N'Eye floor strong tell.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (472, 472, N'Wall toward term.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (473, 473, N'Suffer often data yes reason.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (474, 474, N'Above ahead source.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (475, 475, N'World than performance born bank.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (476, 476, N'Play president affect.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (477, 477, N'Example PM dog.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (478, 478, N'Power through than themselves.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (479, 479, N'Job economy practice.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (480, 480, N'Should rather life.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (481, 481, N'Only may writer nice town bank.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (482, 482, N'Word boy hand suffer anyone.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (483, 483, N'Century your school.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (484, 484, N'Never field above thousand soon feel.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (485, 485, N'Ever upon address bank low.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (486, 486, N'Nothing pick month.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (487, 487, N'Produce shoulder matter player building.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (488, 488, N'Strategy both positive chair research.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (489, 489, N'Audience piece investment at nearly agency.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (490, 490, N'Democratic hear democratic environmental.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (491, 491, N'Product peace always.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (492, 492, N'Artist experience common recent you movement.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (493, 493, N'Value cup push address.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (494, 494, N'Price suffer through.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (495, 495, N'Majority color story.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (496, 496, N'Military manage form difference building before.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (497, 497, N'Training hundred crime mother ready finally.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (498, 498, N'Same keep since help bad couple.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (499, 499, N'Which skin skill toward place.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (500, 500, N'Political mind water general yeah.', 51)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (501, 501, N'Program with year structure tough style.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (502, 502, N'Senior picture spring wife hair discussion.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (503, 503, N'Key up fly hope phone low.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (504, 504, N'Industry possible customer never.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (505, 505, N'Source large fine first TV.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (506, 506, N'Fact card book amount none.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (507, 507, N'Hot stop painting successful back.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (508, 508, N'Kid leg ago.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (509, 509, N'Medical along federal.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (510, 510, N'Today hot main right.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (511, 511, N'Red institution analysis entire face.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (512, 512, N'Rock appear once behind phone history.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (513, 513, N'Current customer condition and research.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (514, 514, N'Build rich director.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (515, 515, N'Most cell live box reason game.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (516, 516, N'Feel past whose crime city.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (517, 517, N'Especially about help.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (518, 518, N'Fine education hot or with.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (519, 519, N'Participant knowledge leave month simply.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (520, 520, N'Response often task who.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (521, 521, N'Compare spend professional our tell cover.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (522, 522, N'Worker vote piece daughter smile.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (523, 523, N'New pattern city among action.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (524, 524, N'Behavior performance use crime recognize teach.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (525, 525, N'Be bad write serve.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (526, 526, N'Republican baby last benefit.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (527, 527, N'Significant like allow available decide.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (528, 528, N'Money sing close for.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (529, 529, N'Also wide property herself.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (530, 530, N'Great score between.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (531, 531, N'Kid deal long network garden gun.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (532, 532, N'Trial reflect place exactly.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (533, 533, N'Share talk similar protect within difference.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (534, 534, N'Fine month customer.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (535, 535, N'Way third subject trip conference.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (536, 536, N'Station effect seek.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (537, 537, N'Human hope agree.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (538, 538, N'Yard open summer property hard tough.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (539, 539, N'Reason same piece poor early pretty.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (540, 540, N'Look challenge mention.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (541, 541, N'Upon technology according ahead.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (542, 542, N'Senior huge relate car.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (543, 543, N'Him word person unit.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (544, 544, N'Maintain somebody discussion spring would media.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (545, 545, N'Tonight fall husband able try war.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (546, 546, N'Democrat nor strategy follow wonder international.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (547, 547, N'Her tonight must race house thought.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (548, 548, N'Today finally feeling wrong know.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (549, 549, N'Case standard agency realize simple.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (550, 550, N'Allow cultural establish together feeling product.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (551, 551, N'Major able decade job less see.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (552, 552, N'Start sport kid level fall.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (553, 553, N'Range open factor style consumer employee.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (554, 554, N'Notice since answer throw eye subject.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (555, 555, N'Brother pretty soon let lot no.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (556, 556, N'Effort become find attack discover.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (557, 557, N'Easy share lawyer pay tonight experience.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (558, 558, N'Record behavior while goal learn clear.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (559, 559, N'Interesting through together.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (560, 560, N'Huge cause up.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (561, 561, N'Bed find nothing head difference treat.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (562, 562, N'Game most as use world state mission.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (563, 563, N'Cup home board question raise.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (564, 564, N'Form be top somebody.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (565, 565, N'Stay environment subject.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (566, 566, N'Something hundred language nation push middle.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (567, 567, N'This mission interview long.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (568, 568, N'Fine listen law wind anything seek.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (569, 569, N'Fill him tell tonight to defense.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (570, 570, N'State teacher issue down.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (571, 571, N'Whole degree top choose whatever staff.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (572, 572, N'Throughout the system price car.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (573, 573, N'Feeling imagine indeed.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (574, 574, N'Republican nature law or body several.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (575, 575, N'Left lead return.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (576, 576, N'Baby onto coach yet hand suggest.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (577, 577, N'South model history.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (578, 578, N'Whose read street idea join.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (579, 579, N'Itself family scientist.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (580, 580, N'Already get find bar son.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (581, 581, N'Next where look.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (582, 582, N'Turn heart move behavior.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (583, 583, N'Tend ground name drive of read.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (584, 584, N'During continue marriage will artist natural.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (585, 585, N'Several western perform minute.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (586, 586, N'Seven firm chair prevent.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (587, 587, N'Indicate line food thus quite.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (588, 588, N'Rule pressure thousand data similar.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (589, 589, N'Half attack argue.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (590, 590, N'Interesting read person together have.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (591, 591, N'Throw realize assume those.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (592, 592, N'Among fear late when time write.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (593, 593, N'Training share go interesting foot shake.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (594, 594, N'Company they do be quickly eye.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (595, 595, N'Until happen child.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (596, 596, N'Kind single child soldier industry.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (597, 597, N'Look want good be dream.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (598, 598, N'Nature tree true live across suddenly.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (599, 599, N'Impact board hit three organization world.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (600, 600, N'Break cut measure wear.', 18)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (601, 601, N'Blood threat home ask spring.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (602, 602, N'Every product admit prepare quite.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (603, 603, N'Various they safe help.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (604, 604, N'Address information technology catch for single notice.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (605, 605, N'Fire during seven reveal Mr shake.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (606, 606, N'Direction present will instead different.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (607, 607, N'Subject condition partner figure ever.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (608, 608, N'Watch throughout enter little certainly.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (609, 609, N'A set director attorney either usually.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (610, 610, N'While space public without.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (611, 611, N'Myself discussion ok south child wait.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (612, 612, N'World coach hot because.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (613, 613, N'Risk friend price space east citizen assume.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (614, 614, N'Assume likely huge alone.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (615, 615, N'Poor within husband manage.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (616, 616, N'Thousand yourself himself.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (617, 617, N'Anything best or exactly let.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (618, 618, N'Become open least.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (619, 619, N'Baby teacher wide enter technology financial.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (620, 620, N'Strong take enter case security.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (621, 621, N'Place almost information picture.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (622, 622, N'Enough finally address white wear.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (623, 623, N'Term last force successful behavior.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (624, 624, N'Nothing bad receive impact coach.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (625, 625, N'Mouth debate serve picture majority.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (626, 626, N'Others think do for call.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (627, 627, N'Couple yes guy face entire.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (628, 628, N'Actually position marriage soon.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (629, 629, N'Type cost individual food soldier back.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (630, 630, N'Soon until for line leg.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (631, 631, N'Current health establish central early nor.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (632, 632, N'Base anything open my.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (633, 633, N'Experience good respond research evidence marriage.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (634, 634, N'Middle car three behind may.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (635, 635, N'Way game black make.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (636, 636, N'Quite represent recognize edge student.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (637, 637, N'Week PM culture.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (638, 638, N'Campaign lawyer then determine fact.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (639, 639, N'Senior apply new news trial.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (640, 640, N'Old radio writer.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (641, 641, N'Out report size identify best for.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (642, 642, N'First shake rock together garden action.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (643, 643, N'Last treatment situation hair social sea.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (644, 644, N'Option senior wish.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (645, 645, N'Later single operation force.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (646, 646, N'Pick strategy activity face.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (647, 647, N'Rather follow design understand.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (648, 648, N'Meet themselves nor win.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (649, 649, N'Community thought well.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (650, 650, N'Our food degree marriage night.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (651, 651, N'Moment exactly sing social she in.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (652, 652, N'Institution fight decision lead.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (653, 653, N'Firm treatment watch feel across.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (654, 654, N'Property color case develop area.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (655, 655, N'Senior successful behavior see.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (656, 656, N'Wait ability new our necessary theory.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (657, 657, N'Industry against remember poor there century.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (658, 658, N'Economic after establish company growth.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (659, 659, N'Organization president top question individual.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (660, 660, N'Which skin full any certainly.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (661, 661, N'Stop let whom not.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (662, 662, N'Town executive simple eat piece.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (663, 663, N'Structure defense police.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (664, 664, N'Rather forward blue.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (665, 665, N'Agreement design foot only hour agent.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (666, 666, N'Study business answer church effect.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (667, 667, N'Meeting stay now father control myself.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (668, 668, N'Lawyer old mouth.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (669, 669, N'Think school believe protect.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (670, 670, N'Care food drug despite speech.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (671, 671, N'Son reason listen same.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (672, 672, N'Or notice him me.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (673, 673, N'Four friend baby free some.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (674, 674, N'Degree feel relationship value.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (675, 675, N'Feel civil whether alone you trade.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (676, 676, N'Fill would seven measure.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (677, 677, N'Author society local building worry until.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (678, 678, N'Want wife understand.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (679, 679, N'Site yard focus behavior.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (680, 680, N'Crime daughter perhaps list run whether.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (681, 681, N'Laugh sound there book.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (682, 682, N'Present which current idea now.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (683, 683, N'Also agency stuff.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (684, 684, N'Approach happen culture.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (685, 685, N'Today actually at.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (686, 686, N'Whole group white care.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (687, 687, N'Factor world interview dark class source.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (688, 688, N'Both yes some prevent pretty war.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (689, 689, N'Too left thought realize agent.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (690, 690, N'Find strategy region.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (691, 691, N'Not thus city actually.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (692, 692, N'Few production executive trial visit.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (693, 693, N'Dinner but follow.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (694, 694, N'Listen now already.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (695, 695, N'Enter edge true thousand owner.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (696, 696, N'House performance student medical.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (697, 697, N'International western ahead vote.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (698, 698, N'Only make billion material.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (699, 699, N'Dark mouth claim agreement catch.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (700, 700, N'Address party democratic.', 56)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (701, 701, N'Approach early data guy.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (702, 702, N'Stock significant certain.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (703, 703, N'Son store class throughout accept million.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (704, 704, N'Right scene ability any.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (705, 705, N'Strong figure site foreign the.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (706, 706, N'Thousand ground nice property reflect each.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (707, 707, N'Body talk west major remain.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (708, 708, N'Subject simply news ground itself effect.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (709, 709, N'Yes season wonder.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (710, 710, N'Ready attack with teacher.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (711, 711, N'Shake participant begin.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (712, 712, N'Building marriage participant season.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (713, 713, N'Little work alone night.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (714, 714, N'Just population woman visit sit blood.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (715, 715, N'Expect talk right history weight list.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (716, 716, N'Building drive yeah.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (717, 717, N'Event thus live girl.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (718, 718, N'Kind heart eight.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (719, 719, N'Fill local experience nearly form force.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (720, 720, N'Live national could school approach.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (721, 721, N'Discussion environmental soldier late.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (722, 722, N'Risk issue seven.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (723, 723, N'Dog who decade ever red anyone.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (724, 724, N'Most put network foot agree miss.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (725, 725, N'Stage through as.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (726, 726, N'Discussion lawyer sometimes record crime about.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (727, 727, N'Ground couple near.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (728, 728, N'Development left sign.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (729, 729, N'At and store.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (730, 730, N'Threat father single.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (731, 731, N'Ready place you.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (732, 732, N'Above life sister quality.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (733, 733, N'Account defense field.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (734, 734, N'Article nature former front friend.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (735, 735, N'About record against listen realize whole.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (736, 736, N'End single role try concern thousand.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (737, 737, N'White hundred outside office century.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (738, 738, N'Church way soon half.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (739, 739, N'None decade business everyone find.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (740, 740, N'Pay page day strong month.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (741, 741, N'Forget because have bring say.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (742, 742, N'Outside reveal left.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (743, 743, N'Apply director phone.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (744, 744, N'Your personal put.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (745, 745, N'Kid lot staff.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (746, 746, N'Environmental difficult art well.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (747, 747, N'Set group particularly thus to product.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (748, 748, N'Sound baby few behind fish write.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (749, 749, N'Capital piece interesting letter.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (750, 750, N'Guess friend sure lay new cold.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (751, 751, N'Some smile magazine east.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (752, 752, N'Your second fire national.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (753, 753, N'Art Congress event attack fall allow.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (754, 754, N'Really TV education.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (755, 755, N'South service guy sound main.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (756, 756, N'Card put white.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (757, 757, N'Training paper what.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (758, 758, N'Could six run social within.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (759, 759, N'Player move local door lay market.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (760, 760, N'Customer majority movie.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (761, 761, N'Structure say language certain.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (762, 762, N'Room subject owner white close education.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (763, 763, N'Themselves born agent.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (764, 764, N'During movie discuss fund nor feeling.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (765, 765, N'Mean candidate personal.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (766, 766, N'Nearly main our single.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (767, 767, N'Develop whom argue risk that finally.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (768, 768, N'Energy vote many.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (769, 769, N'Simple girl front suddenly collection.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (770, 770, N'General parent fish far weight.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (771, 771, N'Politics to pass clear control page.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (772, 772, N'In expect network Mrs.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (773, 773, N'Leave answer positive for grow business.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (774, 774, N'Sign more weight with group.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (775, 775, N'Choice floor use within guy.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (776, 776, N'Toward no class million mouth former.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (777, 777, N'Community player office.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (778, 778, N'Doctor anything evening.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (779, 779, N'Particular story popular.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (780, 780, N'Fill still down difference any resource.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (781, 781, N'Particular project business.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (782, 782, N'Possible language play get operation action.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (783, 783, N'Run marriage from.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (784, 784, N'Lead or father issue city.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (785, 785, N'If capital letter ball ahead wonder.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (786, 786, N'Light mention part.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (787, 787, N'Fish before above partner start many.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (788, 788, N'Whom different citizen check.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (789, 789, N'Think increase national office room.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (790, 790, N'Decide act science.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (791, 791, N'Stock enough offer offer suffer.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (792, 792, N'North staff my.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (793, 793, N'Voice of drop team executive.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (794, 794, N'Forward several science.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (795, 795, N'True consumer clearly collection ability.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (796, 796, N'Oil law inside else level yard.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (797, 797, N'Continue piece cultural.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (798, 798, N'Hope large road firm us gun.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (799, 799, N'Move debate find section.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (800, 800, N'Season may old since share idea.', 45)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (801, 801, N'Age bit still.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (802, 802, N'Charge floor happen character.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (803, 803, N'Add baby stop.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (804, 804, N'Section across central drive everybody business.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (805, 805, N'Economy happy show.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (806, 806, N'Relate focus wind lose.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (807, 807, N'Effort song matter five real natural.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (808, 808, N'Low seat see.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (809, 809, N'Girl least entire.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (810, 810, N'Southern can southern away yourself.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (811, 811, N'He herself home remember.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (812, 812, N'Those mouth laugh real water then.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (813, 813, N'Before quite note language.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (814, 814, N'Material character poor suffer modern rich.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (815, 815, N'Go by talk base machine market.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (816, 816, N'Tell others stay doctor.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (817, 817, N'Who some management admit ahead.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (818, 818, N'Fear economic model upon.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (819, 819, N'Relate write church test travel.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (820, 820, N'Example they skill special.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (821, 821, N'Public doctor yes idea cell tend.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (822, 822, N'Want sort personal forget.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (823, 823, N'She such into answer southern determine.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (824, 824, N'Decision understand himself hit.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (825, 825, N'Street natural teach assume.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (826, 826, N'Agent situation garden which treatment.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (827, 827, N'These during eye.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (828, 828, N'Nation room wall particular sometimes.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (829, 829, N'Lay yeah during know.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (830, 830, N'Part live husband.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (831, 831, N'Available artist himself mouth something.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (832, 832, N'Industry forward responsibility.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (833, 833, N'Cell hard realize writer.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (834, 834, N'Owner break guess so.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (835, 835, N'Factor your though voice national way.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (836, 836, N'Movement instead material without.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (837, 837, N'Large analysis require.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (838, 838, N'Sometimes administration strong campaign.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (839, 839, N'Upon rest step themselves how.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (840, 840, N'Deep unit born over.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (841, 841, N'Someone cause want four find you.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (842, 842, N'Rather assume time myself operation.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (843, 843, N'Knowledge school believe.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (844, 844, N'Treat take name discuss team present.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (845, 845, N'Military light clear ready body hospital.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (846, 846, N'Unit audience service.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (847, 847, N'Itself play pass popular.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (848, 848, N'Appear form tend whether result.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (849, 849, N'Play ready policy value.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (850, 850, N'Series hot page concern.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (851, 851, N'Particularly along office.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (852, 852, N'Note challenge environmental we.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (853, 853, N'Although everyone trip base skin around.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (854, 854, N'Prevent authority appear forward.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (855, 855, N'Method raise west prevent pull control.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (856, 856, N'Day value million response.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (857, 857, N'Character Democrat each.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (858, 858, N'Bad maintain challenge cell once.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (859, 859, N'Begin leg parent.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (860, 860, N'Your matter woman group safe.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (861, 861, N'Let reveal would measure part.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (862, 862, N'Will eat human lose hot hospital.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (863, 863, N'Report air can late.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (864, 864, N'Head still professor country political carry.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (865, 865, N'Station remain involve citizen dog offer.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (866, 866, N'Easy drug draw.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (867, 867, N'We group face.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (868, 868, N'Amount five would third.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (869, 869, N'Able bank instead myself.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (870, 870, N'Game kind and drop.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (871, 871, N'Small show can police American too.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (872, 872, N'Left why party history.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (873, 873, N'Perform will tonight until.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (874, 874, N'Nice former information.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (875, 875, N'House cold take good game better.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (876, 876, N'Physical these into almost.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (877, 877, N'Certainly impact they mind.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (878, 878, N'Key defense reason offer.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (879, 879, N'Industry the minute view woman certain movement.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (880, 880, N'Old south true hotel agency.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (881, 881, N'Wife church sound mention include card.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (882, 882, N'Capital without glass.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (883, 883, N'Range lot charge.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (884, 884, N'Get green structure blood.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (885, 885, N'Between speech fight.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (886, 886, N'Begin down within alone.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (887, 887, N'Natural management technology.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (888, 888, N'History before most travel act our.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (889, 889, N'Develop news building series give send.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (890, 890, N'Performance free tend past.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (891, 891, N'Civil population hear one set.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (892, 892, N'Science kitchen just data build.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (893, 893, N'As culture exist behind cost.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (894, 894, N'Over care pressure choice.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (895, 895, N'Picture away do.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (896, 896, N'Bring then state pretty.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (897, 897, N'Never top magazine effect relationship.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (898, 898, N'Chair raise leader.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (899, 899, N'Would certain picture blue knowledge.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (900, 900, N'Partner who at.', 27)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (901, 901, N'Not set believe yet successful.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (902, 902, N'Arm single case.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (903, 903, N'Shake appear continue.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (904, 904, N'News need practice.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (905, 905, N'Fill when require see agent.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (906, 906, N'Soldier skin director cause.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (907, 907, N'Candidate time environmental.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (908, 908, N'Green society candidate to public rest.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (909, 909, N'Nearly themselves I reason happen hotel.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (910, 910, N'Member whatever new watch shake.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (911, 911, N'Month people especially.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (912, 912, N'Air alone few kitchen party education.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (913, 913, N'Report with some information kid fear.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (914, 914, N'Mean point must western my never personal.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (915, 915, N'Detail threat rule.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (916, 916, N'Huge they base spring key serve.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (917, 917, N'Nature standard the plant.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (918, 918, N'Agent chair determine month large garden.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (919, 919, N'Window vote how positive.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (920, 920, N'Environment daughter factor quickly parent partner.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (921, 921, N'Know you interview property home.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (922, 922, N'Myself my force force relationship.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (923, 923, N'Ground newspaper idea same practice class.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (924, 924, N'Growth determine morning serve.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (925, 925, N'Industry toward audience run.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (926, 926, N'Color near support blue them.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (927, 927, N'Me suddenly reduce our resource.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (928, 928, N'East always speech pressure sit.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (929, 929, N'Actually material wall north accept need visit.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (930, 930, N'Better popular physical standard exist experience.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (931, 931, N'Bad evening win despite south break.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (932, 932, N'Time already finally make second travel.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (933, 933, N'Painting something either anything because win.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (934, 934, N'Let network while heavy.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (935, 935, N'View account you window buy.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (936, 936, N'Citizen write ask risk.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (937, 937, N'Mission whatever program.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (938, 938, N'Finish forward military oil fear only.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (939, 939, N'Condition policy control.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (940, 940, N'Population later phone heavy.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (941, 941, N'Enjoy career table business job explain.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (942, 942, N'Avoid example yes according go service.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (943, 943, N'Career us suggest wind.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (944, 944, N'Chance by home hand point.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (945, 945, N'Soldier crime material word reveal.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (946, 946, N'General movement decision.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (947, 947, N'At drive production.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (948, 948, N'Seat whatever Congress.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (949, 949, N'Choose stand late need plan.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (950, 950, N'Capital produce increase easy.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (951, 951, N'Sense thousand common from style.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (952, 952, N'Whatever notice health.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (953, 953, N'Week debate authority task.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (954, 954, N'Wear air consider.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (955, 955, N'Figure religious meet pattern heavy organization.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (956, 956, N'Those Congress in level.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (957, 957, N'Month cup theory.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (958, 958, N'Role state truth coach not hundred.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (959, 959, N'Role myself two with memory owner.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (960, 960, N'Parent degree color data.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (961, 961, N'Degree someone step.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (962, 962, N'Candidate effort perform stock.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (963, 963, N'Thousand partner through hard keep.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (964, 964, N'Page remember real condition among between.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (965, 965, N'Nature accept will good away job.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (966, 966, N'Six become million return.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (967, 967, N'Although cell reduce.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (968, 968, N'Appear relationship PM reveal edge reflect.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (969, 969, N'Image drop name budget also response.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (970, 970, N'Step level commercial.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (971, 971, N'Student prepare young.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (972, 972, N'Them theory ground keep protect.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (973, 973, N'Tree ok factor out.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (974, 974, N'He contain particular upon cell.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (975, 975, N'During term boy board concern.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (976, 976, N'Form standard phone theory require will.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (977, 977, N'Entire level outside.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (978, 978, N'Maybe into ready third.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (979, 979, N'Always somebody issue number throw old.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (980, 980, N'Interesting character keep north.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (981, 981, N'Imagine one owner society.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (982, 982, N'Lawyer artist color clearly deep manage.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (983, 983, N'Style power others control edge language.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (984, 984, N'Story value outside central account.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (985, 985, N'Probably house move operation.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (986, 986, N'Produce account offer.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (987, 987, N'Mention under per economy house.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (988, 988, N'Outside identify officer mouth community especially.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (989, 989, N'Positive low artist until color boy.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (990, 990, N'Kitchen light bring.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (991, 991, N'Past child leave authority some physical.', 49)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (992, 992, N'Source sister ability show parent join.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (993, 993, N'Amount these my well by magazine.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (994, 994, N'Military less finish though.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (995, 995, N'Happy attack always.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (996, 996, N'Recognize find six same agreement sound.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (997, 997, N'Side create attorney.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (998, 998, N'Fire gun establish need.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (999, 999, N'Available final again control.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1000, 1000, N'Sea significant car.', 35)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1001, 1001, N'Reveal soldier whether loss above bag.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1002, 1002, N'Left oil sit someone something.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1003, 1003, N'Draw task remember development.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1004, 1004, N'Mrs consider minute.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1005, 1005, N'Main almost mouth hand and Mr identify.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1006, 1006, N'Cover out country east last.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1007, 1007, N'Family democratic prevent quality so the.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1008, 1008, N'Item join necessary spend both tell.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1009, 1009, N'Week you clear much environmental.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1010, 1010, N'Much experience writer.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1011, 1011, N'Need former cold.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1012, 1012, N'Human remember fear question.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1013, 1013, N'Certain hundred future behind inside company.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1014, 1014, N'Today notice center.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1015, 1015, N'Follow miss loss news.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1016, 1016, N'Down audience set.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1017, 1017, N'Attorney role lose many actually.', 2)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1018, 1018, N'Anyone for grow.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1019, 1019, N'Article policy give energy others glass.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1020, 1020, N'American range thank walk leader feel.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1021, 1021, N'Want our south ready.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1022, 1022, N'Wall fear candidate will seat seat.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1023, 1023, N'Near child thus.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1024, 1024, N'Range nation hospital law degree.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1025, 1025, N'My necessary federal fill catch deep.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1026, 1026, N'Whatever too tax.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1027, 1027, N'Because garden population.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1028, 1028, N'Both method fast newspaper grow natural.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1029, 1029, N'My bad lot although manage.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1030, 1030, N'Tend foot at consumer prove let.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1031, 1031, N'Cold some main attack security health.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1032, 1032, N'Another national else effort.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1033, 1033, N'Our join data.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1034, 1034, N'Movement take best program.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1035, 1035, N'Send little us several your camera.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1036, 1036, N'Discover enter simple.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1037, 1037, N'Avoid education site.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1038, 1038, N'Act hotel face.', 17)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1039, 1039, N'Letter eat board.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1040, 1040, N'Foot this including.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1041, 1041, N'House indicate away account well sometimes.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1042, 1042, N'None fall new evening.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1043, 1043, N'Newspaper knowledge central.', 27)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1044, 1044, N'Relationship story pull field brother tree.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1045, 1045, N'Style certain rock.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1046, 1046, N'Letter she case audience.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1047, 1047, N'They show voice line.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1048, 1048, N'Type floor account ever effort.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1049, 1049, N'Song set prevent poor.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1050, 1050, N'Price page pick.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1051, 1051, N'Politics long change.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1052, 1052, N'Message protect new focus.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1053, 1053, N'Gas wish administration responsibility collection.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1054, 1054, N'Serve fund hear positive.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1055, 1055, N'Officer fast song check in.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1056, 1056, N'Real citizen mission.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1057, 1057, N'Box child budget.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1058, 1058, N'Probably new door window consumer.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1059, 1059, N'Worker commercial throughout everyone.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1060, 1060, N'Two remember shake lot.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1061, 1061, N'Coach late trade act glass.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1062, 1062, N'Pressure budget over career kid method.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1063, 1063, N'Direction start toward firm yet.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1064, 1064, N'Page nation five building avoid.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1065, 1065, N'Court among because down candidate wide.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1066, 1066, N'Positive soldier chair.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1067, 1067, N'Strategy my hour.', 8)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1068, 1068, N'Nice alone foot watch purpose beautiful.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1069, 1069, N'Weight design yourself.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1070, 1070, N'Already morning something official.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1071, 1071, N'Recent guy care type to per.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1072, 1072, N'Add might for.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1073, 1073, N'Not the participant police.', 7)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1074, 1074, N'Last face believe likely letter.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1075, 1075, N'Imagine thank dream.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1076, 1076, N'Politics customer could.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1077, 1077, N'Near along mouth alone turn factor.', 21)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1078, 1078, N'Fact smile after loss cup four.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1079, 1079, N'Even history if use.', 56)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1080, 1080, N'Degree wrong girl many cost understand.', 11)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1081, 1081, N'Bar still rather heart area your.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1082, 1082, N'Opportunity network happy popular PM.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1083, 1083, N'They structure power out.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1084, 1084, N'Performance care meeting reality per garden.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1085, 1085, N'Whom represent get gas fall clear.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1086, 1086, N'Start could past human one.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1087, 1087, N'School dinner six.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1088, 1088, N'Dog ball strong.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1089, 1089, N'Break school bit.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1090, 1090, N'Popular we strategy soon parent.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1091, 1091, N'Next responsibility sign.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1092, 1092, N'Reveal spend allow great.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1093, 1093, N'Officer lot heavy between.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1094, 1094, N'Player gas since message build take.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1095, 1095, N'Economic born speak.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1096, 1096, N'Poor share positive country home participant.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1097, 1097, N'Writer report exactly.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1098, 1098, N'Those deal guy hope.', 24)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1099, 1099, N'Staff station former send remember.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1100, 1100, N'Heavy travel strategy we page.', 50)
GO

In [0]:
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1101, 1101, N'Simple you so political.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1102, 1102, N'Economy personal forward.', 34)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1103, 1103, N'Near certain certainly whose human court.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1104, 1104, N'Letter staff street first.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1105, 1105, N'Where laugh firm guy.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1106, 1106, N'Pay form just.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1107, 1107, N'Able music interesting purpose ten rest.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1108, 1108, N'Medical when art somebody ready.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1109, 1109, N'Usually civil yet term.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1110, 1110, N'Huge first still set sometimes social.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1111, 1111, N'American reflect whatever vote hope.', 1)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1112, 1112, N'Character rock morning if use.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1113, 1113, N'Write environmental feeling same away compare.', 20)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1114, 1114, N'Service condition Congress.', 12)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1115, 1115, N'Citizen economic apply wonder yourself fill.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1116, 1116, N'Whether present evidence station issue rule.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1117, 1117, N'Floor ok card.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1118, 1118, N'Radio instead interview out.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1119, 1119, N'Mind career top peace.', 55)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1120, 1120, N'Speech agent possible practice lay.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1121, 1121, N'Try senior method.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1122, 1122, N'Walk sit range citizen without mission.', 45)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1123, 1123, N'Pm mother resource learn resource.', 16)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1124, 1124, N'Family task trip many feel yes.', 59)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1125, 1125, N'Sea attack hope law.', 30)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1126, 1126, N'Fact bad black force hit.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1127, 1127, N'Debate newspaper such.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1128, 1128, N'Child shake whatever agree treatment color.', 6)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1129, 1129, N'Design rise young.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1130, 1130, N'Good keep party why without adult.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1131, 1131, N'Where discuss own million war age.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1132, 1132, N'Early no good live parent tough.', 36)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1133, 1133, N'Series bring gas.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1134, 1134, N'Near stand agreement music character require.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1135, 1135, N'Begin city wall.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1136, 1136, N'Government chance sometimes long I.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1137, 1137, N'Consider painting see.', 48)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1138, 1138, N'Day face old.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1139, 1139, N'Know war take.', 35)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1140, 1140, N'Team away camera subject enter keep.', 42)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1141, 1141, N'Prepare realize reduce direction wonder.', 33)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1142, 1142, N'Sound serve through agent each author.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1143, 1143, N'Better two oil worker better.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1144, 1144, N'Ball wall wish.', 28)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1145, 1145, N'Meet brother left sing realize per.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1146, 1146, N'Pretty better require marriage statement.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1147, 1147, N'Laugh happy small building however system.', 31)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1148, 1148, N'Church hard hope responsibility.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1149, 1149, N'Often sound according degree recognize.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1150, 1150, N'Program able building everything say.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1151, 1151, N'Media hot city.', 13)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1152, 1152, N'Million police follow factor.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1153, 1153, N'Owner rise sell month across could.', 3)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1154, 1154, N'Eight rather change at.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1155, 1155, N'Item approach part movement eat Republican.', 18)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1156, 1156, N'Type represent necessary general.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1157, 1157, N'Reduce so risk PM.', 51)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1158, 1158, N'Everything body training cover.', 9)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1159, 1159, N'Institution value move.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1160, 1160, N'Soldier case recognize.', 14)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1161, 1161, N'Beautiful rise different than.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1162, 1162, N'Son story because task.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1163, 1163, N'Already doctor movie wind.', 25)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1164, 1164, N'Become the say now.', 29)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1165, 1165, N'Bag exactly state sea.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1166, 1166, N'Yard staff source.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1167, 1167, N'Cell deep us road.', 4)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1168, 1168, N'Next author relationship senior red.', 23)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1169, 1169, N'Tree nice fear task economy same.', 46)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1170, 1170, N'Response out factor country ever market.', 15)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1171, 1171, N'State none me size much wear.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1172, 1172, N'Whom view soldier market knowledge administration.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1173, 1173, N'You special thing.', 19)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1174, 1174, N'Seek report industry.', 38)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1175, 1175, N'Herself president live certainly our.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1176, 1176, N'Indeed although control yourself arrive record.', 44)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1177, 1177, N'Worker dream husband.', 37)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1178, 1178, N'Style news protect wish news even.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1179, 1179, N'Form even foot party expect.', 50)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1180, 1180, N'Audience try itself herself.', 32)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1181, 1181, N'National stuff star.', 60)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1182, 1182, N'Attack education beautiful yourself.', 22)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1183, 1183, N'Century specific staff owner story.', 10)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1184, 1184, N'Camera radio marriage in recent.', 52)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1185, 1185, N'Coach many air.', 39)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1186, 1186, N'Dinner degree type sound boy.', 41)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1187, 1187, N'Poor hit travel.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1188, 1188, N'Peace watch skin.', 47)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1189, 1189, N'Make pass quickly.', 57)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1190, 1190, N'Main hold magazine.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1191, 1191, N'Somebody my need.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1192, 1192, N'Choice per order whole difference.', 53)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1193, 1193, N'Compare within able.', 40)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1194, 1194, N'The director board form area positive.', 26)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1195, 1195, N'Clear party son environmental old.', 58)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1196, 1196, N'Day century life.', 43)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1197, 1197, N'Determine put list.', 54)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1198, 1198, N'Picture act rock wonder some.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1199, 1199, N'Central business force alone effort.', 5)
INSERT [dbo].[treatments] ([treatment_id], [appointment_id], [treatment_description], [treatment_duration]) VALUES (1200, 1200, N'Always best investment.', 1)
GO

# [FK__appointme__docto__3C69FB99]

In [0]:
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([doctor_id])
GO

# [FK__appointme__patie__3B75D760]

In [0]:
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([patient_id])
GO

# [FK__treatment__appoi__3F466844]

In [0]:
ALTER TABLE [dbo].[treatments]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([appointment_id])
GO